<div class="col-sm-12 tabing">
			<div class="ml-3 mr-3">
				<div class="row">
					<div class="col-sm-2">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item" (click)="changeFrameUrl('AvailableUrl')">
								<a class="nav-link active show" data-toggle="tab" href="#available"  role="tab" aria-controls="available" aria-selected="true">Available</a>
							  </li>
							  <li class="nav-item" (click)="changeFrameUrl('chainEvent')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="chain-event" aria-selected="false">Chain Event</a>
							  </li>
							  <li class="nav-item" (click)="changeFrameUrl('ProcedureTemplateUrl')">
								<a class="nav-link" data-toggle="tab"  role="tab" href="#available" aria-controls="procedure-templates" aria-selected="false">Procedure Templates</a>
							  </li>
							  <li class="nav-item" (click)="changeFrameUrl('ProviderScheduleUrl')">
								<a class="nav-link" data-toggle="tab" href="#available"  role="tab" aria-controls="provider-schedule" aria-selected="false">Provider Schedule</a>
							  </li>
                <li class="nav-item" (click)="changeFrameUrl('ScheduleReasonUrl')">
                <a class="nav-link" data-toggle="tab" href="#available"  role="tab" aria-controls="schedule-reasons" aria-selected="false">Schedule Reasons</a>
                </li>
                <li class="nav-item" (click)="changeFrameUrl('ScheduleStatusUrl')">
								<a class="nav-link" data-toggle="tab" href="#available"  role="tab" aria-controls="schedule-status" aria-selected="false">Schedule Status</a>
							  </li>
                <li class="nav-item" (click)="changeFrameUrl('ScheduleTemplateUrl')">
								<a class="nav-link" data-toggle="tab" href="#available"  role="tab" aria-controls="schedule-templates" aria-selected="false">Schedule Templates</a>
							  </li>
						</ul>

					</div>
					<div class="col-sm-10">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade active show" id="available" role="tabpanel" aria-labelledby="available">
									<div>
										<iframe
										(load)="onLoad()"
										frameborder="0"
										allowfullscreen
										 [src]="CommonUrl"></iframe>
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
