<div class="col-md-12">
    <div class="table-responsive">
        <p-table [value]="locations" class="ecl-table purchaseorder-ptable" [scrollable]="true" [style]="{width:'100%'}"
            scrollHeight="65vh">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th>Order No.</th>
                    <th>Order Type</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Last Name</th>
                    <th>Patient No.</th>
                    <th>Qty Requested</th>
                    <th>Qty Received</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-location>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>