<div *ngIf="ofterSalesView">
<nav class="ecl-subnavbar fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-2 float-left navbar-title">
            <h2>After Sales</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-10">
            <li class="nav-item">
                <a class="nav-link"> Reprocess
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> Warranty </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"> Return </a>
            </li>
            <li class="nav-item" (click)="returnWizard()">
                <a class="nav-link"> Exchange </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3 border-bottom">
    <div class="row form-row">
        <div class="form-group col-sm-2">
            <label>Order </label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-2">
            <label for="Collection">Order Date</label>
            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>
        <div class="form-group col-sm-2">
            <label>Order Status</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-3">
            <label>Patient</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col">
            <label for="" class="label-empty"></label>
            <button class="btn btn-primary py-2"> <i class="ti-search"></i> Search</button>
        </div>
    </div>
</div>



<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table #dt [value]="aftersales" [columns]="aftersales" [scrollable]="true" [paginator]="true" [rows]="12"
            [rowsPerPageOptions]="[10]" [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true"
            [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple" [style]="{width:'100%'}">
            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col *ngFor="let col of aftersales" style="width:120px">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of aftersales">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-column="aftersales">
                <!-- <tr>
                    <td *ngFor="let col of aftersales">
                        {{rowData[col.field]}}
                    </td>
                </tr> -->
            </ng-template>
        </p-table>
    </div>
</div>

</div>



<form *ngIf="othersView">
    <div class="card order-other-discount">
        <div class="card-header">After Sales</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="form-group col-sm-2">
                            <label>Order </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="Collection">Order Date</label>
                            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                        </div>
                        <div class="form-group col-sm-2">
                            <label>Order Status</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label>Patient</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label for="" class="label-empty"></label>
                            <button class="btn btn-primary py-2"> <i class="ti-search"></i> Search</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table #dt [value]="aftersales" [columns]="aftersales" [scrollable]="true" [responsive]="true" [style]="{width:'100%'}">
                            <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col *ngFor="let col of aftersales" style="width:120px">
                                </colgroup>
                            </ng-template>
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of aftersales">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-column="aftersales">
                                <tr>
                                        <td *ngFor="let col of aftersales">
                                            {{rowData[col.field]}}
                                        </td>
                                    </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary float-right">Close</button>
                <button type="button" class="btn btn-primary float-right" (click)="returnWizard()">Exchange</button>
                <button type="button" class="btn btn-primary float-right">Return</button>
                <button type="button" class="btn btn-primary float-right">Warranty</button>
                <button type="button" class="btn btn-primary float-right">Reprocess</button>
            </div>
        </div>
    </div>
</form>


<!-- After Sales  -->
<div *ngIf="returnWizardSidebar">
    <p-sidebar [(visible)]="returnWizardSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-returnas-wizard></app-returnas-wizard>
    </p-sidebar>
</div>