.test {
  margin: 20px;
}

  body {
    margin: 0px;
    padding: 0px;	
      font-family: Arial, Helvetica, "sans-serif";
    font-size: 12pt;
  }
  * {
    box-sizing: border-box;
  }
  .container {
    width: 95%;
    margin: 15px auto;
    padding: 10px;
    height: 100%;
  }
  .col {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .col li{ 
    float: left;
  }
  .col-one li{
    /* width: 98.5%; */
    float: left;
    /* border: 1pt solid #000000; */
    /* margin: .75%;
    padding: .75%;
    border-radius: 5pt; */
  }
  .col-two li{
    /* width: 48.5%; */
    float: left;
    /* border: 1pt solid #000000; */
    /* margin: .75%;
    padding: .75%;
    border-radius: 5pt; */
  }
  .col-three li{
    /* width: 31.83333333333333%; */
    float: left;
    /* border: 1pt solid #000000; */
    /* margin: .75%;
    padding: .75%;
    border-radius: 5pt; */
  }
  .col-four li{
    /* width: 23.5%; */
    float: left;
    /* border: 1pt solid #000000; */
    /* margin: .75%;
    padding: .75%;
    border-radius: 5pt; */
  }





 