<div class="card">
    <div class="card-header">Reports - Frame Barcode Labels</div>


    <div class="card-body" *ngIf="FrameData">
        <div class="container">
            <div id="printsection" class="content page" size="A4" [style.padding-top]="topMargin"
                [style.padding-right]="rightMargin" [style.padding-left]="leftMargin"
                [style.padding-bottom]="bottomMargin">
                <!-- (i%(Columns - 1) == 0) ? 0:columnSpacing -->
                <div [style.width]="coloumnCalWidth">
                    <ul class="{{printStyleClass}}">
                        <li *ngFor="let barcodeData of barcodeGridData;let i = index" [style.width]="widthMargin"
                            [style.margin-bottom]="rowSpacing" [style.margin-right]="this.excludeLableMargin[i]">
                            <div style="border: 1px solid #000000; text-align: center; border-radius: 4px; "
                                [style.width]="widthMargin" [style.height]="heightMargin">

                                <ngx-barcode6 *ngIf="barcode" [bc-element-type]="elementType"
                                    [bc-value]="barcodeData.upc_code" [bc-format]="format" [bc-line-color]="lineColor"
                                    [bc-width]="width" [bc-height]="height" [bc-font-options]="fontOptions"
                                    [bc-font]="font" [bc-display-value]="displayValue" [bc-text-align]="textAlign"
                                    [bc-text-position]="textPosition" [bc-text-margin]="textMargin"
                                    [bc-font-size]="fontSize" [bc-background]="background" [bc-margin]="margin"
                                    [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom"
                                    [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode6>
                                <div style="text-align: center">
                                    <div style="font-size:10px; display: inline-block" *ngIf="manufacturer">
                                        {{barcodeData.manufacturer?.manufacturer_name}}</div>
                                    <div style="font-size:10px; display: inline-block" *ngIf="color">
                                        {{barcodeData.color}}</div>
                                    <div style="font-size:10px; display: inline-block" *ngIf="brand">
                                        {{barcodeData.brand}}</div>
                                    <div style="font-size:10px; display: inline-block" *ngIf="color_code">
                                        {{barcodeData.color_code}}</div>
                                </div>
                                <div style="text-align: center">
                                    <div style="font-size:10px;" *ngIf="name">{{barcodeData.name}}</div>
                                    <div style="font-size:10px;" *ngIf="eye">{{barcodeData.eye}}</div>
                                    <div style="font-size:10px;" *ngIf="bridge">{{barcodeData.bridge}}</div>
                                    <div style="font-size:10px;" *ngIf="temple">{{barcodeData.temple}}</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <!-- padding: 12px 10px;   padding-top:10px; padding-right:10px; padding-bottom:10px; padding-left:10px; width:200px; height:100px ;  -->
    <div class="card-body" id="print-section" *ngIf="SpectacleData">
        <div class="container">
            <div class="content" style="margin-top: 20px;">
                <ul class="{{testeradata}}">
                    <li *ngFor="let barcodeData of this.barcodeGridData" [style.width]="noOfColums"
                        [style.margin-bottom]="rowSpacing">
                        <div style="border: 1px solid #000000; text-align: center; border-radius: 4px; "
                            [style.padding-top]="topMargin" [style.padding-right]="rightMargin"
                            [style.padding-left]="leftMargin" [style.padding-bottom]="bottomMargin"
                            [style.width]="widthMargin" [style.height]="heightMargin">
                            <ngx-barcode6 [bc-element-type]="elementType" [bc-value]="barcodeData.upc_code"
                                [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"
                                [bc-font-options]="fontOptions" [bc-font]="font" [bc-display-value]="displayValue"
                                [bc-text-align]="textAlign" [bc-text-position]="textPosition"
                                [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                                [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom"
                                [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode6>

                            <div style="margin-left: 15px;font-size:10px ">
                                {{barcodeData.manufacturer?.manufacturer_name}}
                                {{barcodeData.color}} </div>
                            <div style="margin-left: 15px;font-size:10px">{{barcodeData.retail_price}}
                                {{barcodeData.color_code}}</div>
                            <div style="margin-left: 15px;font-size:10px"> {{barcodeData.style}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card-body" id="print-section" *ngIf="ContactData">
        <div class="container">
            <div class="content" style="margin-top: 20px;">
                <ul class="{{testeradata}}">
                    <li *ngFor="let barcodeData of this.barcodeGridData" [style.width]="noOfColums"
                        [style.margin-bottom]="rowSpacing">
                        <div style="border: 1px solid #000000; text-align: center; border-radius: 4px; "
                            [style.padding-top]="topMargin" [style.padding-right]="rightMargin"
                            [style.padding-left]="leftMargin" [style.padding-bottom]="bottomMargin"
                            [style.width]="widthMargin" [style.height]="heightMargin">
                            <ngx-barcode6 [bc-element-type]="elementType" [bc-value]="barcodeData.upc_code"
                                [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"
                                [bc-font-options]="fontOptions" [bc-font]="font" [bc-display-value]="displayValue"
                                [bc-text-align]="textAlign" [bc-text-position]="textPosition"
                                [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                                [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom"
                                [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode6>

                            <div style="margin-left: 15px;font-size:10px ">{{barcodeData.brand}}
                                {{barcodeData.retail_price}} </div>

                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="card-body" id="print-section" *ngIf="OthersData">
        <div class="container">
            <div class="content" style="margin-top: 20px;">
                <ul class="{{testeradata}}">
                    <li *ngFor="let barcodeData of this.barcodeGridData" [style.width]="noOfColums"
                        [style.margin-bottom]="rowSpacing">
                        <div style="border: 1px solid #000000; text-align: center; border-radius: 4px; "
                            [style.padding-top]="topMargin" [style.padding-right]="rightMargin"
                            [style.padding-left]="leftMargin" [style.padding-bottom]="bottomMargin"
                            [style.width]="widthMargin" [style.height]="heightMargin">
                            <ngx-barcode6 [bc-element-type]="elementType" [bc-value]="barcodeData.upc_code"
                                [bc-format]="format" [bc-line-color]="lineColor" [bc-width]="width" [bc-height]="height"
                                [bc-font-options]="fontOptions" [bc-font]="font" [bc-display-value]="displayValue"
                                [bc-text-align]="textAlign" [bc-text-position]="textPosition"
                                [bc-text-margin]="textMargin" [bc-font-size]="fontSize" [bc-background]="background"
                                [bc-margin]="margin" [bc-margin-top]="marginTop" [bc-margin-bottom]="marginBottom"
                                [bc-margin-left]="marginLeft" [bc-margin-right]="marginRight"></ngx-barcode6>

                            <div style="margin-left: 15px;font-size:10px ">{{barcodeData.name}}
                                {{barcodeData.retail_price}} </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p-dialog class="dataview-popup" header="AdvanceFilter" [(visible)]="advFilter" [modal]="true" [responsive]="true"
        [width]="350" [minWidth]="200" [minY]="50">
        <div class="card">
            <div class="card-body" style="height: 200px;">

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm">OK</button>
            </div>
        </div>
    </p-dialog>
    <p-dialog class="dataview-popup" header="Sort" [(visible)]="sortFilter" [modal]="true" [responsive]="true"
        [width]="350" [minWidth]="200" [minY]="50">
        <div class="card">
            <div class="card-body" style="height: 200px;">

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm">OK</button>
            </div>
        </div>
    </p-dialog>
    <p-dialog class="dataview-popup" header="Printer Setup" [(visible)]="printerSetup" [modal]="true"
        [responsive]="true" [width]="350" [minWidth]="200" [minY]="50">
        <div class="card">
            <div class="card-body" style="height: 200px;">

            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm">Setup</button>
                <button type="button" class="btn btn-primary btn-sm">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm">OK</button>
            </div>
        </div>
    </p-dialog>
    <p-dialog class="dataview-popup" header="Zoom" [(visible)]="zoom" [modal]="true" [responsive]="true" [width]="500"
        [minWidth]="200" [minY]="50">
        <div class="card">
            <div class="card-body" style="height: 310px;">
                <ul class="list-unstyled">
                    <li>
                        <p-radioButton name="zoom" label="200%"> </p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="zoom" label="100%"> </p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="zoom" label="75%"> </p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="zoom" label="50%"> </p-radioButton>
                    </li>
                    <li>
                        <p-radioButton name="zoom" label="25%"> </p-radioButton>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm">OK</button>
            </div>
        </div>
    </p-dialog>

    <p-dialog class="dataview-popup" header="Settings" [(visible)]="displayFilter" [modal]="true" [responsive]="true"
        [width]="150" [minWidth]="200" [minY]="50">
        <div class="card">
            <div class="card-body" style="height: 310px;">
                <ul class="list-unstyled">
                    <li *ngFor="let col of framesSortData">
                        <mat-checkbox id="{{col.header}}" [checked]="col.checked" (change)="checkBoxClick(col, $event)">
                            <span [innerHTML]="col.header"></span>
                        </mat-checkbox>
                    </li>
                </ul>
            </div>
        </div>
    </p-dialog>
    <div class="card-footer">
        <div class="clearfix">
            <div class="pull-left">
                <ul class="button-group">
                    <li><a (click)="print()"><i class="ti-printer"></i> Print</a></li>
                    <li><a (click)="this.printerSetup = true"><i class="icon-print-settings"></i> Print Setup</a></li>
                    <li><a><i class="ti-email"></i> Email</a></li>
                    <li><a><i class="icon-fax"></i> Fax</a></li>
                    <li><a><i class="icon-save-as" (click)="saveAs()"></i> Save As</a></li>
                    <li><a (click)="this.sortFilter = true"><i class="icon-sort"></i> Sort</a></li>
                    <li><a (click)="this.advFilter = true"><i class="ti-filter"></i> Filter</a></li>
                    <li><a (click)="this.zoom = true"><i class="ti-zoom-in"></i> Zoom</a></li>
                    <li class="barcode-checkbox-pd">
                        <p-checkbox name="group1" value="New York" label="Ruler"></p-checkbox>
                    </li>
                    <li (click)="this.displayFilter = true"><a><i class="ti-settings"></i> settings</a></li>
                    <li (click)="deliveryPopup()"><a>Labels</a></li>
                    <li class="barcode-pd">
                        <label class="mr-2">Start Pos </label>
                        <p-spinner size="8" class="mr-1" [(ngModel)]="startPositionValue"
                            (keypress)="this.utility.numberOnly($event)" [min]=0></p-spinner>
                        <button type="button" class="btn btn-primary float-right py-1 ml-0"
                            (click)="positionApply()">Apply</button>
                    </li>
                </ul>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary float-right py-1 mt-1"
                    (click)="layOutClick()">Layout</button>
            </div>

            <!--<button type="button" class="btn btn-primary float-right" >Add</button>
            <button type="button" class="btn btn-primary float-right" >Details..</button>
            <button type="button" class="btn btn-primary float-right" >Add</button>
            <button type="button" class="btn btn-primary float-right" >Delete</button>
            <button type="button" class="btn btn-primary float-right" >Update Config...</button>
            <button type="button" class="btn btn-primary float-right" >Create PO...</button>
            <button type="button" class="btn btn-primary float-right" >Transfer</button>
            <button type="button" class="btn btn-primary float-right" >Delete All</button>-->
        </div>
    </div>
</div>

<p-dialog class="dialog-popup" header="MyCare MVE" positionLeft="100%" [(visible)]="display" [modal]="true"
    [responsive]="true" [width]="480" [minWidth]="200" [minY]="70">

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="" class="mr-1">Printer</label>
                <select class="form-control minimal">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group mr-1 statusopt">
                <label for="" class="mr-1">Label name</label>
                <select class="form-control minimal" (change)="dropdownChange()" [(ngModel)]="dropDownValue">
                    <option *ngFor="let data of barCodeLabelDropData" [ngValue]="data.id">{{data.label_name}}</option>
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="row form-row">
                <div class="form-group col-md-12">
                    <label>Columns</label>
                    <input type="number" class="form-control" [(ngModel)]="Columns"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Columns Spacing</label>
                    <input type="number" class="form-control" [(ngModel)]="ColumnsSpacing"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Top Margin</label>
                    <input type="number" class="form-control" [(ngModel)]="TopMargin"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Right Margin</label>
                    <input type="number" class="form-control" [(ngModel)]="RightMargin"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Height</label>
                    <input type="number" class="form-control" [(ngModel)]="Height"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row form-row">
                <div class="form-group col-md-12">
                    <label>Rows</label>
                    <input type="number" class="form-control" [(ngModel)]="Rows"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Rows Spacing</label>
                    <input type="number" class="form-control" [(ngModel)]="RowsSpacing"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Left Margin</label>
                    <input type="number" class="form-control" [(ngModel)]="LeftMargin"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Bottom Margin</label>
                    <input type="number" class="form-control" [(ngModel)]="BottomMargin"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <label>Width</label>
                    <input type="number" class="form-control" [(ngModel)]="Width"
                        (keypress)="this.utility.numberOnly($event)" [min]=0>
                </div>
                <div class="form-group col-md-12">
                    <!-- <label>Start Position</label>
                    <input type="text" class="form-control" [(ngModel)]="StartPosition"> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <input type="text" [(ngModel)]="onedata">
    <input type="text" [(ngModel)]="twodata">
    <input type="text" [(ngModel)]="threedata">
    <input type="text" [(ngModel)]="fourdata">
    <input type="text" [(ngModel)]="fivedata"> (click)="onOkClick()"
    <input type="text"> -->
    <p-footer>
        <button type="button" class="btn btn-primary" (click)="onRestorClick()">Restore Default</button>
        <button type="button" class="btn btn-primary" (click)="onOkClick()">Save</button>
        <button type="button" class="btn btn-primary" (click)="closeclick()">Cancel</button>

    </p-footer>
</p-dialog>