<form id=addLensTreatmentTransaction [formGroup]="LensTreatmentTransactionForm" #formDir="ngForm" novalidate>
    <div class="card">
            <div class="card-header"> Lens Treatment Inventory Transaction</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h4> Add/Modify Inventory Transaction </h4>
                        <div class="row form-row">
                            <div class="form-group col-sm-6">
                                <label>Location </label>     
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['loc_id'].hasError('required')">
                                    * </span>                          
                                <select class="form-control" formControlName="loc_id">
                                    <option *ngFor="let location of locations" [ngValue]="location.id">{{location.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Date Received</label>    
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['received_date'].hasError('required')">
                                    * </span>                            
                                <p-calendar formControlName="received_date" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Type</label>    
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['trans_type'].hasError('required')">
                                    * </span>                             
                                <select class="form-control"  formControlName="trans_type">
                                    <option *ngFor="let typeData of typeOfTransactionData" [ngValue]="typeData.id">{{typeData.transactiontype}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="form-group col-sm-3">
                                <label>Invoice </label>          
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['invoiceno'].hasError('required')">
                                    * </span>                      
                                <input type="text" class="form-control" formControlName="invoiceno">
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Payment Terms</label>       
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['paymentterms'].hasError('required')">
                                    * </span>                           
                                <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                <select class="form-control" formControlName="paymentterms">
                                    <option *ngFor="let paymentTerm of paymentTermsData" [ngValue]="paymentTerm.id">{{paymentTerm.paymentterm}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3" >
                                <label>Return Date</label>           
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['returnDate'].hasError('required')">
                                    * </span>                      
                                <p-calendar formControlName="returnDate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Supplier</label>         
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['supplierid'].hasError('required')">
                                    * </span>                        
                                <select class="form-control" formControlName="supplierid">
                                    <option *ngFor="let supplier of suppliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Cost</label>  
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['cost'].hasError('required')">
                                    * </span>                                   
                                <input type="text" class="form-control" formControlName="cost">
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Quantity</label>   
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['stock'].hasError('required')">
                                    * </span>                                
                                <input type="text" class="form-control" formControlName="stock">
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Expiration Date</label> 
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['expirationdate'].hasError('required')">
                                    * </span>                                 
                                <p-calendar formControlName="expirationdate"  [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Lot No #</label>              
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['lot_no'].hasError('required')">
                                    * </span>                   
                                <input type="text" class="form-control" formControlName="lot_no">
                            </div>
                            <div class="form-group col-md-12">
                                <label>Notes</label>      
                                <span class="text-danger" *ngIf="LensTreatmentTransactionForm.controls['notes'].hasError('required')">
                                    * </span>                         
                                <textarea name="" id="" cols="30" rows="5" class="form-control" formControlName="notes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-default float-right" (click)="cancleBtn()">Cancel </button>
                <button type="button" class="btn btn-primary float-right" (click)="saveLensTreatmentTransaction()">Save</button>
            </div>
        </div>
    </form>