<app-header-component [app]=service [username]=getUsername() [hideLinks]="hideHtml" (logOutEvent)=logOut() 
(infoMsgShow)=infoMsgShow() [patientId]="service.patientId" [loggedinTimeZone]="service.timeZone"
  (goToDashBoard)=goToDashBoard($event) (reload_Pages)=reloadPagesEvent($event)></app-header-component>

<div class="page-container">
  <!-- Sidebar menu-->
  <div class="sidebar-menu toggle-others fixed collapsed">
    <app-leftnav [app]=service  (pdialogShow)=pdialogShow($event) (infoMsgShow)=infoMsgShow() (reload_Pages)=reloadPagesEvent($event)></app-leftnav>
  </div>
  <!-- Sidebar menu end -->
  <div class="main-container">

    <div class="main-content">
      <app-banner [app]=service (gotoDemographics)=gotoDemographics($event)>
      </app-banner>
      <router-outlet></router-outlet>
      <patient-alert></patient-alert>
    </div>
  </div>
</div>
<p-dialog class="dialog-popup" header="Portal Information" [(visible)]="displayMessage" [modal]="true" [responsive]="true" [width]="350"
    [minWidth]="200" [minY]="70">
    <span>{{descriptionMessage}}</span>   
</p-dialog>