<!-- <patient-bar></patient-bar>  -->
<div class="framebox">
     <iframe
      (load)="resizeFrameGrid()"
     frameborder="0"
     allowfullscreen
     [src]="DemographicsURL"></iframe>
      <div class="loader-iframe"></div>
</div>
