<div class="row">
    <div class="col-12">
        <div class="row m-0">
            <div class="col-12 border-bottom pl-2">
                <div class="row">
                    <div class="col-md-4">
                        <div *ngIf="isActive" class="form-check form-check-inline">
                            <p-radioButton name="Options" class="checkbox-label-bold" value="Options" label="Options"
                                [(ngModel)]="val1"></p-radioButton>
                        </div>
                        <div class="form-check form-check-inline">
                            <p-radioButton name="Service" class="checkbox-label-bold" value="Service" label="Service"
                                [(ngModel)]="val1"></p-radioButton>
                        </div>
                        <div class="form-check form-check-inline">
                            <p-radioButton name="Misc" class="checkbox-label-bold" value="Misc" label="Misc"
                                [(ngModel)]="val1"></p-radioButton>
                        </div>
                    </div>
                    <div class="col-md-8" *ngIf="isActive">
                        <div class="row">
                            <div class="form-row col-md-6">
                                <div class="form-group col-md-3">
                                    <label class="label-bold">Category</label>
                                </div>
                                <div class="form-group col-md-9">
                                    <select name="lenstreatments" [(ngModel)]="categoryList" class="form-control"
                                        (change)="lenstreatmentchange()">
                                        <option *ngFor="let lens of LensTreatments" [value]="lens.Id">{{lens.Name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row col-md-6">
                                <div class="form-group col-md-2">
                                    <label class="label-bold">UPC</label>
                                </div>
                                <div class="form-group col-md-9">
                                    <input type="text" class="form-control" id="" [(ngModel)]="upcSearch"
                                        (input)="lenstreatmentchange()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="isActive" class="col-12 pt-1 border-top p-0 ">
                <p-table [value]="orderTypes" class="ecl-table" [scrollable]="true" scrollHeight="200px">
                    <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-type>
                        <tr [pSelectableRow]="rowData">
                            <!-- <td [visible]="false" >{{type.cptId}}</td>
                                <td [visible]="false" >{{type.practiceCode}}</td> -->
                            <td class="w-75">{{type.practiceCode}}-{{type.Name}}</td>
                            <td class="w-75">{{type.UPC}}</td>
                            <!-- <td>{{type.QtyOnHand}} </td> -->
                            <!-- <td> <input type='text'    value={{type.QtyOnHand}}  (input)="quantitychange(rowData,$event)" >  </td>  -->
                            <td class="w-75">
                                <p-checkbox [(ngModel)]="type.Ischecked" (onChange)="changevalue(rowData,$event,i)"
                                    binary="true"></p-checkbox>
                            </td>
                            <td class="w-75">{{type.retail_price | currency:'USD':true}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="row m-0 pt-3 pb-5 bg-white">
            <div class="col-12 pl-0 pr-0">
                <nav class="ecl-subnavbar">
                    <div class="container-fluid">
                        <ul class="nav justify-content-end col-sm-12 col-md-12">
                            <!-- <li class="nav-item">
                                <a class="nav-link">
                                    <i class="ti-write"></i> Exam</a>
                            </li>
                            <li class="nav-item" (click)="addOrderOtherDetails = true" >
                                <a class="nav-link">
                                    <i class="ti-plus"></i> Add</a>
                            </li> -->
                            <li class="nav-item ">
                                <a class="nav-link {{orderService.disabledModify}}" (click)="modifyClick()">
                                    <i class="ti-pencil"></i> Modify...</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link">
                                    <i class="ti-trash"></i> Delete</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " (click)="orderDiscountSidebarClick()">% Discount</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{orderService.disabledModify}}" (click)="returnClick()"> Return </a>
                            </li>
                            <!-- <li class="nav-item" (click)="afterSales()">
                                <a class="nav-link"> Return As</a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-12 pl-0 pr-0">
                <div class="table-responsive">
                    <p-table #dt [value]="chargevalues" selectionMode="single" [scrollable]="true"
                        [style]="{width:'2400px'}" scrollHeight="25vh"  (onRowSelect)="onRowSelect($event)" >
                        <!-- <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col *ngFor="let col of columns" style="width:150px">
                        </colgroup>
                    </ng-template> -->
                        <ng-template pTemplate="header">
                            <tr class="text-nowrap">
                                <th>Print</th>
                                <th>Charges</th>
                                <th>Eye</th>
                                <th nowrap>Copay</th>
                                <th nowrap>Patient</th>
                                <th>Patient Total</th>
                                <th nowrap>Insurance</th>
                                <th>Item Total</th>
                                <th class="text-nowrap">Unit Retail Price</th>
                                <th>Quantity</th>
                                <th>Tax</th>
                                <th>Tax 2</th>
                                <th>Discount</th>
                                <th>After Disc</th>
                                <th>Write Off Amount</th>
                                <th>Notes </th>
                                <th>Transaction Date</th>
                                <th>Return Date</th>
                                <th>Employee </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data let-rowData let-columns="chargecolumns" let-locations
                            let-i="rowIndex">
                            <tr [pSelectableRow]="rowData">
                                <td>
                                    <p-checkbox [(ngModel)]="data.checked" 
                                        binary="true"></p-checkbox>
                                </td>
                                <td>{{data.Charges}}</td>
                                <td>{{data.Eye}} </td>
                                <td>{{copay}}</td>
                                <td>{{patient}}</td>
                                <td>{{patientAmount}}</td>
                                <td>{{insuranceAmount}}</td>
                                <td>{{data.price  | currency:'USD':true}}</td>
                                <td>{{data.procCharges | currency:'USD':true}}</td>
                                <td >
                                    <input type="text" (keypress)="numberOnly($event)" 
                                        (input)="QtyValueschange(data,$event,i)" value={{data.quantity}}
                                        style="width:65px;" [readonly]= "true">
                                </td>
                                <td>{{data.tax}}</td>
                                <td>{{data.tax2}}</td>
                                <td>{{data.discountAmount | currency:'USD':true}}</td>
                                <td>{{data.afterDiscountAmount | currency:'USD':true}}</td>
                                <td>{{writeOfAmount}}</td>
                                <td>{{notes}}</td>
                                <td>{{trans_del_date}}</td>

                                <td>{{data.returnDate | date: 'dd/MM/yyyy'}}</td>
                                <td>{{emp_name}}</td>
                                <!-- <td class="text-right">{{data.procCharges | currency:'USD':true}}</td> -->

                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer"  let-data>
                            <tr>
                                <td>
                                    <label class="label-bold float-left">Total</label>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div *ngIf="chargevalues">
                                        <label class="label-bold"> ${{(totalbalance| number : '1.2-2')}}
                                        </label>
                                    </div>
                                </td>
                                <td> <label class="label-bold">
                                        ${{(retailPriceTotal| number : '1.2-2')}}
                                    </label>
                                </td>

                                <!-- <td>{{copay}}</td> -->
                                <!-- <td>{{patientName}}</td> -->
                                <!-- <td>{{patientAmount}}</td> -->

                                <!-- <td>{{insuranceAmount}}</td> -->
                                <td colspan="10"></td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <!-- <p-table #dt  [value]="chargevalues"  selectionMode="single" [style]="{width:'100%'}" scrollHeight="75vh">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                        <th class="check-box">
                                                <p-checkbox binary="true"></p-checkbox>
                                            </th>
                                    <th *ngFor="let col of chargecolumns" [pSortableColumn]="col.field">
                                        {{col.header}}        
                                    </th>
                                </tr>
                                <tr>
                                   
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData  let-columns="chargecolumns">
                               
                                    <tr [pSelectableRow]="rowData">
                                        <td>   <p-checkbox (onChange)="SaveSelectValues(rowData,$event)"  binary="true"></p-checkbox></td>
                                        <td *ngFor="let col of chargecolumns">
                                            {{rowData[col.field]}}
                                        </td>
                                    </tr>
                                </ng-template>                           
                        </p-table> -->
            </div>
        </div>
        <!-- <div >
              <label class="label-bold">Total</label>            
        </div>
        <div  *ngIf="chargevalues" >
                <label class="label-bold">${{(+totalbalance)}}</label>
        </div> -->
        <ng-template pTemplate="footer"  let-columns>
            <tr>
                <td colspan="12">
                    <label class="label-bold">Total</label>
                </td>
                <td>
                    <div *ngIf="chargevalues">
                        <label class="label-bold">${{(retailPriceTotal| number : '1.2-2')}}</label>
                    </div>
                </td>
            </tr>
        </ng-template>
        <form id=addlabdata [formGroup]="Labotherdetails" #formDir="ngForm" novalidate (input)="otherLabFormChange()">
            <div class="row order-other-details form-row">
                <div class="col-7">
                    <div class="col-12 mt-2 p-3 pt-2 h-100 border border-primary">
                        <div class="row form-row">
                            <div class="form-group col-md-6">
                                <label>Lab
                                    <!-- <span class="text-danger"
                                        *ngIf="Labotherdetails.controls['lab_id'].hasError('required' )">
                                        * </span> -->
                                </label>
                                <div class="input-group">
                                    <select name="labby" (change)="labChange($event.target.value , 'labChange')" class="form-control"
                                        formControlName="lab_id">
                                        <option *ngFor="let lab of labsList" [value]="lab.id">{{lab.vendor_name}}
                                        </option>
                                    </select>
                                    <div class="input-group-append">
                                        <button class="btn btn-space border">
                                            <i class="ti-printer"></i>
                                        </button>
                                        <button class="btn btn-space border" [disabled]="labIntDisable"
                                            (click)="labIntegration()">
                                            <i class="ti-upload"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Order Status
                                    <!-- <span class="text-danger"
                                        *ngIf="Labotherdetails.controls['order_status_id'].hasError('required' )">
                                        * </span> -->
                                </label>
                                <div class="input-group">
                                    <select name="labby" class="form-control" (change)="statusChange()"
                                        formControlName="order_status_id">
                                        <!-- <option [value]="">Select Manufacturer</option> -->
                                        <option *ngFor="let status of labstatusdata" [value]="status.Id">{{status.Name}}
                                        </option>
                                    </select>

                                    <!-- <p-dropdown [options]="sort" [(ngModel)]="Select" placeholder="Select" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown> -->
                                    <div class="input-group-append">
                                        <button class="btn btn-space border">
                                            <i class="ti-more-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Promised</label>
                                <div class="input-group p-calendar-group">
                                    <p-calendar formControlName="due_date" [style]="{'width':'100%'}" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                    <div class="input-group-append ml-1">
                                        <button class="btn btn-space border" (click)="promisedatehistorySidebar = true">
                                            <i class="ti-more-alt"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- <div class="clearfix">
                                    <div class="input-group promised-date">
                                        <div class="pull-left">
                                            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                        </div>
                                        <div class="pull-right ml-1">
                                            <div class="input-group-append">
                                                <button class="btn btn-space" (click)="promisedatehistorySidebar = true">
                                                    <i class="ti-more-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label>Tray
                                    <!-- <span class="text-danger"
                                        *ngIf="Labotherdetails.controls['TrayNumber'].hasError('required')">
                                        *</span> -->
                                </label>
                                <input type="text" class="form-control" (keypress)="numberOnly($event)"
                                    formControlName="TrayNumber">
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="form-group col-md-6">
                                <label>Lab Status
                                    <!-- <span class="text-danger"
                                        *ngIf="Labotherdetails.controls['LabStatus'].hasError('required')">
                                        *</span> -->
                                </label>
                                <input type="text" class="form-control" formControlName="LabStatus" readonly>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Lab Order</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" formControlName="LabOrder" readonly>
                                    <div class="input-group-append">
                                        <button class="btn btn-space border" (click)="laborderhistory = true">
                                            <i class="ti-more-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-row">
                            <div class="form-group col-md-6">
                                <label for="notes">Reprocess reason</label>
                                <div class="col p-0">
                                    <select name="Reprocess" class="form-control" formControlName="reprocessreason_id">
                                        <!-- <option [value]="">Select Manufacturer</option> -->
                                        <option *ngFor="let repro of Reprocess" [value]="repro.Id">{{repro.Name}}
                                        </option>
                                    </select>
                                    <!-- <p-dropdown [options]="sort" [(ngModel)]="Select" [style]="{'width':'100%'}" placeholder="Select" optionLabel="name"></p-dropdown> -->
                                </div>
                                <!-- <textarea class="form-control" rows="3"></textarea> -->
                            </div>
                            <div class="form-group col-md-6">
                                <label></label>
                                <button type="button" class="btn btn-secondary btn-sm pt-1 pb-1 btn-block"
                                    (click)="orderTryLabelSidebar = true">Tray
                                    Label...</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="col-12 mt-2 p-3 pt-2 h-100 border border-primary">
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Sold by</label>
                                <div class="row form-row">
                                    <div class="col">
                                        <select name="Soldby" class="form-control" formControlName="sold_by">
                                            <!-- <option [value]="">Select Manufacturer</option> -->
                                            <option *ngFor="let sold of Soldby" [value]="sold.Id">{{sold.Name}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <p-calendar formControlName="sold_datetime" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Fitted by</label>
                                <div class="row form-row">
                                    <div class="col">
                                        <select name="fittedby" class="form-control" formControlName="FiitedBy">
                                            <!-- <option [value]="">Select Manufacturer</option> -->
                                            <option *ngFor="let fitted of fittedby" [value]="fitted.Id">{{fitted.Name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <p-calendar formControlName="FittedDatetime" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Inspected by</label>
                                <div class="row form-row">
                                    <div class="col">
                                        <select name="inspectedbydata" class="form-control"
                                            formControlName="InspectedBy">
                                            <!-- <option [value]="">Select Manufacturer</option> -->
                                            <option *ngFor="let inspect of inspectedbydata" [value]="inspect.Id">
                                                {{inspect.Name}}</option>
                                        </select>


                                    </div>
                                    <div class="col">
                                        <p-calendar formControlName="InspectedDatetime" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Delivered by</label>
                                <div class="row form-row">
                                    <div class="col">
                                        <select name="deliveredbdata" class="form-control"
                                            formControlName="DeliveredBy">
                                            <!-- <option [value]="">Select Manufacturer</option> -->
                                            <option *ngFor="let delivered of deliveredbdata" [value]="delivered.Id">
                                                {{delivered.Name}}</option>
                                        </select>

                                    </div>
                                    <div class="col">
                                        <p-calendar formControlName="DeliveredDatetime" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<!-- Order Discount -->
<div *ngIf="orderDiscountSidebar">
    <p-sidebar [(visible)]="orderDiscountSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w30">
        <app-discount [discountItems]="discountItemsData" (discountoutput)="discountevent($event)"></app-discount>
    </p-sidebar>
</div>

<!-- Lab Order History -->
<p-sidebar [(visible)]="laborderhistory" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-order-lab-history></app-order-lab-history>
</p-sidebar>

<!-- Order Try Label -->
<p-sidebar [(visible)]="orderTryLabelSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-order-tray-label></app-order-tray-label>
</p-sidebar>

<!-- Status Date History -->
<p-sidebar position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-order-status-history></app-order-status-history>
</p-sidebar>

<!-- Promise Date History -->
<p-sidebar [(visible)]="promisedatehistorySidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w50">
    <app-order-promise-date-history></app-order-promise-date-history>
</p-sidebar>

<!-- Add Order Other -->
<p-sidebar [(visible)]="addOrderOtherDetails" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
    <app-add-details> </app-add-details>
</p-sidebar>

<!-- Modiy Soft Contact -->
<div *ngIf="modifySoftContactSidebar">
    <p-sidebar [(visible)]="modifySoftContactSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70">
        <app-modify-soft-contact [modifyId]="modifyItemId" (modifysoftoutput)="modifysoftevent($event)">
        </app-modify-soft-contact>
    </p-sidebar>
</div>
<!-- Modiy Frames -->
<p-sidebar [(visible)]="modifyFramesSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
    <app-modify-frames> </app-modify-frames>
</p-sidebar>

<!-- Modiy Spectacle -->
<p-sidebar [(visible)]="modifySpectacleLensSidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w70">
    <app-modify-spectacle-lens></app-modify-spectacle-lens>
</p-sidebar>

<!-- Modiy Lens Treatment -->
<p-sidebar [(visible)]="modifyLensTreatmentSidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w70">
    <app-modify-lens-treatment></app-modify-lens-treatment>
</p-sidebar>

<!-- After Sales  -->
<div *ngIf="afterSalesSidebar">
    <p-sidebar [(visible)]="afterSalesSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70 ">
        <app-after-sales></app-after-sales>
    </p-sidebar>
</div>

<!-- Return As  -->
<div *ngIf="returnReasonSidebar">
    <p-sidebar [(visible)]="returnReasonSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70 ">
        <app-return-reason [returnInput]="returnInputValues" (returnoutput)="returnevent($event)"></app-return-reason>
    </p-sidebar>
</div>