<!--<patient-bar></patient-bar>-->
<form id="orderhistorySearch" #formDir="ngForm" [formGroup]="OrderhistoryForm" novalidate autocomplete="off">
    <div class="col-md-12 mt-2">
        <div class="form-row m-0">

            <div class="form-group col mb-0 pl-0">
                <label>Order#</label>
                <input class="form-control" type="text" formControlName="id" />
            </div>

            <div class="form-group col mb-0">
                <label>UPC Code</label>
                <input class="form-control" formControlName="upccode" type="text" readonly=true />
            </div>

            <div class="form-group col mb-0">
                <label>Item Name</label>
                <input class="form-control" formControlName="itemname" type="text" readonly=true />
            </div>

            <div class="form-group col mb-0">
                <label>Start Date</label>
                <div readonly=true>
                    <p-calendar formControlName="entered_date" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.appService.maxMinYears}}></p-calendar>
                </div>
            </div>

            <div class="form-group col mb-0">
                <label>End Date</label>
                <div>
                    <p-calendar formControlName="enddate" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.appService.maxMinYears}}></p-calendar>

                </div>

            </div>

            <div class="form-group col mb-0">
                <label>Item Type</label>
                <!-- <input class="form-control" formControlName="ordertypeid" type="text" /> -->
                <select class="form-control" formControlName="ordertypeid">
                    <option *ngFor="let item of orderType" [ngValue]="item.id">{{item.description}}</option>
                </select>
            </div>

            <div class="form-group col mb-0">
                <label>Status</label>
                <select class="form-control" formControlName="order_status_id">
                    <option *ngFor="let orderStatus of status" [ngValue]="orderStatus.id">{{orderStatus.description}}
                    </option>
                </select>
            </div>

            <div class="form-group col mb-0">
                <label class="label-empty">&#160;</label>
                <button class="btn btn-primary" (click)=" searchFilterData()">Search</button>
                <button class="btn btn-primary" (click)="clearData()">Reset</button>
            </div>

        </div>
    </div>

    <!-- table Grid -->
    <div class="col-md-12 mt-2">
        <div class="border m-auto bg-white">
            <div class="col-md-12 pt-2 border-bottom clearfix">
                <div class="col-md-4 p-0 pull-left select-dropdown">
                    <div class="form-row m-0 pt-1">
                        <div class="form-group col">
                            <p-dropdown [options]="pastOrderBy" (onChange)="Searchdetails($event)"
                                formControlName="selectedPastOrderByFamily" [style]="{'width':'100%'}"
                                placeholder="Select"></p-dropdown>
                        </div>
                        <div class="form-group col">
                            <p-dropdown [options]="groupBy" formControlName="selectedGroupBy" [style]="{'width':'100%'}"
                                placeholder="Select"></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 pull-right">
                    <div class="form-row m-0 pull-right">
                        <div>
                            <a class="nav-link">
                                <i class="ti-zip"></i> Show Details
                            </a>
                        </div>
                        <div>
                            <a class="nav-link">
                                <i class="ti-layout-cta-left"></i> Receipt
                            </a>
                        </div>
                        <div>
                            <a class="nav-link">
                                <i class="fa fa-usd"></i> Payments
                            </a>
                        </div>
                        <div>
                            <a class="nav-link">
                                <i class="ti-bag"></i> Order Details
                            </a>
                        </div>
                        <div>
                            <a class="nav-link">
                                <i class="ti-trash"></i> Delete
                            </a>
                        </div>
                        <div>
                            <a class="nav-link">
                                <i class="ti-files"></i> Copy
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 p-0">
                <div class="table-responsive m-auto">
                    <p-table #dt [lazy]="true" [value]="orderHistory" class="patientorder-ptable"
                        [columns]="Orderhistorycolumns" [first]="paginationPage" [totalRecords]="totalRecords"
                        (onPage)="loadLazyOrderSearchItems($event)" [scrollable]="true" [paginator]="true" [rows]="100"
                        [resizableColumns]="true" dataKey="OperatorId" [reorderableColumns]="true" [responsive]="true"
                        selectionMode="single" [style]="{width:'2200px'}" scrollHeight="65vh">
                        <ng-template pTemplate="colgroup" let-columns>
                            <colgroup>
                                <col style="width:35px">
                                <col *ngFor="let col of Orderhistorycolumns" [ngClass]="{'hidden': !col.visible}"
                                    style="width:150px">
                            </colgroup>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="check-box"></th>
                                <th *ngFor="let col of Orderhistorycolumns" [ngClass]="{'hidden': !col.visible}"
                                    [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-orderHistory let-i="rowIndex" let-expanded="expanded"
                            let-columns="Orderhistorycolumns">
                            <tr [pSelectableRow]="orderHistory" (dblclick)="DoubleClickPatient(orderHistory)">
                                <td class="check-box">
                                    <a [pRowToggler]="orderHistory" (click)="returnItems(orderHistory)"
                                        [pSelectableRow]="orderHistory">
                                        <i [ngClass]="expanded ? 'fa fa-caret-down' : 'fa fa-caret-right'"></i>
                                    </a>
                                </td>
                                <td class="d-none">{{orderHistory.OperatorId}} </td>
                                <td>{{orderHistory.patient_id}} </td>
                                <td>{{orderHistory.FirstName}} </td>
                                <td>{{orderHistory.LastName}} </td>
                                <td>{{orderHistory.id}} </td>
                                <td>{{orderHistory.entered_date|date : 'MM-dd-yyyy'}} </td>
                                <!-- <td>{{orderHistory.ordertypeid}} </td> -->
                                <td>{{this.utility.getArrayItem({data:orderType,matchWith:'id',matchValue:orderHistory.ordertypeid,position:1,dataType:'int' })}}
                                </td>
                                <td>{{orderHistory.total_qty}} </td>
                                <td>{{orderHistory.TotalPrice}} </td>
                                <td>{{orderHistory.patientPaidAmt}} </td>
                                <td>{{orderHistory.insPaidAmt}} </td>
                                <td>{{orderHistory.deductibleTotalAmt}} </td>
                                <td> </td>
                                <!-- <td>{{orderHistory.order_status_id}} </td> -->
                                <td>{{this.utility.getArrayItem({data:status,matchWith:'id',matchValue:orderHistory.order_status_id,position:1,dataType:'int' })}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="rowexpansion" let-columns="Orderhistorycolumns">
                            <tr>
                                <td colspan="8" class="border-1">
                                    <table class="table table-bordered table-striped table-hover m-0 table-sm">
                                        <thead>
                                            <tr>
                                                <th>UPC</th>
                                                <th>Item Name</th>
                                                <th>Qty</th>
                                                <th>Order Status</th>
                                                <th>Return Amount</th>
                                                <th>Return Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let orderItems of orderDetailsItemsData">
                                                <td>{{orderItems.upc_code}}</td>
                                                <td>{{orderItems.item_name}}</td>
                                                <td>{{orderItems.qty}}</td>
                                                <td>{{orderItems.order_status}}</td>
                                                <td>{{orderItems.amtPaid}}</td>
                                                <td>{{orderItems.enterdate | date : 'MM-dd-yyyy'}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</form>