<div class="card">
    <div class="card-header">Activate Inventory Items</div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="table-responsive">
                    <p-table #dtreactive [columns]="cols" [value]="gridlists" [(selection)]="otheractivateMultipleSelection" [scrollable]="true" scrollHeight="65vh">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <!-- <th class="check-box">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th> -->
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                            <tr>                                   
                                    <th *ngFor="let col of cols" [ngSwitch]="col.field"  >                
                                           <input *ngSwitchCase="'id'" class="form-control" pInputText type="text" (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"  [(ngModel)]="searchitemId">
                                           <select *ngSwitchCase="'category'" name="category"
                                           class="form-control" [(ngModel)]="searchcategory"
                                           (change)="GetinventoryotherList()">
                                           <option *ngFor="let catergy of categories" [value]="catergy.Id">{{catergy.Name}}</option>
                                       </select>
                                           <input *ngSwitchCase="'name'" class="form-control" pInputText type="text" (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"  [(ngModel)]="searchName">
                                           <input *ngSwitchCase="'upc_code'" class="form-control" pInputText type="text" (input)="dtreactive.filter($event.target.value, col.field, col.filterMatchMode)"  [(ngModel)]="searchUPC">
                                           <select *ngSwitchCase="'vendor'"  name="vendor" id="vendorid"
                                           class="form-control" [(ngModel)]="searchvendor" 
                                           (change)="GetinventoryotherList()">
                                           <option *ngFor="let sup of suppliers" [value]="sup.Id">{{sup.Name}}</option>
                                       </select>
                                        </th>
                                   </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-list let-columns="columns">
                            <tr>
                                <td class="check-box">
                                    <p-tableCheckbox [value]="list"></p-tableCheckbox>
                                </td>
                                <!-- <td *ngFor="let col of columns">
                                    {{list[col.field]}}
                                </td> -->
                                <td >{{list.id}}</td>                             
                                <td>
                                    {{this.utility.getArrayItem({data:categories,matchWith:'Id',matchValue:list.categoryid,position:1,dataType:'string'})}}
                                </td>
                                <td >{{list.name}}</td>
                                <td >{{list.upc_code}}</td>
                                <td>
                                        {{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:list.vendor_id,position:1,dataType:'string'})}}
                                    </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="Activate()">Activate</button>
            <button type="button" class="btn btn-default float-right" (click)="Cancel()">Cancel </button>
        </div>
    </div>
</div>