<div class="card">
  <div class="card-header">Print</div>
  <div class="card-body">
    <div class="row form-row">
      <div class="form-group col-md-4">
        <div class="form-group mt-1">
          <p-radioButton name="printReceipt" value="Print Receipt" label="Print Receipt" [(ngModel)]="pr" inputId="pr"></p-radioButton>
        </div>
        <div class="form-group mt-3">
          <p-radioButton name="InsurancePatientReceipt" value="Insurance &#38; Patient Receipt" label="Insurance &#38; Patient Receipt"
            [(ngModel)]="ipr" inputId="ipr"></p-radioButton>
        </div>
        <div class="form-group mt-3">
          <p-radioButton name="PatientIthaca610Receipt" value="Patient Ithaca 610 Receipt" label="Patient Ithaca 610 Receipt" [(ngModel)]="pir"
            inputId="pir"></p-radioButton>
        </div>
      </div>

      <div class="form-group col-md-8 row form-row">
        <div class="row form-row col-md-12">
          <div class="form-group col col-md-4">
            <p-checkbox name="BundledReceipt" class="text-nowrap" value="Bundled Receipt" label="Bundled Receipt" [(ngModel)]="br"></p-checkbox>
          </div>
          <div class="form-group col col-md-3">
            <p-radioButton name="labCopy" class="text-nowrap" value="Lab Copy" label="Lab Copy" [(ngModel)]="lc" inputId="lc"></p-radioButton>
          </div>
          <div class="form-group col col-md-5">
            <p-checkbox name="ReceiptLabCopy" class="text-nowrap" value="Receipt &#38; Lab Copy" label="Receipt &#38; Lab Copy" [(ngModel)]="rlc"></p-checkbox>
          </div>
        </div>

        <div class="form-group row form-row col-md-12">
          <div class="col mr-2 col-md-4">
            <label class="label-empty">Receipt Copies</label>
            <p-spinner size="10" [(ngModel)]="spinner"></p-spinner>
          </div>
          <div class="col">
            <label class="label-empty">Lab Copies</label>
            <p-spinner size="10" [(ngModel)]="spinner"></p-spinner>
          </div>
        </div>
      </div>
    </div>

    <h5>Combine Order Receipt</h5>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <p-table [value]="orderTypes" class="ecl-table" [scrollable]="true" >
            <ng-template pTemplate="header">
              <tr>
                <th class="check-box"></th>
                <th>Order</th>
                <th>Order Date</th>
                <th>Order Type</th>
                <th>Status</th>
                <th>Recipt Note</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>
              <tr>
                <td>
                  <p-checkbox name="groupname" ></p-checkbox>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
      <div class="col-md-12 mt-4">
        <label for="notes">Receipt Note</label>
        <textarea class="form-control" rows="1" id="notes"></textarea>
      </div>
    </div>




  </div>
  <div class="card-footer">
    <div class="clearfix">
      <div class="pull-right">
        <button type="button" class="btn btn-default float-right" (click)="onPrintClose()">Cancel</button>
        <button type="button" class="btn btn-primary float-right">OK</button>
      </div>
    </div>
  </div>
</div>