<div class="card">
	<div class="card-header">Batch Search</div>
	<div class="card-body">
		<div class="row">
			<div class="form-row col-md-12 clearfix">
				<div class="form-group col-md-3">
					<h6 class="pt-2">Manufacturer</h6>
				</div>
				<div class="form-group col-md-9">
					<select class="form-control">
						<option>Manufacturer</option>
					</select>
				</div>
			</div>
			<div class="form-row col-md-12 clearfix">
				<div class="form-group col-md-3">
					<h6 class="pt-2">Collection</h6>
				</div>
				<div class="form-group col-md-9">
					<select class="form-control">
						<option>Collection</option>
					</select>
				</div>
			</div>
			<div class="form-row col-md-12 clearfix">
				<div class="form-group col-md-3">
					<h6 class="pt-2">Name</h6>
				</div>
				<div class="form-group col-md-9">
					<select class="form-control">
						<option>Name</option>
					</select>
				</div>
			</div>
			<div class="form-row col-md-12 clearfix">
				<div class="form-group col-md-3">
					<h6 class="pt-2">UPC</h6>
				</div>
				<div class="form-group col-md-9">
					<select class="form-control">
						<option>UPC</option>
					</select>
				</div>
			</div>
			<div class="form-row col-md-12 clearfix">
				<div class="form-group col-md-3">
					<h6 class="pt-2">Material</h6>
				</div>
				<div class="form-group col-md-9">
					<select class="form-control">
						<option>Material</option>
					</select>
				</div>
			</div>
			<div class="form-row col-md-12 clearfix">
				<div class="form-group col-md-3">
					<h6 class="pt-2">Frame Type</h6>
				</div>
				<div class="form-group col-md-9">
					<select class="form-control">
						<option>Frame Type</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="clearfix">
			<div class="pull-right">
				<button type="button" class="btn btn-primary float-right">OK</button>
				<button type="button" class="btn btn-primary float-right" (click)="onClickClose()">Cancel</button>
			</div>
		</div>
	</div>
</div>