<nav class="ecl-subnavbar fixed-top">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-2 float-left navbar-title">
            <h2>Payment Checkout</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-10">
            <li class="nav-item">
                <a class="nav-link" (click)="searchCheckout()">
                    <i class="ti-search"></i> Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-trash"></i> Delete
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="paymentSearchOrder()">
                    <i class="ti-bag"></i> Add Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="paymentPrintReceipt()">
                    <i class="ti-printer"></i> Receipt
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="paymentLayout()">
                    <i class="ti-layout"></i> Layout
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" >
                    <i class=""></i> Check-out
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="checkoutPayment()">
                    <i class="ti-money"></i> Add Payment
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="managerDiscount()">
                    <i class=""></i> Manager W/O
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="paymentAdjustment()">
                    <i class=""></i> Adjustment
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-lock"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3 border-bottom">
    <div class="row form-row">
        <div class="form-group col-sm-2">
            <label>Checkout ID</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-2">
            <label>Location</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="form-group col-sm-2">
            <label>Employee</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group col-sm-2">
            <label>Checkout Date</label>
            <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>
        <div class="form-group col-sm-2">
            <label>Marketing</label>
            <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="form-group col-sm-2">
            <label>Patient</label>
            <!-- <input type="text" class="form-control"> -->
            <div class="input-group"><input class="form-control" name="upc" type="text">
                <div class="input-group-append"><button class="btn btn-space" (click)="patientSearch()"><i class="ti-more-alt"></i></button></div>
            </div>
        </div>
    </div>
</div>




<div class="col-md-12 mt-3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-9 pull-left mb-1 p-0">
                <div class="form-inline">
                    <h4 class="mr-5 mt-2">Orders</h4>
                    <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Add UPC</label>
                    <input type="text" class="form-control mb-2 mr-sm-2" id="">

                    <div class="form-check mr-1">
                        <input class="form-check-input" type="radio" name="" id="" value="">
                        <label class="form-check-label mr-3" for="">
                            Details
                        </label>
                    </div>
                    <div class="form-check mr-1">
                        <input class="form-check-input" type="radio" name="" id="" value="">
                        <label class="form-check-label" for="">
                            Summary
                        </label>
                    </div>

                </div>
            </div>
            <div class="col-md-3 pull-right p-0">
                <div class="pull-right">
                    <h5 class="mt-2">Order #1960, Open</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="border m-auto">
        <p-table #dt [value]="orderTypes" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20]"
            [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" [reorderableColumns]="true"
            dataKey="ItemId" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>Charges</th>
                    <th>Eye</th>
                    <th>Copay</th>
                    <th>Patient</th>
                    <th>Patient Total</th>
                    <th>Remaining Pt. Balance</th>
                    <th>Insurance</th>
                    <th>Item Total</th>
                    <th>Retail</th>
                    <th>Qty</th>
                    <th>Tax</th>
                    <th>Tax2</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>
                <tr>
                    <td>{{type.charges}} </td>
                    <td>{{type.eye}}</td>
                    <td>{{type.copay}}</td>
                    <td>{{type.patient}}</td>
                    <td>{{type.patienttotal}}</td>
                    <td>{{type.patientbalance}}</td>
                    <td>{{type.insurance}}</td>
                    <td>{{type.itemtotal}}</td>
                    <td>{{type.retail}}</td>
                    <td>{{type.qty}}</td>
                    <td>{{type.tax}}</td>
                    <td>{{type.tax2}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<div class="col-md-12 mt-3">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 pull-left mb-1 p-0">
                <h4 class="mr-5 mt-2">Checkout Payments</h4>
            </div>
            <div class="col-md-6 pull-right p-0">
                <div class="pull-right">
                    <h5 class="mt-2">Remaining Patient Balance: $1926.96</h5>
                </div>
            </div>
        </div>
    </div>


    <div class="border m-auto" style="padding-bottom:60px;">
        <p-table #dt [value]="orderTypes" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20]"
            [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" [reorderableColumns]="true"
            dataKey="ItemId" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>Location</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Orginal Amount</th>
                    <th>Amount</th>
                    <th>Remaining Pt. Balance</th>
                    <th>Effective Amount</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-type>
                <tr>
                    <td>{{type.charges}} </td>
                    <td>{{type.eye}}</td>
                    <td>{{type.copay}}</td>
                    <td>{{type.patient}}</td>
                    <td>{{type.patienttotal}}</td>
                    <td>{{type.patientbalance}}</td>
                    <td>{{type.insurance}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="ecl-footer-fixed navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
        <div class="col-md-12 p-0">
            <div class="float-right">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Payment search Order -->
<div *ngIf="searchOrderSidebar">
    <p-sidebar [(visible)]="searchOrderSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-search-order></app-search-order>
    </p-sidebar>
</div>

<!-- Payment search checkout -->
<div *ngIf="searchCheckoutSidebar">
    <p-sidebar [(visible)]="searchCheckoutSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-checkout></app-checkout>
    </p-sidebar>
</div>

<!-- Payment Manager Discount -->
<div *ngIf="managerDiscountSidebar">
    <p-sidebar [(visible)]="managerDiscountSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-manager-discount></app-manager-discount>
    </p-sidebar>
</div><!-- Print Receipt -->
<div *ngIf="printReceiptSidebar">
    <p-sidebar [(visible)]="printReceiptSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-print-receipt></app-print-receipt>
    </p-sidebar>
</div>

<!-- Layout -->
<div *ngIf="paymentLayoutSidebar">
    <p-sidebar [(visible)]="paymentLayoutSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40 ">
        <app-layout></app-layout>
    </p-sidebar>app-layout
</div>

<!-- Layout -->
<div *ngIf="paymentAdjustmentSidebar">
    <p-sidebar [(visible)]="paymentAdjustmentSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-adjustment></app-adjustment>
    </p-sidebar>
</div>

<!-- Payout Checkout -->
<div *ngIf="checkoutPaymentSidebar">
    <p-sidebar [(visible)]="checkoutPaymentSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-checkout-payment></app-checkout-payment>
    </p-sidebar>
</div>

<!-- Patient Search -->
<div *ngIf="patientSearchSidebar">
    <p-sidebar [(visible)]="patientSearchSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-patient-search></app-patient-search>
    </p-sidebar>
</div>
