
<div class="col-sm-12">
  <div class="ptbar">
    <div class=" pl-4 pr-4 pb-2">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="">Location </label>
            <select class="form-control minimal" >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
         <div class="ml-3 mr-3"> <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <label for="">Billing As </label>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 mt-4">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Bill as Group </label>
              </div>
            </div>
          </div></div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label for="">Insurance Type </label>
            <select class="form-control minimal" >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="">Insured’s ID </label>
            <select class="form-control minimal" >
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="clearfix"></div>
  <div class="p-2 mr-2 ml-2">
    <div class="row">
      <div class="col-sm-6">
        <div class="box">
          <div class="boxhead">
            <h2>Patient</h2>
          </div>
          <div class="clearfix"></div>
          <div class="ptorder p-1 form-inline">
            <label >Order No. </label>
            <div class="input-group ">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
              <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
              </div>
            </div>
            <button type="button" class="linkord ">Link Order</button>
            <button type="button" class="linkpati ">Link Patient</button>
          </div>
          <div class="clearfix"></div>
          <div class="ml-3 mr-3">
            <div class="row">
              <div class="col-sm-4">
                <label for="">First Name </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-4">
                <label for="">Middle Initial </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-4">
                <label for="">Last Name </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-12">
                <label for="">Address </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">City </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">State </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Zip Code</label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Telephone </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">DOB </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Sex </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6 reservnucc"> Reserved for NUCC use </div>
              <div class="col-sm-6 form-inline mt-1">
                <label >Employment</label>
                <input type="" class="form-control"   placeholder="">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="condrelat ">
            <h3>Condition related to</h3>
            <div class="clearfix"></div>
            <div class="ml-2 mr-2 form-inline ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Employment </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Employment </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> Auto accident </label>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="ml-3 mr-3">
            <div class="row">
              <div class="col-sm-6">
                <label for="">Place</label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Claim Codes(Designated by NUCC) </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Signature</label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">&nbsp;</label>
                <select class="form-control minimal" id="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box">
          <div class="boxhead">
            <h2>Insured</h2>
          </div>
          <div class="clearfix"></div>
          <div class="ptorder p-1 form-inline">
            <label >Pt. relationship</label>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="">
          </div>
          <div class="clearfix"></div>
          <div class="ml-3 mr-3">
            <div class="row">
              <div class="col-sm-4">
                <label for="">First Name </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-4">
                <label for="">Middle Initial </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-4">
                <label for="">Last Name </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-12">
                <label for="">Address </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">City </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">State </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Zip Code</label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Telephone </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-4">
                <label for="">Policy gp </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-4">
                <label for="">DOB </label>
                <select class="form-control minimal" id="">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="col-sm-4">
                <label for="">Sex </label>
                <input type="" class="form-control"   placeholder="">
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="condrelat ">
            <h3>Other Claim ID (Designated by NUCC)</h3>
            <div class="clearfix"></div>
            <div class="ml-3 mr-3">
              <div class="row">
                <div class="col-sm-12">
                  <label>Qualifier</label>
                  <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                  <input type="" class="form-control"   placeholder="">
                </div>
                <div class="col-sm-6">
                  <input type="" class="form-control"   placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div >
            <div class="ml-3 mr-3">
              <div class="row">
                <div class="col-sm-12">
                  <label>Ins.plan</label>
                  <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                  <input type="" class="form-control"   placeholder="">
                </div>
                <div class="col-sm-6">
                  <button type="button" class="linkord ">Select Primary Insurance</button>
                </div>
                <div class="col-sm-12">
                  <label>Signature</label>
                  <div class="clearfix"></div>
                </div>
                <div class="col-sm-6">
                  <input type="" class="form-control"   placeholder="">
                </div>
                <div class="col-sm-6">
                  <select class="form-control minimal" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-2 mb-2">
    <button type="button" class="orgbutton ">Submit</button>
  </div>
</div>
