<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Other Inventory Listing</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link" (click)="addotherinventory()">
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="updateotherinventory()">
                    <i class="icon-edit"></i> Modify
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="duplicateOther()">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="addLocationOther()">
                    <i class="icon-add-all"></i> Add to All</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" (click)="deleteRows()">
                    <i class="icon-delete-all"></i> Delete All</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" (click)="dialogBox()">
                    <i class="ti-layout-column3"></i> Data View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="sortallinventory = true">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="reset(dt)">
                    <i class="ti-reload"></i> Refresh</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="advancedFilterClick()"> Advanced Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="pricecalculation = true">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Syncronize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="addbarcodelabelsSet()">Labels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="importcsv()">Import CSV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="deActive()">Deactivate</a>
                    </li>
                    <li class="nav-item" (click)="reactive()">
                        <a class="nav-link">Reactivate</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>



<!-- table Grid -->
<div class="col-md-12 mt-3" *ngIf="rowData?.length <= 0">
    <div class="border m-auto">
        <p-table #dt [value]="otherinventorylist" (onRowSelect)="onRowSelect($event)" [lazy]="true" [paginator]="true"
            [style]="{width:'100%'}" [totalRecords]="totalRecords" (onPage)="loadLazyItems($event)"
            selectionMode="multiple" scrollHeight="65vh" [columns]="otherdatacolumns" [scrollable]="true" [rows]="100"
            [(selection)]="othersMultipleSelection" (onRowUnselect)="onRowUnselect($event)"
            (onSort)="customSort($event)" [customSort]="true" [first]="paginationPage">

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of otherdatacolumns" [pSortableColumn]="col.field"
                        [ngClass]="{'hidden': !col.visible}" pReorderableColumn pResizableColumn>
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                    <th *ngFor="let col of otherdatacolumns" [ngSwitch]="col.field"
                        [ngClass]="{'hidden': !col.visible}">
                        <input *ngSwitchCase="'id'" id="id" class="form-control" pInputText type="text"
                            (input)="Filtervalues()" [(ngModel)]="searchValueID">

                        <select *ngSwitchCase="'Vendor'" (change)="Filtervalues()" name="vendor" id="vendorid"
                            class="form-control" [(ngModel)]="searchValueVendor">
                            <option *ngFor="let sup of suppliers" [value]="sup.Id">{{sup.Name}}</option>
                        </select>
                        <select *ngSwitchCase="'category'" (change)="Filtervalues()" name="category"
                            class="form-control" [(ngModel)]="searchValueCategory">
                            <option *ngFor="let catergy of categories" [value]="catergy.Id">{{catergy.Name}}</option>
                        </select>
                        <input *ngSwitchCase="'name'" class="form-control" pInputText type="text"
                            (input)="Filtervalues()" [(ngModel)]="searchValueName">

                        <input *ngSwitchCase="'retail_price'" (input)="Filtervalues()" class="form-control" pInputText
                            type="text" [(ngModel)]="searchValueRetailPrice">
                        <input *ngSwitchCase="'upc_code'" (input)="Filtervalues()" class="form-control" pInputText
                            type="text" [(ngModel)]="searchValueUPC">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData" (dblclick)="DoubleClickframes(rowData)">
                    <!-- <td *ngFor="let col of otherdatacolumns" [ngClass]="{'hidden': !col.visible}">
                            {{rowData[col.field]}}
                        </td> -->
                    <td *ngIf="rowId">{{rowData.id}}</td>
                    <!-- <td>{{rowData.categoryid}}</td> -->
                    <td *ngIf="rowCategory">
                        {{this.utility.getArrayItem({data:categories,matchWith:'Id',matchValue:rowData.categoryid,position:1,dataType:'string'})}}
                    </td>
                    <!-- <td>{{rowData.vendor_id}}</td> -->
                    <td *ngIf="rowSupplier">
                        {{this.utility.getArrayItem({data:suppliers,matchWith:'Id',matchValue:rowData.vendor_id,position:1,dataType:'int'})}}
                    </td>
                    <td *ngIf="rowName">{{rowData.name}}</td>
                    <td *ngIf="rowRetail">{{rowData.retail_price}}</td>
                    <td *ngIf="rowUpc">{{rowData.upc_code}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<!-- Add others    <select class="form-control" formControlName="vendorId">
                                        <option [ngValue]="null">Select supplier</option>
                                        <option *ngFor="let supplier of supliers" [ngValue]="supplier.Id">{{supplier.Name}}</option>
                                    </select>-->
<div *ngIf="addInventoryOthers">
    <p-sidebar [(visible)]="addInventoryOthers" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w50">
        <app-add-inventory-others [imageItem]="imageItemId" (otherAddItem)="otherAddItemEvent($event)">
        </app-add-inventory-others>
    </p-sidebar>
</div>


<!-- Advanced Filter -->

<p-sidebar [(visible)]="advancedFilter" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w30">
    <app-others-advancedfilter (othersAdvFilter)="othersAdvFilterEvent($event)"></app-others-advancedfilter>
</p-sidebar>

<p-dialog class="dataview-popup" header="Data View" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="150" [minWidth]="200" [minY]="70">
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                <mat-checkbox id="selectAll" [checked]="samplevisible" (change)="checkBoxClick('selectAll' ,$event)">
                    <span>Select All</span>
                </mat-checkbox>
                <li *ngFor="let col of otherdatacolumns">
                    <mat-checkbox id="{{col.header}}" [checked]="col.visible"
                        (change)="checkBoxClick(col.header, $event)"
                        [disabled]="tableHeaderFilters.includes(col.header)">
                        <span [innerHTML]="col.header"></span>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>

<!-- Price Calculation  -->
<p-sidebar [(visible)]="pricecalculation" position="right" [baseZIndex]="10000" class="ecl-sidebar pricecalculation">
    <app-pricecalculation></app-pricecalculation>
</p-sidebar>

<!-- dialog Box -->
<dialog-box #deleteRow> </dialog-box>
<deactivate #deactivateRow (otherDeactive)="otherDeactiveevent($event)"> </deactivate>
<app-import-csv #importcsvBox (csvOutput)="csvImportEvent($event)"> </app-import-csv>
<!-- Reactivate -->
<div *ngIf="othersReActivateItems">
    <p-sidebar [(visible)]="othersReActivateItems" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-ptable ecl-sidebar-w70">
        <app-others-reactivate-inventory-items (othersReactive)="othersReactiveEvent($event)">
        </app-others-reactivate-inventory-items>
    </p-sidebar>
</div>

<!-- Sort All Inventory -->
<p-sidebar [(visible)]="sortallinventory" position="right" [baseZIndex]="10000" class="ecl-sidebar w-25">
    <app-sort-all-inventory (sortalloutput)="sortallevent($event)"></app-sort-all-inventory>
</p-sidebar>
<div *ngIf="addLoctionOtherType">
    <p-sidebar [(visible)]="addLoctionOtherType" position="right" [baseZIndex]="10000" class="ecl-sidebar">
        <app-add-location (otherLocations)="otherLocationsEvent($event)"></app-add-location>
    </p-sidebar>
</div>
<div *ngIf="addbarcodelabels">
    <p-sidebar [(visible)]="addbarcodelabels" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w80 barcode-labels">
        <barcodelabels></barcodelabels>
    </p-sidebar>
</div>