@charset "utf-8";
/* CSS Document */
.loginpage{ background-color:#f7941e!important;position: fixed; width: 100%; height: 100%;top: 0;}
.loginbox{ width:750px; margin:40px auto 10px auto; background-color:#fff; padding:20px; -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);}

.lt_right{ text-align:right}
.lt_right img{ width:35px; height:auto}
.lt_right span{ margin:5px 10px 0px 0px; color:#01467d; font-size:20px}

.logicon { text-align:center; margin:30px 0px}
.logicon h1{ margin:20px auto 40px auto; padding:0px; font-weight:300; font-size:25px; color:#787878}

.loginbox label{ color:#01467d; font-size:16px!important; margin-bottom:10px!important;}
/* .loginbox .form-control {
   border-radius: 0px !important;
   padding: 0px 4px !important;
   height: inherit!important;
   font-size: 13px !important;
} */

.loginbox  .fa{ font-size:26px;}
.loginbox .input-group { margin-bottom:20px;}
/* .loginbut{ background-color:#263672; border:0px; color:#fff; padding:6px 15px!important;} */
.exitbut{ background-color:#606060; border:0px; color:#fff;  padding:6px 15px!important;}
/* .timedat{ font-size:14px; margin:5px 0px ; text-align:center; color:#01467d} */
.loginbox .custom-select{ padding:inherit!important;}
.copyright{ text-align:center; margin:10px; color:#fff; font-size:13px;}

@media (max-width:767px) {
.loginbox{ width:90%; margin:0px auto }
.loginhead{ text-align:center}
.lt_right span{ font-size:16px;}
.loginbox .fa {font-size: 16px;}
.lt_right img {width: 22px;}
.logicon h1 {font-size: 20px;}
}


/* Login New*/
.loginbox {
    width: 1062px;
    padding: 0;
    margin:100px auto 10px auto; 
    background-color:#fff; 
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13)
}
.login-container {
    margin: 0;
	padding: 0;
	font-size: 14px;
}
.login-left {
    /* width: 512px; */
    height: 614px;
    background: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}
.login-header {
    padding-top: 70px;
}
.login-header h4 {
    font-size: 18px;
    padding: 0;
    margin: 0 0 26px 0;
}
.login-header .login-logo {
    width: 230px;
    margin-bottom: 45px;
}
.login-header h5 {
    font-size: 18px;
    color: #606060;
    padding: 0;
    margin: 0 0 26px 0;
}
/* form */
.loginbox .form-control,
.loginbox .login-select {
   border-radius: 0px;
   padding: 10px !important;
   height: 40px !important;
   font-size: 14px;
}
.loginbox .input-group-text {
    padding: 10px !important;
    width: 40px;
}
.loginbox .input-group-text i{
    font-size: 17px;
}
.login-right {
    /* width: 550px; */
    height: 614px;
    margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
}
.login-reach-us-at {
	padding-top: 205px;
}
.login-reach-us-at p{
	font-size: 18px;
}
.login-reach-us-at a{
	font-size: 48px;
    font-weight: 300;
    color: #fff;
}
.login-social-media {
	margin: 30px 0 100px 0;
	padding: 0;
}
.login-social-media li{
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}
.login-footer-links {
	margin: 0;
	padding: 0;
}
.login-footer-links li{
	margin: 0 10px;
	padding: 0;
	display: inline-block;
}
.login-footer-links a{
    color: #fff;
    text-decoration: underline;
}
.login-footer-links a:hover{
    color: #fff;
    text-decoration: none;
}
.login-copy {
    color: #fff;
    margin-bottom: 20px;
}
.loginbut{ 
    background-color:#263672; 
    border: 0 ;
    color: #fff; 
    padding: 10px !important;
}
.login-version {
    margin: 20px 0;
}
.timedat{ 
    margin:5px 0px; 
}


@media (max-width:1366px) {
    .loginbox {
        margin:40px auto 10px auto; 
        width: 800px;
    }
    .login-container {
        font-size: 13px;
    }
    .login-left,
    .login-right {
        height: 500px;
    }
    .login-header {
        padding-top: 30px;
    }
    .login-header h4 {
        font-size: 14px;
        margin: 0 0 15px 0;
    }
    .login-header .login-logo {
        margin-bottom: 20px;
    }
    .login-header h5 {
        font-size: 14px;
       margin: 0 0 15px 0;
    }
    .login-reach-us-at {
        font-size: 14px;
        padding-top: 120px;
    }
    .login-reach-us-at p{
        font-size: 14px;
    }
    .login-reach-us-at a{
        font-size: 36px;
    }
    .login-version {
        margin: 20px 0 10px 0;
    }
}