<div class="loginpage">
	<div class="loginbox">
		<form id="login_form" (submit)="validateUser()" [formGroup]="loginForm" autocomplete="off">


			<div class="row login-container">
				<div class="col-md-6 login-left">
					<div class="row justify-content-center">
						<div class="col-10">
							<div class="login-header">
								<h4>WELCOME TO</h4>
								<img class="login-logo" alt="mycare" src="assets/images/myCare-MVE.svg">
								<h5>Login to your account</h5>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="icon-company-code" aria-hidden="true"></i>
											</div>
										</div>
										<select class="form-control login-select" formControlName="location" (change)="locationChange($event)"
										 placeholder="Select Company code">
											<option *ngFor="let loc of locations" [value]="loc.id">{{loc.name}}</option>
										</select>
									</div>
								</div>
								<div class="col-12">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="icon-user2" aria-hidden="true"></i>
											</div>
										</div>
										<input type="text" id="u_n" formControlName="username" required="" class="form-control" autocomplete="off" value=""
										 placeholder="Enter User Id"><br>
										
									</div>
								</div>
								<div class="col-12">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="ti-lock" aria-hidden="true"></i>
											</div>
										</div>
										<input type="password" id="p_w" formControlName="password" required="" autocomplete="off" class="form-control" id=""
										 placeholder=" Enter Password" value="">
									</div>
								</div>
								<div class="col-12">
									<button type="submit" class="btn btn-secondary btn-lg btn-block loginbut m-0">SIGN IN</button>
								</div>
								<div class="col-12">
									<div class="login-version">V MVP 1.0 </div>
									<div class="timedat">
										<p>{{objDate | date :'fullDate' }} {{objDate | date :'shortTime' }}</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<!-- /Login left -->
				<div class="col-md-6 login-right" style="background-image:url('./assets/img/login-bg-right.jpg')">
					<div class="login-reach-us-at">
						<p>Reach us at</p>
						<a href="tel:1-877-882-7456">1-877-882-7456</a>
					</div>
					<ul class="login-social-media">
						<li><a href=""><img src="./assets/img/facebook.png" alt="" /></a></li>
						<li><a href=""><img src="./assets/img/twitter.png" alt="" /></a></li>
						<li><a href=""><img src="./assets/img/blog.png" alt="" /></a></li>
					</ul>
					<div class="login-copy">
						Copyrights © 2018 Eye Care Leaders ® All rights reserved.
					</div>
					<ul class="login-footer-links">
						<li><a href="#">Our Privacy Statement</a></li>
						<li><a href="#">Copyright notice</a></li>
						<li><a href="#">License</a></li>
					</ul>
				</div>
				<!-- /Login right -->
			</div>
			<!-- /login-container -->
		</form>
	</div>
</div>

