
<div class="clearfix"></div>
<div class="col-sm-12 tabing">
 <div class="ml-3 mr-3">
    <div class="row">
   <div class="col-sm-2">
   <ul class="nav nav-tabs" id="myTab" role="tablist">
       <li class="nav-item">
         <a class="nav-link active" id="insurancecompany-tab" data-toggle="tab" href="#insurancecompany" role="tab" aria-controls="insurancecompany" aria-selected="true">Insurance Company</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" id="insurancegroup-tab" data-toggle="tab" href="#insurancegroup" role="tab" aria-controls="insurancegroup" aria-selected="false">Insurance Group</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" id="feeschedules-tab" data-toggle="tab" href="#feeschedules" role="tab" aria-controls="feeschedules" aria-selected="false">Fee Schedules</a>
       </li>

      </ul>

   </div>
   <div class="col-sm-10">
         <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="insurancecompany" role="tabpanel" aria-labelledby="insurancecompany-tab">
              <app-insurance-company></app-insurance-company>
            </div>

            <div class="tab-pane fade" id="insurancegroup" role="tabpanel" aria-labelledby="insurancegroup-tab">
              <app-insurance-groups></app-insurance-groups>
            </div>
            <div class="tab-pane fade" id="feeschedules" role="tabpanel" aria-labelledby="feeschedules-tab">
              <app-fee-schedules></app-fee-schedules>
            </div>

         </div>
   </div>
 </div></div>

</div>
<div class="clearfix"></div>
