<div class="card">
    <div class="card-header">Spectacle Lens Prescription</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row form-row">
                    <div class="form-group col-sm-3">
                        <label>Location</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Physician</label>
                        <div class="input-group">
                            <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                            <div class="input-group-append">
                                <button class="btn btn-space">
                                    <i class="ti-more-alt"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-empty"></label>
                        <p-checkbox name="groupname" value="Duplicate" label="Duplicate" [(ngModel)]="selectedValues">
                        </p-checkbox>
                        <p-checkbox name="groupname" value="Outside Rx" label="Outside Rx" class="ml-4"></p-checkbox>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-sm-3">
                        <label>Rx Date</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Expiry Date</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Usage</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Discontinued Date</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="location"></p-dropdown>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Lens Material</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Lens Style</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Far</th>
                                    <th>Near</th>
                                    <th>DVA</th>
                                    <th>NVA</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>

                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="light-grey">
                                    <td>
                                        <b>OU</b>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-11">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr class="text-nowrap">
                                    <th></th>
                                    <th>Balance</th>
                                    <th>Sphere</th>
                                    <th>Cyle</th>
                                    <th>Axis</th>
                                    <th>Add</th>
                                    <th>H Prism</th>
                                    <th>H Base</th>
                                    <th>V Prism</th>
                                    <th>V Base</th>
                                    <th>BC</th>
                                    <th>Vertex</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1 mt-5">
                        <a class="btn btn-primary btn-exam">
                            <i class="ti-line-double"></i>
                        </a>
                    </div>
                </div>
                <div class="row form-row">
                    <div class="form-group col-sm-3">
                        <label>Release Date</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-empty"></label>
                        <p-checkbox name="groupname" value="Released" label="Released" [(ngModel)]="selectedValues">
                        </p-checkbox>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Lock Date</label>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="form-group col-sm-3">
                        <label class="label-empty"></label>
                        <p-checkbox name="groupname" value="Locked" label="Locked" [(ngModel)]="selectedValues">
                        </p-checkbox>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <label>Notes</label>
                        <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">OK</button>
            <button type="button" class="btn btn-primary float-right">Print</button>
            <button type="button" class="btn btn-primary float-right">Fill</button>
            <button type="button" class="btn btn-primary float-right">Transpose</button>
        </div>
    </div>
</div>