<form id=add [formGroup]="OrderForm" #formDir="ngForm" (input)="OrderframeChange()" novalidate>
  <div class="row form-row">

    <div class="form-group col-md-2">
      <label>Source</label>
      <select class="form-control" formControlName="source_id">
        <option *ngFor="let sourcedetails of source" [value]="sourcedetails.Id">{{sourcedetails.Name}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>UPC</label>
      <span class="text-danger" *ngIf="OrderForm.controls['upc_code'].hasError('required')">
        *</span>
      <div class="input-group">
        <input type="text" name="upc" [readonly]="upcreadonly" formControlName="upc_code" [value]="selectedupc"
          class="form-control" (keypress)="upcEnterEvent($event);this.utility.numberOnly($event)">
        <div class="input-group-append">
          <button class="btn btn-space" type="button" [disabled]="upcreadonly" (click)="selectInventoryBar()">
            <i class="ti-more-alt"></i>
          </button>
        </div>
      </div>
      <!-- <select name="" id="" class="form-control">
                <option value=""></option>
            </select> -->
      <!-- <input type="text" name="upc" formControlName="upc_code"  [value]="selectedupc" class="form-control"> -->
      <!-- <select name="" id="" class="form-control">
                  <option value=""></option>
              </select> -->
      <!-- <input type="text" name="upc" [readonly]="upcreadonly" formControlName="upc_code"  (input)="onchange($event)" [value]="selectedupc" class="form-control"> -->
    </div>
    <div class="form-group col-md-2">
      <label>Name</label>
      <!-- <select class="form-control" (change)="onNameSelected($event)" formControlName="item_id" > -->
      <!-- <option [value]="null">Select Name</option> -->
      <!-- <option *ngFor="let framenames of framename" [value]="framenames.itemId">{{framenames.Name}}</option>
      </select> -->
      <span class="text-danger" *ngIf="OrderForm.controls['item_id'].hasError('required')">
        *</span>
      <select class="form-control" (change)="onNameSelected($event)" formControlName="item_id">
        <!-- <option [value]="null">Select Name</option> -->
        <option *ngFor="let framenames of framename" [value]="framenames.id">{{framenames.name}}</option>
      </select>
      <input class="form-control" type="hidden" formControlName="item_id_temp" />
    </div>
    <div class="form-group col-md-2">
      <label>Manufacturer</label>
      <select name="manufacturer" class="form-control" formControlName="manufacturer_id">
        <!-- <option [value]="">Select Manufacturer</option> -->
        <option *ngFor="let manuf of Manufacturers" [value]="manuf.Id">{{manuf.Name}}</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label>Collection</label>
      <select class="form-control" name="brand" formControlName="brand_id">
        <!-- <option [value]="null">Select Brand</option> -->
        <option *ngFor="let Brand of Brands" [value]="Brand.Id">{{Brand.Name}}</option>
      </select>
    </div>


    <div class="form-group col-md-2">
      <label>Invoice No.</label>
      <select name="" id="" class="form-control">
        <option value=""></option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-12">
          <picture class="ecl-frame-preview">
            <img src="assets/images/order/frame.png" alt="">
          </picture>
        </div>
      </div>
      <div class="bg-blue2 p-3 ecl-diagnosis">
        <h4>Diagnosis</h4>
        <div class="row form-row">
          <div class="form-group col-sm-3">
            <label for="Collection">A</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">B</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">C</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">D</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">E</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">F</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">G</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">H</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">I</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>

          <div class="form-group col-sm-3">
            <label for="Collection">J</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>
          <div class="form-group col-sm-3">
            <label for="Collection">K</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>
          <div class="form-group col-sm-3">
            <label for="Collection">L</label>
            <p-dropdown #dd [options]="cars" filter="true" [style]="{'width':'100%'}"></p-dropdown>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ecl-order-colors">
        <h4>Colors</h4>
        <div class="row form-row">
          <div class="col-md-3">
            <div class="form-group color-selector">
              <label>Frame Color</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text color color-selected"></span>
                </div>
                <select class="form-control" (change)="onframecolorchangeevent($event)" formControlName="color_id">
                  <!-- <option [value]="null">Select Color</option> -->
                  <option *ngFor="let color of frameColor" [value]="color.Id">{{color.Name}}</option>
                </select>
              </div>
              <!--  <div class="color-list clearfix">
                <a href="" class="color color1"></a>
                <a href="" class="color color2"></a>
                <a href="" class="color color3"></a>
                <a href="" class="color color4"></a>
                <a href="" class="color color5"></a>
                <a href="" class="color color6"></a>
              </div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group color-selector">
              <label>Col#</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text color color-selected"></span>
                </div>
                <input type="text" class="form-control" formControlName="color_code">
              </div>
              <!-- <div class="color-list clearfix">
                <a href="" class="color color1"></a>
                <a href="" class="color color2"></a>
                <a href="" class="color color3"></a>
                <a href="" class="color color4"></a>
                <a href="" class="color color5"></a>
                <a href="" class="color color6"></a>
              </div> -->
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group color-selector">
              <label>Lens Color</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text color color-selected"></span>
                </div>
                <select class="form-control" formControlName="lens_color">
                  <!-- <option [value]="null">Select Lens Color</option> -->
                  <option *ngFor="let color of lenscolor" [value]="color.Id">{{color.Name}}</option>
                </select>
              </div>
              <!--  <div class="color-list clearfix">
                <a href="" class="color color1"></a>
                <a href="" class="color color2"></a>
                <a href="" class="color color3"></a>
                <a href="" class="color color4"></a>
                <a href="" class="color color5"></a>
                <a href="" class="color color6"></a>
              </div> -->
            </div>
          </div>
          <div class="form-group col-md-3">
            <label>Module</label>
            <span class="text-danger" *ngIf="OrderForm.controls['module_type_id'].hasError('required')">
            </span>
            <select name="" id="" class="form-control" formControlName="module_type_id">
              <!-- <option [value]="null">select Module</option> -->
              <option *ngFor="let Mod of module" [value]="Mod.Id">{{Mod.Name}}</option>
            </select>
          </div>


        </div>
      </div>
      <div class="ecl-order-material">

        <h4>Material & Type</h4>
        <div class="row form-row">
          <div class="col-md-3">
            <div class="form-group">
              <label>Material</label>
              <select class="form-control" formControlName="material_id">
                <!-- <option [value]="">Select Material</option> -->
                <option *ngFor="let material of materials" [value]="material.id">{{material.materialname}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Frame Type</label>
              <select class="form-control" formControlName="type_id">
                <option [value]="null">Select Frame Type</option>
                <option *ngFor="let frameType of frameTypes" [value]="frameType.Id">{{frameType.Name}}</option>
              </select>

            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Rim Type</label>
              <select name="" id="" class="form-control" formControlName="rimtypeid">
                <option *ngFor="let Rtype of framesRimType" [value]="Rtype.Id">{{Rtype.Name}}</option>
              </select>

            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Shape</label>
              <select class="form-control" formControlName="shape_id">
                <!-- <option [value]="null">Select Shape</option> -->
                <option *ngFor="let frameShape of frameShapes" [value]="frameShape.Id">{{frameShape.Name}}</option>
              </select>

            </div>
          </div>
        </div>
      </div>
      <div class="row form-row">
        <div class="col">
          <div class="border border-color-blue2 p-3">
            <div class="row form-row">
              <div class="form-group col-sm-3">
                <label>Eye</label>
                <!-- <p-dropdown class="form-control" [options]="eyedetails" formControlName="eyesize"></p-dropdown> -->
                <input type="text" formControlName="eyesize" class="form-control">
              </div>
              <div class="form-group col-sm-3">
                <label>Bridge</label>
                <input type="text" formControlName="bridge" class="form-control">
              </div>
              <div class="form-group col-sm-3">
                <label>Temple</label>
                <input type="text" formControlName="temple" class="form-control">
              </div>
            </div>
            <div class="row form-row">
              <div class="form-group col-sm-3">
                <label>A</label>
                <input type="text" formControlName="a" class="form-control">
              </div>
              <div class="form-group col-sm-3">
                <label>B</label>
                <input type="text" formControlName="b" class="form-control">
              </div>
              <div class="form-group col-sm-3">
                <label>Ed</label>
                <input type="text" formControlName="ed" class="form-control">
              </div>
              <div class="form-group col-sm-3">
                <label>DBL</label>
                <input type="text" formControlName="dbl" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row form-row">
            <div class="form-group col-sm-6">
              <label>Usage</label>
              <select class="form-control" formControlName="frameusageid">
                <option *ngFor="let Utype of framesUsage" [value]="Utype.Id">{{Utype.Name}}</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label>Gender</label>
              <div class="input-group">
                <select class="form-control" formControlName="gendertype">
                  <option [ngValue]="null">Select Gender</option>
                  <option *ngFor="let gender of genderDropDown" [value]="gender.Id">{{gender.Name}}</option>
                </select>

                <!-- <div class="input-group-append ml-1">
                  <span class="input-group-text" id="basic-addon2">Trace File</span>
                </div> -->
              </div>
            </div>
            <div class="form-group col-sm-6">
              <label>Trace File</label>
              <input type="text" formControlName="traceFile" class="form-control" [readonly]='true'>
            </div>
            <div class="form-group col-sm-12">
              <label>Lab Inst</label>
              <textarea name="" id="" cols="30" rows="3" formControlName="Labinstructions"
                class="form-control"></textarea>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</form>

<!-- Select Inventory Sidebar -->
<div *ngIf="selectInventorySidebar">
  <p-sidebar [(visible)]="selectInventorySidebar" position="right" [baseZIndex]="10000"
    class="ecl-sidebar ecl-sidebar-w80">
    <app-order-select-inventory (FrameInventory)="FrameUpcData($event)"></app-order-select-inventory>
  </p-sidebar>
</div>