
<div class="sidebar-menu-inner">
    <ul id="main-menu" class="main-menu">
        <li>
            <a routerLinkActive="active" (click)="reload_Pages.emit('/patient/track')">
                <i class="icon-patient-tracker"></i>
                <span class="title">Dashboard</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a>
                            <span class="title">Tracker</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a routerLink="/patient/add-patient">
                <i class="ti-plus"></i>
                <span class="title">Demographics</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a>
                            <span class="title">Add Patient</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a routerLink="/patient/search">
                <i class="icon-user-search"></i>
                <span class="title">Search</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a>
                            <span class="title">Patient Search</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a routerLink="/order/order" routerLinkActive="active">
                <i class="ti-bag"></i>
                <span class="title">Order</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a>
                            <span class="title">Order</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a routerLink="/order/search">
                <i class="icon-order-search"></i>
                <span class="title">Order Search</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a>
                            <span class="title">Order Search</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li>
            <a routerLink="/rx/vision-prescription" routerLinkActive="active">
                <i class="icon-rx"></i>
                <span class="title">Erx</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a class="iMW" routerLink="/rx/vision-prescription" routerLinkActive="active">
                            <span class="title">
                                <i class="ti-eye"></i>
                                <i class="icon-rx2"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li (click)="LaunchportalSSO()" >
            <a>
                <i class="icon-portal"></i>
                <span class="title">Portal Dashboard</span>
            </a>
            <div class="submenu rx">
                <ul class="pr-3">
                    <li>
                        <a>
                            <span class="title">Patient Portal</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <ul class="main-menu userinfo">
        <li>
            <a (click)="infoMsgShow.emit()">
                <i class="ti-help-alt"></i>
                <span class="title">Help</span>
            </a>
            <div class="submenu help">
                <ul>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Help Topics</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Knowledgebase</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Tutorials</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Start Page </span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Support</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Feedback</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Register myCare|MVE</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">About myCare|MVE</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a (click)="infoMsgShow.emit()">
                <i class="icon-maintenance"></i>
                <span class="title">Maintenance</span>
            </a>
            <div class="submenu maintenance">
                <ul>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">MAINTENANCE</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">VisionWeb</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Eyemaginations</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Patient Files</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/patient/merge" routerLinkActive="active">
                            <span class="title">Merge Patient </span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Interface Exceptions</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Exam Lock</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Device Settings</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Database Restore</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Database Backup</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/maintenance/daily-closing" routerLinkActive="active">
                            <span class="title">Daily Closing </span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Customizer</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Letters</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a>
                <i class="ti-settings"></i>
                <span class="title">Settings</span>
            </a>
            <div class="submenu setting">
                <ul>
                    <li>
                        <a>
                            <span class="title">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/supplier" routerLinkActive="active">
                            <span class="title">Supplier/Lab</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Patient Tracker</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/marketing" routerLinkActive="active">
                            <span class="title">Marketing Setup</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/insurance" routerLinkActive="active">
                            <span class="title">Insurance</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Frame Markup</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/exam/complete-exam" routerLinkActive="active">
                            <span class="title">Exam</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/employees" routerLinkActive="active">
                            <span class="title">Employees</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/documents" routerLinkActive="active">
                            <span class="title">Documents</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/company">
                            <span class="title">Company</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/tax">
                            <span class="title">Tax</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/commission-stuctures">
                            <span class="title">Commission Structure</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/settings/calendar">
                            <span class="title">Calendar</span>
                        </a>
                    </li>
                    <li>
                        <a> <span class="title">Billing</span></a>

                        <div class="submenu_child dropdown-menu1">
                            <ul>
                                <div class="row">
                                    <div class="col-md-12">
                                        <li><a routerLink="/billing/cpt"><span class="title">CPT</span></a></li>
                                        <li><a routerLink="/billing/dx-codes"><span class="title">Dx Codes</span></a>
                                        </li>
                                        <li><a routerLink="/billing/electronic"><span
                                                    class="title">Electronic</span></a></li>
                                        <li><a routerLink="/billing/fee-table"><span class="title">Fee Table</span></a>
                                        </li>
                                        <li><a routerLink="/billing/icd10"><span class="title">ICD-10</span></a></li>
                                        <li><a routerLink="/settings/insurance"><span class="title">Insurance</span></a>
                                        </li>
                                        <li><a routerLink="/settings/insurance"><span class="title">Insurance
                                                    Groups</span></a></li>
                                        <li><a routerLink="/billing/manage-pos"><span class="title">Manage
                                                    POS</span></a></li>
                                        <li><a routerLink="/billing/modifiers"><span class="title">Modifiers</span></a>
                                        </li>
                                        <li><a routerLink="/billing/policies"><span class="title">Policies</span></a>
                                        </li>
                                        <li><a routerLink="/billing/write-off-codes"><span class="title">Write Off
                                                    Codes</span></a></li>
                                    </div>
                                </div>
                            </ul>
                        </div>

                    </li>
                    <li>
                        <a (click)="infoMsgShow.emit()">
                            <span class="title">Adjustments</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a (click)="infoMsgShow.emit()" class="logo">
                <img src="assets/images/logo@2x.png" width="35" alt="" />
            </a>
        </li>
    </ul>

</div>

