<div class="card">
    <div class="card-header">Add All</div>
    <div class="card-body">
        <div class="form-group">
            <label for="">Order Status</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Order Location</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Lab</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Lab Sent</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Order Date</label>
             <p-calendar [showIcon]="true" dateFormat="mm-dd-yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}} class="mb-2"></p-calendar>
             <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
        </div>
        <div class="form-group">
            <label for="">Order Type</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="">Tray#</label>
            <p-dropdown [options]="pastOrderBy" [style]="{'width':'100%'}" placeholder="Select"></p-dropdown>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right">Add</button>
        </div>
    </div>
</div>