<form id=RecievingTransactionSearch [formGroup]="SearchRecievingInventoryForm" #formDir="ngForm">
    <div class="card order-other-discount">
        <div class="card-header">Search </div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-4">
                    <label> Receive ID </label>
                    <input type="text" class="form-control" formControlName="inventory_recieve_id">
                </div>
                <div class="form-group col-sm-4">
                    <label>Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-4">
                    <label>Bill Due Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-4">
                    <label>Supplier<span class="text-danger"  *ngIf="SearchRecievingInventoryForm.controls['supplierid'].hasError('required' )">
                            * </span></label>
                    <!-- <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" [style]="{'width':'100%'}"></p-dropdown> -->
                    <select class="form-control" formControlName="supplierid">
                        <!-- <option [ngValue]="null">Select Supplier</option> -->
                        <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.vendor_name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label>Invoice </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label>Location</label>
                    <!-- <p-dropdown [options]="cities1" [(ngModel)]="selectedCity1" [style]="{'width':'100%'}"></p-dropdown> -->
                    <select class="form-control" formControlName="locationid">
                            <option [ngValue]="null">Select Location</option>
                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label>Terms</label>
                    <!-- <input type="text" class="form-control"> -->
                    <select class="form-control" formControlName="terms">
                        <option *ngFor="let paymentTerm of paymentTermsData" [ngValue]="paymentTerm.Id">{{paymentTerm.paymentterm}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-4">
                    <label>Invoice Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-4">
                    <label>Bill to  come</label>
                    <p-dropdown [options]="groupBy"  [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="SearchfilterData" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px"
                        (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Location</th>
                                    <th>Supplier</th>
                                    <th>Date</th>
                                    <th>Invoice</th>
                                    <th>Total Amount</th>
                                    <th>Bill Due Date</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-SearchfilterData>
                                <tr [pSelectableRow]="SearchfilterData" (dblclick)="DoubleClickPO(SearchfilterData)">
                                    <td>{{SearchfilterData.id}}</td>
                                    <td>{{SearchfilterData.locationid}}</td>
                                    <td>{{SearchfilterData.supplierid}}</td>
                                    <td>{{SearchfilterData.receive_date}}</td>
                                    <td>{{SearchfilterData.invoice}}</td>
                                    <td>{{SearchfilterData.total_amount}}</td>
                                    <td>{{SearchfilterData.bill_due_date}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="searchClose()">Cancel</button>
            <button type="button" class="btn btn-primary float-right">Clear</button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right" (click)="Poselectbtn()">Select</button>
            <button type="button" class="btn btn-primary float-right" (click)="filterReceivingInventory()" [disabled]="!formDir.form.valid">Search</button>
        </div>
    </div>
</form>