<div class="row m-0">
    <div class="col-10 mt-2 order-shipping-bottom-btn offset-md-2 pl-3 mb-4">
        <button type="button" class="btn btn-primary" (click)="paymentsaving('claim')"  [disabled]="orderService.disablePaymentButton">Claim...</button>
        <button type="button" class="btn btn-primary">More...</button>
        <button type="button" class="btn btn-primary">
            <i class="ti-unlock"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="orderedItemsSidebar = true">
            <i class=" ti-flag-alt"></i>
        </button>
        <button type="button" class="btn btn-primary">
            <i class=" ti-email"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="orderprintselection = true" title="Print">
            <i class=" ti-printer"></i>
        </button>
        <div class="btn text-left">
            <!--<div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="printdialog">
                <label class="form-check-label" for="printdialog">
                    Print Dialog
                </label>[disabled]="saveEnable" [disabled]="shippingEnable"
            </div>-->
            <p-checkbox [(ngModel)]="ShippingStatus" value="Ship To" label="Ship To" (onChange)="checkedShipTo()"
                binary="true"></p-checkbox>
            <br>
            <p-checkbox [(ngModel)]="checked" binary="true" value="Print Dialog" label="Print Dialog" id="printdialog">
            </p-checkbox>

        </div>
        <button type="button" class="btn btn-primary">
            <i class=" ti-search"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="cancleClick()">Cancel</button>
        <button type="button" class="btn btn-primary">Letters</button>
        <button type="button" class="btn btn-primary" [disabled]="orderService.disablePaymentButton"
            (click)="paymentsaving('payments')">Payments...</button>
        <button type="button" class="btn btn-primary" (click)="saveButtonClick()">Save</button>
        <button type="button" class="btn btn-primary" (click)="NewButton()">New</button>
        <button type="button" class="btn btn-primary" (click)="newSameClick()">New Same</button>
    </div>
</div>
<!-- payment details -->
<!-- <p-sidebar [(visible)]="paymentDetails" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-shipping-payments">
    <app-payment-component></app-payment-component>
</p-sidebar> -->

<!-- Print Selection -->

<p-sidebar [(visible)]="orderprintselection" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-print-selection (printOutput)="printevent($event)"></app-print-selection>
</p-sidebar>

<!-- Ordered Items -->
<p-sidebar [(visible)]="orderedItemsSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w50">
    <app-ordered-items (orderedItemOutput)="orderedItemevent($event)"></app-ordered-items>
</p-sidebar>

<!-- Shipping Details -->
<p-sidebar [(visible)]="shippingDetailsCheck" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w40">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">Shipping Details</div>
                <div class="card-body">
                    <app-order-shipping-details></app-order-shipping-details>
                </div>
            </div>
        </div>
    </div>
</p-sidebar>