<p-dialog class="dialog-popup" header="Delete From All" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350"
[minWidth]="200" [minY]="70">
<!-- <span>Are you sure you want to delete the selectced row(s)</span> -->
{{Typedata}}
<p-footer>
    <!-- <button type="button" class="btn btn-default" (click)="display=false">Cancel </button>
    <button type="button" class="btn btn-primary" (click)="display=false">Delete</button> -->
    <!-- <span>{{excessDataView}}</span> -->
    
</p-footer>
</p-dialog>
