
<div class="heltbenfit">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
</div>
<div class="col-sm-12">
  <div class="ml-3 mr-3">
    <div class="row">
      <div class=" col-sm-4">
        <label for="">First Name </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class=" col-sm-4">
        <label for="">Last Name </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class=" col-sm-4">
        <label for="">Suffix </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class=" col-sm-4">
        <label for="">Ins. / Policy gp </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class=" col-sm-4">
        <label for="">Reserved forNUCC use</label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class=" col-sm-2">
        <label for="">Ins. Plan </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class=" col-sm-2 mt-4">
        <button type="button" class="sm-org-button">Select Secondary Insurance</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-6 ">
        <div class="datebox">
          <h3>Date of current illness, injury, or pregnancy (LMP)</h3>
          <div class="pl-3 pr-3 ">
            <div class="row">
              <div class="col-sm-6">
                <label for="">Qualifier </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Date </label>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 ">
        <div class="datebox">
          <h3>Other Date</h3>
          <div class="pl-3 pr-3">
            <div class="row">
              <div class="col-sm-6">
                <label for="">Qualifier </label>
                <input type="" class="form-control"   placeholder="">
              </div>
              <div class="col-sm-6">
                <label for="">Date </label>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-4">
        <label>Date patient unable to work</label>
        <div class="clearfix"></div>
        <div class="pl-3 pr-3">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text">From</div>
                </div>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text">To</div>
                </div>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <label>Referring Provider</label>
        <div class="clearfix"></div>
        <div class="pl-2 pr-2">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text">From</div>
                </div>
                <input type="" class="form-control"   placeholder="">
              </div>
            </div>
            <div class="col-sm-6">
              <input type="" class="form-control"   placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <label for="">Referring ID type </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class="col-sm-4">
        <label for="">Referring ID number </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class="col-sm-4">
        <label for="">NPI </label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class="col-sm-4">
        <label>Date patient unable to work</label>
        <div class="clearfix"></div>
        <div class="pl-3 pr-3">
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text">From</div>
                </div>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group ">
                <div class="input-group-prepend">
                  <div class="input-group-text">To</div>
                </div>
                <select class="form-control minimal" >
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <label for="">Additional claim information (Designated by NUCC)</label>
        <input type="" class="form-control"   placeholder="">
      </div>
      <div class="col-sm-4">
        <div class=" pl-2 pr-2">
          <div class="row">
            <div class="col-sm-4 mt-4">
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Bill as Group</label>
              </div>
            </div>
            <div class="col-sm-8">
              <label for="">Charges</label>
              <input type="" class="form-control"   placeholder="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="diagnosis">
    <div class="head">Diagnosis </div>
    Note ; please reference the Charges tab for the Diagnosis Codes. </div>
  <div class="clearfix"></div>
  <div class=" ml-3 mr-3">
    <div class="row">
      <div class="col-sm-4">
        <div class="pl-3 pr-3">
          <div class="row">
            <div  class="col-sm-6">
              <label for="">Resubmission </label>
              <select class="form-control minimal" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div  class="col-sm-6">
              <label for="">Reference </label>
              <input type="" class="form-control"   placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="pl-3 pr-3">
          <div class="row">
            <div  class="col-sm-7">
              <label for="">Prior authorization number </label>
              <input type="" class="form-control"   placeholder="">
            </div>
            <div  class="col-sm-5">
              <label for="">Authorization</label>
              <select class="form-control minimal" >
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <label for="">Care Plan Oversight Number</label>
        <input type="" class="form-control"   placeholder="">
      </div>
    </div>
  </div>
  <div class="text-center mt-2 mb-2">
    <button type="button" class="orgbutton ">Submit</button>
  </div>
</div>
