<div class="col-md-12">
    <div class="table-responsive">
        <p-table [value]="locations" class="ecl-table purchaseorder-ptable" [scrollable]="true" [style]="{width:'100%'}"
            scrollHeight="65vh">

            <ng-template pTemplate="colgroup" let-columns>
                <colgroup>
                    <col style="width:35px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                    <col style="width:150px">
                </colgroup>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th class="check-box">
                        <p-checkbox [(ngModel)]="checked" binary="true"></p-checkbox>
                    </th>
                    <th>ID</th>
                    <th>UPC</th>
                    <th>Date Received</th>
                    <th>Invoice</th>
                    <th>Cost</th>
                    <th>Received</th>
                    <th>Remaining</th>
                    <th>Canceled</th>
                    <th>Back Ordered</th>
                    <th>Canceled Reason</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-location>
                <tr>
                    <td class="check-box">
                        <p-checkbox binary="true"></p-checkbox>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>