@charset "utf-8";
/* CSS Document */
.loginpage{ background-color:#f7941e!important;}
.loginbox{ width:750px; margin:40px auto 10px auto; background-color:#fff; padding:20px; -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);}

.lt_right{ text-align:right}
.lt_right img{ width:35px; height:auto}
.lt_right span{ margin:5px 10px 0px 0px; color:#01467d; font-size:20px}

.logicon { text-align:center; margin:30px 0px}
.logicon h1{ margin:20px auto 40px auto; padding:0px; font-weight:300; font-size:25px; color:#787878}

.loginbox label{ color:#01467d; font-size:16px!important; margin-bottom:10px!important;}
.loginbox .form-control {
    border-radius: 0px !important;
    padding: 0px 4px !important;
    height: inherit!important;
    font-size: 13px !important;
}

.loginbox  .fa{ font-size:26px;}
.loginbox .input-group { margin-bottom:20px;}
.loginbut{ background-color:#f7941e; border:0px; color:#fff; padding:6px 15px!important;}
.exitbut{ background-color:#606060; border:0px; color:#fff;  padding:6px 15px!important;}
.timedat{ font-size:14px; margin:5px 0px ; text-align:center; color:#01467d}
.loginbox .custom-select{ padding:inherit!important;}
.copyright{ text-align:center; margin:10px; color:#fff; font-size:13px;}

@media (max-width:767px) {
.loginbox{ width:90%; margin:0px auto }
.loginhead{ text-align:center}
.lt_right span{ font-size:16px;}
.loginbox .fa {font-size: 16px;}
.lt_right img {width: 22px;}
.logicon h1 {font-size: 20px;}
}
