<div class="card">
  <div class="card-header">Items Inventory</div>
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-12">
        <div class="table-responsive">
            <p-table [value]="itemsData" class="ecl-table purchaseorder-ptable" [scrollable]="true" [style]="{width:'100%'}"
                scrollHeight="65vh">
    
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            
                        </th>
                        <th>Item ID</th>
                        <th>Item Type</th>
                        <th>Item Description</th>
                        <th>UPC</th>
                        <th>Source</th>
                        <th>Quality</th>
                        <th>Unit Cost</th>
                        <th>Total Cost</th>
                        <th>Original Order ID</th>
                        <th>Order ID</th>
                        
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-itemsData let-i=rowIndex>
                    <tr >
                        <td class="check-box">
                            <p-checkbox binary="true" (onChange)="checkBoxClick($event,i,itemsData)"></p-checkbox>
                        </td>
                        <td>{{itemsData.id}}</td>
                        <td>{{itemsData.type_id}}</td>
                        <td>{{itemsData.type_desc}}</td>
                        <td>{{itemsData.upc_code}}</td>
                        <td>{{itemsData.sourceid}}</td>
                        <td>{{utilityService.getArrayItem({data:itemsData.locations,matchWith:'loc_id',matchValue:purchaseOrderService.POlocation,position:3, dataType:'string'})}}</td>
                        <td>{{itemsData.wholesale_cost}}</td>
                        <td>{{utilityService.getArrayItem({data:itemsData.locations,matchWith:'loc_id',matchValue:purchaseOrderService.POlocation,position:3, dataType:'string'}) * itemsData.wholesale_cost}}</td>
                        <td></td>
                        <td></td>
                        
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="clearfix">

        <div class="pull-right">
            <button type="button" class="btn btn-primary float-right" (click)="itemsSelect()">OK</button>
        </div>

    </div>
</div>
</div>