<p-dialog class="dialog-popup" header="MYCARE | MVE" positionLeft="100%" [(visible)]="display" [modal]="true" [responsive]="true"
    [width]="480" [minWidth]="200" [minY]="70">
    <p class="pb-0" *ngIf="label">Fields should be comma-seperated and ordered as: Manufacturer, Collection, Frame name, Color description, Color number,
        Material, Frame type, Rim type, Frame shape, Gender, Eyesize, A,B, Ed, Bridge, Temple, Status, UPC, Retail price,
        Cost price. Retail price and Cost price should not have any currency ($) signs. First line is ignored.</p>
    <!-- <button type="button" class="btn btn-primary" (click)="onImportClick()">export</button> -->

    <p-footer>
        <button type="button" class="btn btn-primary float-left">
            <i class="ti-files"></i>
        </button>
        <button type="button" class="btn btn-primary float-left" (click)="onImportClick()">
            <i class="ti-export"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="onOkClick()">OK</button>
    </p-footer>
</p-dialog>

<p-dialog class="dialog-popup" header="Import CSV" positionLeft="100%" [(visible)]="uploadDisplay" [modal]="true" [responsive]="true"
    [width]="480" [minWidth]="200" [minY]="70">
    <div class="col-md-12">
        <p-fileUpload #dt name="demo[]"  accept=".csv" [showUploadButton]="false" [showCancelButton]="false" (onSelect)="onUpload($event)" (onRemove)="onRemove($event)" multiple="multiple"  maxFileSize="100000000">
            <ng-template pTemplate="content">
                <!-- <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul> -->
            </ng-template>
        </p-fileUpload>
        <!-- <p-fileUpload mode="basic" name="demo[]" url="" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload> -->
    </div>
    <p-footer>
        <button type="button" class="btn btn-primary" (click)="uploadDisplay = false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="CsvUpload()">Import</button>
    </p-footer>
</p-dialog>