<!-- Frames Data Inventory Sidebar -->


<form id=framesdataserach [formGroup]="FarmesdataForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Frames Data</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview">
                        <p-tabPanel header="Select Frame">
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Manufacturer</label>
                                    <select class="form-control" formControlName="manufacturerID">
                                        <option [ngValue]="null">Select Manufacturer</option>
                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Name">{{manuf.Name}}</option>
                                    </select>

                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}" optionLabel="manufacturer"></p-dropdown> -->
                                </div>
                                <div class="form-group col">
                                    <label>Collection</label>
                                    <select class="form-control" formControlName="BrandID">
                                        <option *ngFor="let brand of collections" [ngValue]="brand.Name">{{brand.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col">
                                    <label>Style</label>
                                    <select class="form-control" formControlName="StyleID">
                                        <option [ngValue]="null">Select Style</option>
                                        <option *ngFor="let style of styles" [ngValue]="style.Name">{{style.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col">
                                    <label>Color</label>
                                    <select class="form-control" formControlName="ColorID">
                                        <option *ngFor="let color of colors" [value]="color.Id">{{color.Name}}</option>
                                    </select>

                                </div>
                                <div class="form-group col">
                                    <label class="label-empty-16"></label>
                                    <button class="btn btn-primary" (click)="GetFramesdata()">Search</button>
                                    <button class="btn btn-secondary" (click)="Loadformdata()">Clear</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <div class="table-responsive">
                                        <p-table #dt [columns]="Framedatacolumns" [value]="framedatalist" [scrollable]="true"
                                            [style]="{width:'2600px'}" [paginator]="true" [rows]="15"
                                            [rowsPerPageOptions]="[15,30,45,60,75,90,100]" [resizableColumns]="true"
                                            selectionMode="single" [reorderableColumns]="true" [responsive]="true">
                                            <!-- <ng-template pTemplate="colgroup" let-columns>
                                                                                                            <colgroup>
                                                                                                                
                                                                                                                <col *ngFor="let col of Framedatacolumns" [ngClass]="{'hidden': !col.visible}" style="width:150px">
                                                                                                            </colgroup>
                                                                                                        </ng-template> -->
                                            <ng-template pTemplate="header" let-columns>
                                                <tr>
                                                    <th *ngFor="let col of Framedatacolumns" [ngClass]="{'hidden': !col.visible}">
                                                        {{col.header}}
                                                    </th>
                                                </tr>
                                            </ng-template>

                                            <ng-template pTemplate="body" let-rowData let-columns="Framedatacolumns">
                                                <tr [pSelectableRow]="rowData" (dblclick)="DoubleClickframes(rowData)">
                                                    <td *ngFor="let col of Framedatacolumns" [ngClass]="{'hidden': !col.visible}">
                                                        {{rowData[col.field]}}
                                                    </td>
                                                </tr>
                                            </ng-template>

                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="Frames Data Import" >
                            <div class="row">
                                <div class="col-md-12" style="height:69vh;">
                                    <!-- <iframe  style="position:relative; width:100%; height: 100%" allowfullscreen  frameborder="0" [src]="FramesmanufacturerURL" >
                                    </iframe> -->
                                </div>

                                <!--  <div class="col-12">

                                        <p-table #dt [columns]="Framecolumns" [value]="Manufacturerssearchlist" [scrollable]="true" [paginator]="true" [rows]="15" 
                                        [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" selectionMode="multiple"
                                         >
                            
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of Framecolumns">
                                                    {{col.header}}
                            
                                                </th>
                                            </tr>
                                            <tr>
                                                <th *ngFor="let col of Framecolumns" [ngSwitch]="col.field">                            
                                                    <input *ngSwitchCase="'Manufacturer'" class="form-control" pInputText type="text" (input)="objChanged($event)" [(ngModel)]="searchValue">                                                   
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="Framecolumns">
                                            <tr [pSelectableRow]="rowData" >
                                                <td *ngFor="let col of Framecolumns" >
                                                    {{rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                     <p-listbox [options]="styles" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name" [style]="{'width':'100%'}">
                                        <p-header>
                                            <b> Manufacturer</b>
                                        </p-header>
                                    </p-listbox> 


                                </div> -->

                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary">Synchronize Inventory</button>
                <button type="button" class="btn btn-primary">Scan Frames</button>
                <button type="button" class="btn btn-primary">View Loaded Frames</button>
                <button type="button" class="btn btn-primary" (click)="loadFramesSidebar=true">Load Frames</button>
                <button type="button" class="btn btn-primary">Install... </button>
                <!-- <button type="button" class="btn btn-primary" >Select</button> -->
                <button type="button" class="btn btn-default">Cancel </button>

            </form>
        </div>
    </div>
</form>

<!-- Add Lens Range -->
<p-sidebar [(visible)]="loadFramesSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
    <app-load-frames></app-load-frames>
</p-sidebar>