
    <div class="card order-other-discount">
        <div class="card-header">Categories - Discount Reason</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive mt-3">
                        <p-table [value]="discountReasonList" class="ecl-table ecl-ptable" [scrollable]="true" scrollHeight="70vh"
                            selectionMode="single" (onRowSelect)="onRowSelect($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Catergory Items</th>
                                    <th>Sort</th>
                                    <th>Active</th>
                                    <th>Default</th>
                                    <th>Manager Discount</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-discountReasonList>
                                <tr [pSelectableRow]="discountReasonList">
                                    <td>{{discountReasonList.cas_desc}}</td>
                                    <td></td>
                                    <td>
                                        <p-checkbox value="val1"></p-checkbox>
                                    </td>
                                    <td>
                                        <p-checkbox value="val2"></p-checkbox>
                                    </td>
                                    <td>
                                        <p-checkbox value="val3"></p-checkbox>
                                    </td>
                                </tr>                                
                            </ng-template>
                        </p-table>
                    </div>

                </div>
                <div class="form-group col-sm-6 mt-3">
                    <label for="">Add Reason</label>
                    <input type="text" [(ngModel)]="discountReason" class="form-control">
                </div>

            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" >Cancel</button>
            <button type="button" class="btn btn-primary float-right">Ok</button>
            <button type="button" class="btn btn-primary float-right" [disabled]="disableDelete" (click)=" deleteReason()">Delete</button>
            <button type="button" class="btn btn-primary float-right"(click)="addNewReason()">Add</button>
        </div>
    </div>
