<form>
    <div class="card order-other-discount">
        <div class="card-header">Add/Modify Other items</div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-12">
                    <label>Category </label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-space">
                                Add Product
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>Item Name </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-5">
                    <label>UPC</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>On hand </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-5">
                    <div class="row form-row d-flex justify-content-between">
                        <div class="form-group col">
                            <label>Retail price </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Quantity </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Sub Total </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="row form-row">
                        <div class="form-group col-sm-5">
                            <label>Tax</label>
                            <div class="row form-row">
                                <div class="col">
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-5">
                            <label>Tax 2</label>
                            <div class="row form-row">
                                <div class="col">
                                    <input class="form-control" type="text">
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-nowrap">
                            <label class="label-empty">&#160;</label>
                                <p-checkbox name="groupname" value="Material" label="Material"></p-checkbox>
                        </div>
                    </div>


                </div>
                <div class="col-md-10">
                    <div class="row form-row d-flex justify-content-between">
                        <div class="form-group col">
                            <label>Discount type </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Amount </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Reason </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Write-Off </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="row form-row d-flex justify-content-between">
                        <div class="form-group col">
                            <label>Copay </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>patient </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Patient Total </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Inv Cov%</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Insurance</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col">
                            <label>Item Total</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>Supplier </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-3">
                    <label>Diagnosis Pointer </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Source</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-4">
                    <label>Employee</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-2">
                    <label>Employee</label>
                    <p-dropdown [options]="" placeholder="Select" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-md-2">
                    <label class="label-empty">&#160;</label>
                    <div class="form-check form-check-inline">
                        <p-checkbox name="groupname" value="Print" label="Print"></p-checkbox>
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <label>Status</label>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-space">
                                <i class="ti-more-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-9">
                    <label for="notes">Notes</label>
                    <textarea class="form-control" rows="1" id="notes"></textarea>
                </div>
                <div class="col-md-3 form-group">
                        <label class="label-empty">&#160;</label>
                    <p-checkbox name="groupname" value="Insurance Supplied" label="Insurance Supplied"></p-checkbox>
                </div>
            
            
            </div>
            <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <p-table [value]="" class="ecl-table" [scrollable]="true"  [style]="{width:'1300px'}" scrollHeight="55vh">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Procedure</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Charge</th>
                                        <th>Copay</th>
                                        <th>Patient Pays</th>
                                        <th>Ins pays</th>
                                        <th>Ins Gaps</th>
                                        <th>Write Off</th>
                                        <th>Discount Type  </th>
                                        <th>Discount Modifier</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-type>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary float-right">Ok</button>
            <button type="button" class="btn btn-primary float-right">Apply (Add to order)</button>
        </div>
    </div>
</form>