<div class="col-md-12 dashboard">
    <div class="row my-3 welcome-row">
        <div class="col-md-3 user-name">
            <h3> <b> {{ username | titlecase }}</b> </h3>
        </div>
        <div class="col-md-3">
            <div class="dashboard-icon">
                <i class="ti-calendar"></i>
            </div>
            <div class="header-title">
                <h3> {{appCount}} Appointments <br>
                    <small>{{pendingCount}} Pending Appointments</small></h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="dashboard-icon">
                <i class="ti-bag"></i>
            </div>
            <div class="header-title">
                <h3> {{ordersCount}} Orders <br>
                    <small>7 Pending Orders</small></h3>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="dashboard-icon">
                <i class="ti-list-ol"></i>
            </div>
            <div class="header-title">
                <h3> {{toDoCount}} To Do <br>
                    <small> Pending Tasks</small></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Appointment Table Grid -->
        <div class="col-md-6 mb-3">
            <h4>Appointment</h4>
            <div class="table-responsive">
                <p-table [value]="appList" class="ecl-table " [scrollable]="true" [style]="{width:'100%'}">

                    <ng-template pTemplate="header">
                        <tr>
                            <th> ID </th>
                            <th style="width:130px;">Patient Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Time</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-appList>
                        <tr>
                            <td>{{appList.id}}</td>
                            <td style="width:130px;">{{appList.sa_patient_name}}</td>
                            <td>{{appList.sa_app_start_date}}</td>
                            <td>{{appList.sa_app_end_date}}</td>
                            <td>{{appList.sa_app_starttime}}</td>
                            <td>{{appList.status.status_name }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- ToDo Table Grid -->
        <div class="col-md-6 mb-3">
            <h4>To Do</h4>
            <div class="table-responsive">
                <p-table [value]="toDoList" class="ecl-table " [scrollable]="true" [style]="{width:'100%'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th> ID </th>
                            <th>Task</th>
                            <th>Task Date</th>
                            <th>Phy Name</th>
                            <th>Status</th>
                            <th>Comments</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-toDoList>
                        <tr>
                            <td> {{toDoList.id}}</td>
                            <td>{{toDoList.name}}</td>
                            <td>{{toDoList.taskDate}}</td>
                            <td>{{toDoList.phyName}}</td>
                            <td>{{toDoList.finished}}</td>
                            <td>{{toDoList.comment}}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <!-- Order Table Grid  -->
        <div class="col-md-6 mb-3">
            <h4>ORDERS</h4>
            <div class="table-responsive">
                <p-table [value]="ordersListdata" class="ecl-table " [scrollable]="true" [style]="{width:'100%'}">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Order ID</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Order Type</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ordersListdata>
                        <tr>
                            <td>{{ordersListdata.id}}</td>
                            <td>{{ordersListdata.patient_info.fname}} {{ordersListdata.patient_info.lname}}</td>
                            <td>{{ordersListdata.entered_date}}</td>
                            <td>
                                {{this.utility.getArrayItem({data:orderType,matchWith:'id',matchValue:ordersListdata.ordertypeid,position:1,dataType:'int' })}}
                            </td>
                            <td>
                                {{this.utility.getArrayItem({data:status,matchWith:'id',matchValue:ordersListdata.order_status_id,position:1,dataType:'int' })}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-md-6 mb-3 m-auto icons-padding">
            <div class="row">
                <div class="col-md-5 m-auto">
                    <div class="card-columns">
                        <div class="card">
                            <div class="card-body text-center cursor-pointer">
                                <div class="dashboard-icon-list">
                                    <i class="icon-stethoscope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body text-center cursor-pointer" routerLink="/order/order">
                                <div class="dashboard-icon-list">
                                    <i class="ti-bag"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-body text-center cursor-pointer" routerLink="/inventory/frames">
                                <div class="dashboard-icon-list">
                                    <i class="ti-package"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card ">
                            <div class="card-body text-center cursor-pointer" (click)="contactus()">
                                <div class="dashboard-icon-list">
                                    <i class="ti-headphone-alt"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 m-auto dashboard-date" *ngIf="showtimeZone">
                    <p class="day"> {{today | date:'EEEE' : LoggedTimeZone : 'en-US'}}</p>
                    <p class="date"> {{today | date:' d ' : LoggedTimeZone : 'en-US'}}</p>
                    <p class="month"> {{today | date:' MMMM' : LoggedTimeZone : 'en-US'}}</p>
                    <p class="year"> {{today | date:' yyyy' : LoggedTimeZone : 'en-US'}}</p>
                </div>
                <div class="col-md-5 m-auto dashboard-date" *ngIf="normaltime">
                    <p class="day"> {{today | date:'EEEE'}}</p>
                    <p class="date"> {{today | date:' d '}}</p>
                    <p class="month"> {{today | date:' MMMM'}}</p>
                    <p class="year"> {{today | date:' yyyy'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>