<mat-progress-bar *ngIf="loading" style="z-index:9999999999;position: fixed;  " mode="indeterminate"></mat-progress-bar>
<router-outlet></router-outlet>
<p-toast baseZIndex="99999" position="top-right"></p-toast>