<form id=serachspectacles [formGroup]="serachSpectaclesForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Select Spectacle Lens {{LensTypeData}}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-row m-0 pt-1">
                        <div class="form-group col">
                            <label for="">Material</label>
                            <select class="form-conng buildtrol form-control" (change)="objChanged()"
                                name="material" formControlName="materialid">
                                <option *ngFor="let material of materials" [value]="material.value">{{material.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col">
                            <label for="">Lens Style</label>
                            <select class="form-control" (change)="objChanged()" name="Lenstype"
                                formControlName="lenstypeid">
                                <option *ngFor="let lensstyledata of styles" [ngValue]="lensstyledata.Id">
                                    {{lensstyledata.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="">UPC</label>
                            <input type="text" class="form-control" id="upcdata" formControlName="upc_code"
                                (input)="objChanged()">
                        </div>

                        <div class="form-group col">
                            <label for="">Color Code</label>
                            <input type="text" class="form-control" id="colorcodedata" formControlName="color_code"
                                (input)="objChanged()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table #dt [lazy]="true" class="ecl-table" [value]="specatableList" [paginator]="true" [rows]="100" 
                        [first]="paginationPage" [totalRecords]="totalRecords"  
                            [scrollable]="true" scrollHeight="45vh" selectionMode="multiple" 
                            (onRowSelect)="onRowSelect($event)" (onPage)="getSpectacleListByPaginator($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th *ngFor="let col of Spectcolumns">
                                        {{col.header}}
                                    </th>
                                </tr>
                            </ng-template>
                            <!-- <ng-template pTemplate="body" let-Specatablelist>
                            <tr [pSelectableRow]="Specatablelist"  (dblclick)="DoubleClickLensTypeUPC(Specatablelist)" >
                                <td *ngFor="let col of Spectcolumns">
                                    {{Specatablelist[col.field]}}
                                </td>
                            </tr>
                        </ng-template> -->
                            <ng-template pTemplate="body" let-specatableList>
                                <tr [pSelectableRow]="specatableList"
                                    (dblclick)="DoubleClickLensTypeUPC(specatableList)">
                                    <td>{{specatableList?.name}}</td>
                                    <td>
                                        {{this.utility.getArrayItem({data:styles,matchWith:'Id',matchValue:specatableList.type_id,position:0,dataType:'parseInt'})}}
                                    </td>
                                    <td>{{specatableList.manufacturer?.manufacturer_name}}</td>
                                    <td>{{specatableList?.spectacle_material?.material_name}}</td>
                                    <td>{{specatableList?.upc_code}}</td>
                                    <td>
                                        {{this.utility.getArrayItem({data:colors,matchWith:'Id',matchValue:specatableList.colorid,position:1,dataType:'int'})}}
                                    </td>
                                    <td>{{Specatablelist?.lenscolorcode}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">

            <div class="clearfix">
                <button type="button" class="btn btn-secondary float-right" (click)="Cancel()">Cancel</button>
                <button type="button" class="btn btn-secondary float-right" (click)="reset()">Reset</button>
                <button type="button" class="btn btn-primary float-right">Sort</button>
                <button type="button" class="btn btn-primary float-right">Filter</button>
                <button type="button" class="btn btn-primary float-right" (click)="selectedValue()">Select</button>
                <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
                <button type="button" class="btn btn-primary float-right">Add Product</button>
                <p-checkbox [(ngModel)]="checked" binary="true" value="Exclude quantity of less than one"
                    label="Exclude quantity of less than one" [ngModelOptions]="{standalone: true}"
                    class="float-left pt-1"></p-checkbox>
            </div>
        </div>
    </div>
</form>