<form>
    <div class="card order-other-discount">
        <div class="card-header">View Lens Treatment/Services/Other Inventory </div>
        <div class="card-body">
            <div class="row form-row">
                <div class="form-group col-sm-4 col-md-2">
                    <label>Location </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-4 col-md-2">
                    <label>Category </label>
                    <p-dropdown [options]="groupBy" [style]="{'width':'100%'}"></p-dropdown>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="framelist" class="ecl-table" [paginator]="true" [rows]="10" [scrollable]="true" [style]="{width:'1200px'}"
                            scrollHeight="200px" selectionMode="multiple"  [(selection)]="RecievingInventorySelection" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Location</th>
                                    <th>Code</th>
                                    <th>Category</th>
                                    <th>Name</th>
                                    <th>On Hand</th>
                                    <th>Retail Price</th>
                                    <th>UPC</th>
                                    <th>Appointment</th>
                                    <th>Favorite</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-framelist>
                                <tr [pSelectableRow]="framelist">
                                    <td>{{framelist.id}}</td>
                                    <td>{{framelist.loc_id}}</td>
                                    <td>{{framelist}}</td>
                                    <td>{{framelist.category}}</td>
                                    <td>{{framelist.name}}</td>
                                    <td>{{framelist.qty_on_hand}}</td>
                                    <td>{{framelist.retail_price}}</td>
                                    <td>{{framelist.upc_code}}</td>
                                    <td>{{framelist.is_calendarappointment}}</td>
                                    <td>{{framelist.is_favorite}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right" (click)="onCloseOther()">Close</button>
            <button type="button" class="btn btn-primary float-right">Sort</button>
            <button type="button" class="btn btn-primary float-right">Filter</button>
            <button type="button" class="btn btn-primary float-right" (click)="addProduct()">Select</button>
            <button type="button" class="btn btn-primary float-right">Duplicate Product</button>
            <button type="button" class="btn btn-primary float-right" >Add Product</button>
            <p-checkbox name="groupname" value="val1" label="Exclude quantity of less than one"></p-checkbox>
        </div>
    </div>
</form>