<div class="card">
    <div class="card-header">Marketing Setup</div>
    <div class="card-body">


        <p-tabView class="ecl-tabview">
            <p-tabPanel header="Marketing">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="row form-row">
                            <div class="form-group col-sm-12">
                                <label>Location</label>
                                <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Type</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Source</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="3" id="description"></textarea>
                            </div>
                        </div>
                        <div class="row form-row">

                            <div class="form-group col-sm-6">
                                <label>Marketing Type</label>
                                <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                            </div>

                            <div class="form-group col-sm-6">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value=""> Percentage %
                                    </label>
                                </div>

                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="note">Note</label>
                                <textarea class="form-control mb-1" rows="3" id="note"></textarea>
                                <span>Note: No location means it applies to all location.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h4 class="mt-4">Valid Dates</h4>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <p-table [value]="" class="ecl-table ecl-ptable" [scrollable]="true"
                                        scrollHeight="200px">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th></th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-location>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Details">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <p-table [value]="" class="ecl-table ecl-ptable" [scrollable]="true" scrollHeight="200px">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Item Type</th>
                                        <th>Name</th>
                                        <th>Qty</th>
                                        <th>Maximum Price</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-location>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
                <div class="row form-row">

                    <div class="form-group col-sm-12">
                        <label>Item Type</label>
                        <div class="row form-row">
                            <div class="col-sm-6">
                                <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                            </div>
                            <div class="col-sm-6">
                                <p-checkbox name="groupname" value="val1" label="Grouping"></p-checkbox>
                                <!-- <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" value=""> Grouping
                                    </label>
                                </div> -->
                            </div>
                        </div>

                    </div>

                    <div class="form-group col-sm-12">
                        <label>Group</label>
                        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Maximum Price</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <label>Quantity</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>

    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right"> Add </button>
            <button type="button" class="btn btn-primary float-right"> Delete </button>
        </div>
    </div>
</div>