<div class="col-sm-12 paperwork"><div class="table-responsive"><table class="table table-bordered m-0">
  <thead>
    <tr>
      
      <th scope="col">Paperwork Type</th>
      <th scope="col">Transmission Type</th>
      <th scope="col">Attachment Control Number</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  
  </tbody>
</table></div>
						<div class="mt-2 mb-2 text-center">
								<button type="submit" class="orgbutton">Add</button>
								<button type="submit" class="grybutton">Cancel</button>
								
							</div></div>
