<div class="col-sm-12 tabing">
			<div class="ml-3 mr-3">
				<div class="row">
					<div class="col-sm-2">
						<ul class="nav nav-tabs" id="myTab" role="tablist">
							  <li class="nav-item" (click)="changeFrameUrl('prescriptions')">
								   <a class="nav-link active show" data-toggle="tab" href="#available"  role="tab" aria-controls="available" aria-selected="true">Letter Choose Template</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('collection')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Collection</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('consent')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Consent</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('consult')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Consult</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('education')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Education</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('education&sub=instructions')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Instructions</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('logos')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Logos</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('op_notes')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Op Notes</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('package')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Package</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('panels')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Panels</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('prescriptions')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Prescriptions</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('pt_docs')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Pt. Docs</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('recall')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Recalls</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('ScanUploadsUrl',true)">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Scan/Upload Folders</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('SetMarginUrl',true)">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Set Margin</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('smart_tags')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Smart Tags</a>
							  </li>

                <li class="nav-item" (click)="changeFrameUrl('statements')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Statements</a>
							  </li>
								<li class="nav-item" (click)="changeFrameUrl('receipt')">
								   <a class="nav-link" data-toggle="tab"  role="tab" href="#available"  aria-controls="ptdocs" aria-selected="false">Receipt</a>
							  </li>
						</ul>

					</div>
					<div class="col-sm-10">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade active show" id="available" role="tabpanel" aria-labelledby="available">
									<div>
										<iframe
										(load)="onLoad()"
										frameborder="0"
										allowfullscreen
										 [src]="CommonUrl"></iframe>
									</div>
							</div>
						</div>

					</div>
				</div>
			</div>

</div>
