<form [formGroup]="PurchaseSearchForm" #formDir="ngForm">
    <div class="card">
        <div class="card-header"> Purchase Order Search</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <h4>Purchase Order</h4>
                    <div class="row form-row">
                        <div class="form-group col-sm-4">
                            <label for="id">PO ID</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Frame">PO Date</label>
                            <div>
                                <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Status</label>
                            <select name="labby" class="form-control"  formControlName="po_status">
                                    <!-- <option [value]="">Select Manufacturer</option> -->
                                    <option *ngFor="let status of labstatusdata" [value]="status.Id">{{status.Name}}</option>
                                </select>
                            <!-- <p-dropdown [style]="{'width':'100%'}"></p-dropdown> -->
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="itemtype">Reference</label>
                            <p-dropdown [style]="{'width':'100%'}"></p-dropdown>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Manufacturer"> Supplier</label>
                            <select name="labby" class="form-control"  formControlName="vendor_id">
                                <option *ngFor="let supplier of supplierlist" [value]="supplier.id">{{supplier.vendor_name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="Location">Location</label>
                            <select name="labby" class="form-control"  formControlName="location_id">
                                <option *ngFor="let location of purchaselocations" [ngValue]="location.id">{{location.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- <h4>Patient</h4>
                    <div class="row form-row">
                        <div class="form-group col-sm-4">
                            <label for="">Patient No.</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">Last Name</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="">First Name</label>
                            <input type="text" class="form-control">
                        </div>

                    </div> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                        <p-radioButton name="groupname" value="val1" label="History"></p-radioButton>
                        <p-radioButton name="groupname" value="val1" label="Search"></p-radioButton>
                        <p-radioButton name="groupname" value="val1" label="Pending"></p-radioButton>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="POdata" class="ecl-table ecl-ptable" [scrollable]="true" [style]="{width:'1000px'}"
                            scrollHeight="55vh" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
                            selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>PO Date</th>
                                    <th>PO ID</th>
                                    <th>Status</th>
                                    <th>Location</th>
                                    <th>Supplier Name</th>
                                    <th>Reference</th>
                                    <th>Notes</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-POdata>
                                <tr [pSelectableRow]="POdata" (dblclick)="DoubleClickPO(POdata)">
                                    <td>{{POdata.po_date}}</td>
                                    <td>{{POdata.po_type_id}}</td>
                                    <td>{{POdata.po_status}}</td>
                                    <td>{{POdata.locationid}}</td>
                                    <td>{{POdata.supplier_name}}</td>
                                    <td>{{POdata.reference}}</td>
                                    <td>{{POdata.notes}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel </button>
            <button type="button" class="btn btn-secondary float-right">Clear </button>
            <button type="button" class="btn btn-primary float-right">Add</button>
            <button type="button" class="btn btn-primary float-right" (click)="Poselectbtn()">Select</button>
            <button type="button" class="btn btn-primary float-right" (click)="searchPO()">Search</button>

        </div>
    </div>
</form>