<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Time Clock In/Out</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link" >
                    <i class="ti-plus"></i> Add
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-trash"></i> Delete
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-save"></i> Save</a>
            </li>

        </ul>
    </div>
</nav>
<div class="col-md-12 mt-2">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="">Time Records for</label>
                <h4 class="employee-name color-orange">Employee Name</h4>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row form-row">
                <div class="form-group col mb-0">
                    <label class="label-empty">&#160;</label>
                    <h5 class="align-right">Total Hours</h5>
                </div>
                <div class="form-group col mb-0">
                    <label>Working(hr)</label>
                    <div>
                        <b>84:12</b>
                    </div>
                </div>
                <div class="form-group col mb-0">
                    <label>Worked(hr)</label>
                    <div>
                        <b>72:58</b>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-5 offset-md-1">
            <div class="row form-row">
                <div class="form-group col mb-0">
                    <label>Date from</label>
                    <div>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                </div>
                <div class="form-group col mb-0">
                    <label>Date to</label>
                    <div>
                        <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                </div>
                <div class="form-group col mb-0">
                    <label class="label-empty">&#160;</label>
                    <button class="btn btn-sm btn-secondary btn-icon">
                        <i class="ti-filter"></i> Filter</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- table Grid -->
<div class="col-md-12 mt-2" *ngIf="rowData?.length <= 0">

    <div class="border m-auto bg-white">
        <div class="col-md-12 p-0">

            <p-table [value]="timeClocklist" class="contactlens-ptable" [columns]="cols" [scrollable]="true" [rows]="20" [paginator]="true"
                [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" selectionMode="single" dataKey="ItemId"
                (onRowSelect)="onRowSelect($event)" [style]="{width:'100%'}" scrollHeight="65vh">

                <!-- <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col style="width:35px">
                        <col style="width:30px">
                        <col style="width:140px">
                        <col *ngFor="let col of Contactlenscolumns" [ngClass]="{'hidden': !col.visible}" style="width:100px">
                        <col style="width:130px">
                    </colgroup>
                </ng-template> -->

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Location</th>
                        <th>Employee</th>
                        <th>Date</th>
                        <th>Time In</th>
                        <th>Lunch Out</th>
                        <th>Lunch In</th>
                        <th>2nd Lunch Out</th>
                        <th>2nd Lunch In</th>
                        <th>Dinner Out</th>
                        <th>Dinner In</th>
                        <th>Time Out</th>
                        <th>Working (Hr)</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="timeClocklist">
                    <tr [pSelectableRow]="rowData">
                        <td>MVE:My Vision Express1</td>
                        <td>Employee Name</td>
                        <td>04/02/2018</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>
                        <td>08:12AM</td>

                    </tr>
                </ng-template>

            </p-table>

        </div>

    </div>

</div>

<p-dialog class="dialog-popup" header="Delete From All" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350"
    [minWidth]="200" [minY]="70">
    <span>Are you sure you want to delete the selectced row(s)</span>
    <p-footer>
        <button type="button" class="btn btn-default mr-1" (click)="display=false">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="display=false">Delete</button>
    </p-footer>
</p-dialog>