<form>
    <div class="card order-other-discount">
        <div class="card-header">Manager Discount</div>
        <div class="card-body">
            <h4> Discount Details </h4>
            <div class="row form-row">
                <div class="form-group col-sm-3">
                    <label>Date </label>
                    <p-calendar [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                </div>
                <div class="form-group col-sm-3">
                    <label>Employee </label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Type </label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div class="form-group col-sm-3">
                    <label>Reason </label>
                    <p-dropdown [options]="" optionLabel="name" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>
            <div class="row form-row">
                <div class="form-group col-sm-6">
                    <!-- <div class="d-flex justify-content-between">
                        <div class="col">Amount</div>
                        <div class="col">
                            <p-spinner size="30"></p-spinner>
                        </div>
                    </div> -->
                    <div class="d-flex justify-content-start">
                        <div class="form-group col-sm-6 p-0">
                            <label class="mr-2"> Amount</label><br>
                            <p-spinner size="8" class="mr-1"></p-spinner>
                            <p-radioButton name="group1" value="OS" label="Amount"></p-radioButton>
                        </div>
                        <div class="form-group col-sm-6 pl-1">
                            <p-radioButton name="group1" value="None" label="Percentage"></p-radioButton>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="pl-2 btn font-weight-bold"> % </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label>Discount Location </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-sm-12">
                    <label>Notes</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 mt-4">
                    <div class="d-flex justify-content-between">
                        <h5 class="font-weight-bold">Order Item Allocation</h5> <h5>Unapplied Balance: 0.0</h5>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="table-responsive">
                        <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th> Charges</th>
                                    <th> Patient Due</th>
                                    <th> Insurance Due</th>
                                    <th> Payments VCode</th>
                                    <th> Allocation</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Cancel</button>
            <button type="button" class="btn btn-primary float-right">OK</button>
            <button type="button" class="btn btn-primary float-right">Auto-Allocate</button>
            <button type="button" class="btn btn-primary float-right">Reprint</button>
        </div>
    </div>
</form>