/*Company Setup */
.grpinfochk {margin-top: 24px }
.grpinfochk label{font-size:12px!important; color: #012778 }
.getacntbtn{ background-color: #012778; border-radius: 0px; border: 0px; width: 100%; margin: 8px 0px; padding: 4px 0px; color: #fff}
.getacntbtn:hover{ background-color: #f7941d; border-radius: 0px; border: 0px; width: 100%; margin: 8px 0px; padding: 4px 0px; color: #fff; cursor: pointer}

.lensondemand .btn{ background-color:#f9951b; border: 0px; border-radius: 0px;  color: #fff; display: inline-block; overflow-wrap: break-word; width: 98%; text-align: center; font-size: 14px; height:130px;}

.credint [class*='col-']{padding:0px!important;}
.box .input-group-text{ padding:0px 5px;}


/*Company Setup */

/* Location Setup */
.uploadfacil{ color:#f9951b; font-size: 12px; margin-top: 25px;}
.box .input-group-text{ font-size:13px;}
.lightgray{ background-color:#fbfbfb}

.datebut{ border-radius: 0px; padding: 0px 7px; border:1px solid #ced4da; background-color:transparent; margin-top: 22px; }
.tabing .tab-content{padding-top: 0px;}

.erxadmin {
    min-height: calc(100vh - 107px);
}