<div class="col-sm-12 tabing">
	<div class="ml-3 mr-3">
		<div class="row">
			<div class="col-sm-2">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" (click)="changeFrameUrl('CompanyUrl')">
						<a class="nav-link active show" id="company-tab" data-toggle="tab" href="#company" role="tab"
							aria-controls="company" aria-selected="true">Company</a>
					</li>
					<li class="nav-item" (click)="changeFrameUrl('LocationUrl')">
						<a class="nav-link" id="company-tab" data-toggle="tab" role="tab" href="#company" aria-controls="company"
							aria-selected="false">Location</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="system-tab" data-toggle="tab" role="tab" href="#system" aria-controls="system"
							aria-selected="false">System</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="commission-tab" data-toggle="tab" href="#commission" role="tab"
							aria-controls="commission" aria-selected="false">Commission</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="erxadmin-tab" data-toggle="tab" href="#erxadmin" role="tab" aria-controls="erxadmin"
							aria-selected="false">eRx Admin</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-10">
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade active show" id="company" role="tabpanel" aria-labelledby="company-tab">
						<div>
							<iframe (load)="onLoad()" frameborder="0" allowfullscreen [src]="CommonUrl"></iframe>
						</div>
					</div>
					<div class="tab-pane fade" id="system" role="tabpanel" aria-labelledby="system-tab">
						<app-system-component></app-system-component>
					</div>
					<div class="tab-pane fade" id="commission" role="tabpanel" aria-labelledby="commission-tab">

						<app-commissions></app-commissions>

					</div>
					<div class="tab-pane fade erxadmin" id="erxadmin" role="tabpanel" aria-labelledby="erxadmin-tab">

						<app-erx-admin></app-erx-admin>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>