<!-- Spectaclelens Details Inventory Sidebar -->

<form id=specdetails [formGroup]="detailsForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Spectaclelens Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview">
                        <p-tabPanel header="Spectaclelens  Details">
                            <h4>Details</h4>
                            <div class="row form-row">
                                <div class="form-group col-md-3">
                                    <label>Style </label>
                                    <select class="form-control" formControlName="type_id">
                                        <option *ngFor="let style of styles" [ngValue]="style.Id">{{style.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Material </label>
                                    <select class="form-control" formControlName="material_id">
                                        <option *ngFor="let material of MaterialListDropDown" [ngValue]="material.Id">
                                            {{material.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Unit </label>
                                    <select name="Unit" class="form-control">
                                        <option value="0">Select Unit</option>
                                        <option value="Each">Each</option>
                                        <option value="Pair">Pair</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label-empty"></label>
                                    <p-radioButton name="groupname" value="OD" label="OD" formControlName="eye_type">
                                    </p-radioButton>
                                    <p-radioButton name="groupname" value="OS" label="OS" formControlName="eye_type">
                                    </p-radioButton>
                                    <p-radioButton name="groupname" value="OU" label="OU" formControlName="eye_type">
                                    </p-radioButton>
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col-md-3">
                                    <label>Manufacturer </label>
                                    <select class="form-control" formControlName="manufacturer_id">
                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Color Code </label>
                                    <input type="text" class="form-control" [readonly]='true'
                                        formControlName="color_code">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Lab </label>
                                    <input type="text" class="form-control" formControlName="lab_id">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="label-empty"></label>
                                    <div class="form-check-inline text-nowrap">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input input"  formControlName="returnable_flag">Returnable
                                        </label>
                                    </div>
                                    <!-- <label class="label-empty"></label>
                                    <p-checkbox name="groupname" label="Returnable" formControlName="returnable_flag" (onChange)="checkBoxClick($event,i)"></p-checkbox> -->
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Retail </label>
                                    <input type="text" class="form-control" formControlName="retail_price"
                                        (input)="profitcalculate();" (keypress)="numberOnly($event)">
                                </div>
                                <div class="form-group col">
                                    <label>Cost </label>
                                    <input type="text" class="form-control" formControlName="wholesale_cost"
                                        (input)="profitcalculate();" (keypress)="numberOnly($event)">
                                </div>
                                <div class="form-group col">
                                    <label>Profit </label>
                                    <input type="text" class="form-control" formControlName="profit"
                                        (keypress)="numberOnly($event)">
                                </div>
                                <div class="form-group col">
                                    <label>Max Add Power </label>
                                    <input type="text" class="form-control" formControlName="max_add_size">
                                </div>
                                <div class="form-group col">
                                    <label>Max Diameter </label>
                                    <input type="text" class="form-control" formControlName="diameter">
                                </div>
                                <div class="form-group col">
                                    <label>Oversize Diameter </label>
                                    <input type="text" class="form-control" formControlName="oversize_diameter_charge">
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Sphere </label>
                                    <input type="text" class="form-control" formControlName="sphere">
                                </div>
                                <div class="form-group col">
                                    <label>Cylinder </label>
                                    <input type="text" class="form-control" formControlName="cylinder">
                                </div>
                                <div class="form-group col">
                                    <label>Add </label>
                                    <input type="text" class="form-control" formControlName="addd">
                                </div>
                                <div class="form-group col">
                                    <label>Base Curve </label>
                                    <input type="text" class="form-control" formControlName="bc">
                                </div>
                                <div class="form-group col">
                                    <label>Min Hit </label>
                                    <input type="text" class="form-control" formControlName="min_ht">
                                </div>
                                <div class="form-group col">
                                    <label>Valid Range</label>
                                    <div class="input-group mb-2">
                                        <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown>
                                        <div class="input-group-append">
                                            <button class="btn btn-space">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Structure </label>
                                    <select class="form-control" formControlName="structure_id">
                                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">
                                            {{Structure.Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Comm Type </label>
                                    <select class="form-control" formControlName="commission_type_id">
                                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Amount </label>
                                    <input type="text" class="form-control" formControlName="amount">
                                </div>
                                <div class="form-group col">
                                    <label>Gross % </label>
                                    <input type="text" class="form-control" formControlName="gross_percentage">
                                </div>
                                <div class="form-group col">
                                    <label>Spiff </label>
                                    <input type="text" class="form-control" formControlName="spiff">
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Measurements">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="measurmentsslist" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th>Measurements</th>
                                                    <th class="text-center">Required</th>
                                                    <th class="text-center">Available</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-measurmentsslist>
                                                <tr>
                                                    <td>{{measurmentsslist.measurementname}} </td>
                                                    <td class="text-center">
                                                        <p-checkbox [ngModel]="measurmentsslist.requiredbool"
                                                            binary="true"
                                                            (onChange)="checkunchekevent(measurmentsslist,$event,i,'required')"
                                                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                    </td>
                                                    <td class="text-center">
                                                        <p-checkbox [ngModel]="measurmentsslist.Availablebool"
                                                            binary="true"
                                                            (onChange)="checkunchekevent(measurmentsslist,$event,i,'available')"
                                                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Treatments">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">
                                        <p-table [value]="treatmentslist" class="ecl-table" [scrollable]="true"
                                            scrollHeight="55vh">
                                            <ng-template pTemplate="header">
                                                <tr>
                                                    <th class="text-center">Include</th>
                                                    <th class="text-center">Available</th>
                                                    <th>Category</th>
                                                    <th>Name</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body" let-treatmentslist>
                                                <tr>

                                                    <td class="text-center">
                                                        <p-checkbox [ngModel]="treatmentslist.includebool" binary="true"
                                                            (onChange)="checkunchecktreatmentsevent(treatmentslist,$event,i,'include')"
                                                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                    </td>
                                                    <td class="text-center">
                                                        <p-checkbox [ngModel]="treatmentslist.Availablebool"
                                                            binary="true"
                                                            (onChange)="checkunchecktreatmentsevent(treatmentslist,$event,i,'available')"
                                                            [ngModelOptions]="{standalone: true}"></p-checkbox>
                                                    </td>

                                                    <td>{{treatmentslist.Category}}</td>
                                                    <td>{{treatmentslist.Name}}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Procedure Codes">

                            <div class="row">
                                <div class="col-sm-8">
                                    <table class="table table-bordered" formArrayName="procedureCodes">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Procedure</th>
                                                <th>Retail</th>
                                                <th>Code</th>
                                                <th class="text-center">
                                                    <a (click)="add()">
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of this.detailsForm.get('procedureCodes')['controls'];  let i=index"
                                                [formGroupName]="i">
                                                <td>
                                                    <button class="btn" (click)="procedureCodeClick(i)">
                                                        <i class="ti-more"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                        formControlName="procedure_id" readonly="true">
                                                </td>
                                                <td>
                                                    <input type="number" class="form-control"
                                                        formControlName="retailprice">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control"
                                                        formControlName="procedure_code" readonly="true">
                                                </td>
                                                <td class="text-center">
                                                    <a class="color-red"
                                                        *ngIf="detailsForm.controls.procedureCodes.controls.length > 1"
                                                        (click)="removeLanguage(i)">
                                                        <i class="ti-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-sm-4">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>OPC</th>
                                                <th class="text-center">
                                                    <a>
                                                        <i class="ti-plus"></i>
                                                    </a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td class="text-center">
                                                    <a class="color-red">
                                                        <i class="ti-close"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary" (click)="onSaveDetails()"
                    [disabled]="!formDir.form.valid">Ok</button>
                <button type="button" class="btn btn-default" (click)="onCloseClick()">Cancel </button>
            </form>
        </div>
    </div>
</form>
<div *ngIf="addProcedureCodeSidebar">
    <p-sidebar [(visible)]="addProcedureCodeSidebar" position="right" [baseZIndex]="10000"
        class="ecl-sidebar ecl-sidebar-w70 ">
        <app-select-procedure-code (procedureData)="procedurResult($event)"></app-select-procedure-code>
    </p-sidebar>
</div>