<div class="card">
    <div class="card-header">Add Grid</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-nobordered table-sm mb-0">
                    <thead>
                        <tr>
                            <th>Start</th>
                            <th>End</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td class="text-center">
                                <a class="color-red">
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td class="text-center">
                                <a class="color-red">
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td>
                                <input type="text" class="form-control">
                            </td>
                            <td class="text-center">
                                <a class="color-red">
                                    <i class="ti-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="btn">
                    <i class="ti-plus"></i> Add</a>


            </div>
        </div>
        <p class="note">
            <b>Note:</b> Add charge is automatically added for Bifocal and Trifocal Lens Style Types. Lens charge items must be set up and linked
            to procedure code V2220 (Bifocal) and V2320(Trifocal) under Lens Treatment Inventory. When add in Rx Falls in
            the range setup here it will charge the retail price corresponding to the range. Lens Style type is linked to
            Lens Style Under Categories Section.
        </p>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-default float-right" (click) ="addGridClose()">Close</button>
            <button type="button" class="btn btn-primary float-right">OK</button>
        </div>
    </div>
</div>