<form id=shippingdetails [formGroup]="ShippingdetailsForm" #formDir="ngForm" novalidate>
    <div class="row">
        <div class="col-8">
            <label for="">Patient</label>
            <div class="col-12 p-0">
                <p-radioButton name="patientshipping"  label="Primary" id="primary" checked="isprimary"  (onClick)="shippingAddress('Primary')"></p-radioButton>
                <p-radioButton name="patientshipping"  label="Billing" id="billing" (onClick)="shippingAddress('Billing')"></p-radioButton>
                <p-radioButton name="patientshipping"  label="Shippng" id="shipping" (onClick)="shippingAddress('Shippng')"></p-radioButton>
                <p-radioButton name="patientshipping"  label="Custom" id="custom" (onClick)="shippingAddress('Custom')" ></p-radioButton>
            </div>
        </div>
        <div class="col-4">
            <label>Location</label>
            <select class="form-control">
                <option *ngFor="let loc of locations" [ngValue]="loc.id">{{loc.name}}</option>
            </select>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label>Address Line 1</label>
            <input type="text" class="form-control" formControlName="addressline1">
        </div>
        <div class="col-12 pt-2">
            <label>Address Line 2</label>
            <input type="text" class="form-control" formControlName="addressline2">
        </div>
    </div>
    <div class="row form-row mt-2">
        <div class="col-4">
            <label> City </label>
            <input type="text" class="form-control" formControlName="city">
        </div>
        <div class="col-4">
            <label> State </label>
            <input type="text" class="form-control" formControlName="state">
        </div>
        <div class="col-4">
            <label>Zip Code </label>
            <input type="text" class="form-control" formControlName="zipcode">
        </div>
    </div>
    <div class="row form-row mt-2">
        <div class="col-4">
            <label>Country </label>
            <input type="text" class="form-control" formControlName="country">
        </div>
        <div class="col-4">
            <label>Phone </label>
            <input type="text" class="form-control" formControlName="phone">
        </div>
        <div class="col-4">
            <label> Email </label>
            <input type="text" class="form-control" formControlName="email">
        </div>
    </div>
    <div class="row form-row mt-2">
        <div class="col-4">
            <label> Method </label>
            <p-dropdown #dd [options]="" filter="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
        <div class="col-4">
            <label> Tracking</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="ti-more-alt"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <label> Status</label>
            <p-dropdown #dd [options]="" filter="true" [style]="{'width':'100%'}"></p-dropdown>
        </div>
    </div>
</form>