<form id=orderLens [formGroup]="orderLensHardLensForm" #formDir="ngForm" novalidate>
    <div class="col-12 ecl-soft-cont-lens">
        <div class="row">
            <div class="col-12 mb-2">

                <div class="form-check mb-2 mr-sm-2">
                    <div class="form-check-inline text-nowrap">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input input" formControlName="outside_rx">Outside
                        </label>
                    </div>
                    <!--<label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> 
                        </label>-->
                    <p-checkbox value="Trial" label="Trial"></p-checkbox>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row mb-2">
                    <div class="col-11">
                        <table class="table ecl-table-exam mt-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>BC</th>
                                    <th>BC 2</th>
                                    <th>Di</th>
                                    <th>Di 2</th>
                                    <th>Sph</th>
                                    <th>Sph 2</th>
                                    <th>Cyl</th>
                                    <th>Axis</th>
                                    <th>Add</th>
                                    <th>Multifocal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="6" [ngClass]="{'border-danger':orderLensHardLensForm.controls['base_od'].hasError('required') }"
                                            type="text" name="BcOD" class="form-control" formControlName="base_od" />
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="6" class="form-control"
                                            formControlName="bc2_od">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="5" class="form-control"
                                            formControlName="diameter_od">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="5" class="form-control"
                                            formControlName="dia2_od">
                                    </td>
                                    <td>
                                        <select [ngClass]="{'border-danger':orderLensHardLensForm.controls['sphere_od'].hasError('required') }"
                                            formControlName="sphere_od" class="custom-select-choose form-control">
                                            <option *ngFor="let item of RxSphereValues; " [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select formControlName="sphere2_od" class="custom-select-choose form-control">
                                            <option *ngFor="let item of RxSphereValues; " [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select-choose form-control" formControlName="cylinder_od">
                                            <option *ngFor="let item of RxCylinderValues" [selected]="item.id==cylinderDropperDefaultos"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-control" formControlName="axis_od">
                                            <option *ngFor="let axis of AxisValues " [ngValue]="axis.id">{{axis.name}}</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select class="custom-select-choose form-control" formControlName="add_od">
                                            <option *ngFor="let item of RxAddValues" [selected]="item.id==addDropperDefaultos"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td>

                                        <select class="custom-select-choose form-control" formControlName="multifocalid_od">
                                            <option value=null></option>
                                            <option value="1">Near</option>
                                            <option value="2">Distance</option>
                                            <option value="3">None</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="6" [ngClass]="{'border-danger':orderLensHardLensForm.controls['base_os'].hasError('required') }"
                                            class="form-control" formControlName="base_os">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="6" class="form-control"
                                            formControlName="bc2_os">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="5" class="form-control"
                                            formControlName="diameter_os">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="5" class="form-control"
                                            formControlName="dia2_os">
                                    </td>
                                    <td>
                                        <select [ngClass]="{'border-danger':orderLensHardLensForm.controls['sphere_os'].hasError('required') }"
                                            formControlName="sphere_os" class="form-control" class="custom-select-choose form-control">
                                            <option *ngFor="let item of RxSphereValues; " [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select formControlName="sphere2_os" class="form-control" class="custom-select-choose form-control">
                                            <option *ngFor="let item of RxSphereValues; " [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select class="custom-select-choose form-control" formControlName="cylinder_os">
                                            <option *ngFor="let item of RxCylinderValues" [selected]="item.id==cylinderDropperDefaultos"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>

                                    </td>
                                    <td>
                                        <select class="form-control" formControlName="axis_os">
                                            <option *ngFor="let axis of AxisValues " [ngValue]="axis.id">{{axis.name}}</option>
                                        </select>

                                    </td>
                                    <td>

                                        <select class="custom-select-choose form-control" formControlName="add_os">
                                            <option *ngFor="let item of RxAddValues" [selected]="item.id==addDropperDefaultos"
                                                [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                                [ngValue]="item.id">{{item.name}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="custom-select-choose form-control" formControlName="multifocalid_os">
                                            <option value=null></option>
                                            <option value="1">Near</option>
                                            <option value="2">Distance</option>
                                            <option value="3">None</option>
                                        </select>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1 mt-5">
                        <a class="btn btn-primary btn-exam" (click)="equalvalues()">
                            <i class="ti-line-double"></i>
                        </a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Seg Ht</th>
                                    <th>Seg Di</th>
                                    <th>CT</th>
                                    <th>Aspheric</th>
                                    <th>OZ</th>
                                    <th>/R2</th>
                                    <th>W2</th>
                                    <th>/R3</th>
                                    <th>W3</th>
                                    <th>Dot</th>
                                    <th>Warrantly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td class="bg-red">
                                        <input type="text" maxlength="10" [readonly]="parametersrequired[0].SegHtavailableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].SegHtrequiredod }"
                                            [required]="parametersrequired[0].SegHtrequiredod ? true : null" class="form-control"
                                            formControlName="seght_od">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="6" [readonly]="parametersrequired[0].SegDiavailableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].SegDirequiredod }"
                                            [required]="parametersrequired[0].SegDirequiredod ? true : null" class="form-control"
                                            formControlName="segdi_od">
                                    </td>
                                    <td>
                                        <input type="text" OnlyNumber maxlength="5" class="form-control" formControlName="ct_od">
                                    </td>
                                    <td>
                                        <input type="text" maxlength="10" class="form-control" formControlName="aspheric_od">
                                    </td>

                                    <td>
                                        <input type="text" OnlyNumber maxlength="6" [readonly]="parametersrequired[0].OZavailableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].OZrequiredod }"
                                            [required]="parametersrequired[0].OZrequiredod ? true : null" class="form-control"
                                            formControlName="oz_od">
                                    </td>
                                    <td>
                                        <input type="text" maxlength="10" [readonly]="parametersrequired[0].R2availableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].R2requiredod }"
                                            [required]="parametersrequired[0].R2requiredod ? true : null" class="form-control"
                                            formControlName="pcr2_od">
                                    </td>
                                    <td>
                                        <input type="text" maxlength="10" class="form-control" [readonly]="parametersrequired[0].W2availableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].W2requiredod }"
                                            [required]="parametersrequired[0].W2requiredod ? true : null"
                                            formControlName="pcr2_od">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].R3availableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].R3requiredod }"
                                            [required]="parametersrequired[0].R3requiredod ? true : null"
                                            formControlName="pcr3_od">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].W3availableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].W3requiredod }"
                                            [required]="parametersrequired[0].W3requiredod ? true : null"
                                            formControlName="pcw3_od">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].Dotavailableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].Dotrequiredod }"
                                            [required]="parametersrequired[0].Dotrequiredod ? true : null"
                                            formControlName="dot_od">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].Warrantyavailableod"
                                            [ngClass]="{'border-danger':parametersrequired[0].Warrantyrequiredod }"
                                            [required]="parametersrequired[0].Warrantyrequiredod ? true : null"
                                            formControlName="warranty_od">
                                    </td>
                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td class="bg-red">
                                        <input type="text" maxlength="10" [readonly]="parametersrequired[0].SegHtavailableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].SegHtrequiredos }"
                                            [required]="parametersrequired[0].SegHtrequiredos ? true : null" class="form-control"
                                            formControlName="seght_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" OnlyNumber maxlength="6" [readonly]="parametersrequired[0].SegDiavailableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].SegDirequiredos }"
                                            [required]="parametersrequired[0].SegDirequiredos ? true : null"
                                            formControlName="segdi_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" OnlyNumber maxlength="5" formControlName="ct_os">
                                    </td>
                                    <td>
                                        <input type="text" maxlength="10" class="form-control" formControlName="aspheric_os">
                                    </td>

                                    <td>
                                        <input type="text" class="form-control" OnlyNumber maxlength="6" [readonly]="parametersrequired[0].OZavailableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].OZrequiredos }"
                                            [required]="parametersrequired[0].OZrequiredos ? true : null"
                                            formControlName="oz_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].R2availableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].R2requiredos }"
                                            [required]="parametersrequired[0].R2requiredos ? true : null"
                                            formControlName="pcr2_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].W2availableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].W2requiredos }"
                                            [required]="parametersrequired[0].W2requiredos ? true : null"
                                            formControlName="pcr2_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].R3availableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].R3requiredos }"
                                            [required]="parametersrequired[0].R3requiredos ? true : null"
                                            formControlName="pcr3_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].W3availableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].W3requiredos }"
                                            [required]="parametersrequired[0].W3requiredos ? true : null"
                                            formControlName="pcw3_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" [readonly]="parametersrequired[0].Dotavailableos"
                                            [ngClass]="{'border-danger':parametersrequired[0].Dotrequiredos }"
                                            [required]="parametersrequired[0].Dotrequiredos ? true : null"
                                            formControlName="dot_os">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" maxlength="10" formControlName="warranty_os"
                                            [readonly]="parametersrequired[0].Warrantyavailableos" [ngClass]="{'border-danger':parametersrequired[0].Warrantyrequiredos }"
                                            [required]="parametersrequired[0].Warrantyrequiredos ? true : null">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-2">
                    <table class="table ecl-table-exam">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Manufacturer</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>UPC</th>
                                <th>Source</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="light-pink row-btn">
                                <td>
                                    <b>OD</b>
                                </td>
                                <td> <input type="text" [readonly]="true" class="form-control" formControlName="manufactureod">
                                </td>
                                <td> <input type="text" [readonly]="true" class="form-control" formControlName="nameod"></td>
                                <td> <input type="text" [readonly]="true" class="form-control" formControlName="colorod">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="label" [readonly]="true" [ngClass]="{'border-danger':orderLensHardLensForm.controls['upcod'].hasError('required') }"
                                                class="form-control" formControlName="upcod">
                                        </div>
                                        <div class="col-sm-6">

                                            <a class="btn btn-primary" (click)="HardcontactDataClick('OD');">
                                                <i class="ti-more-alt"></i>
                                            </a>
                                            <a class="btn btn-primary"> Trial </a>
                                            <a class="btn btn-primary" (click)="equalvaluesofOS('OD');">
                                                <i class="ti-line-double"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="sourceod"></td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="qtyod">
                                </td>


                            </tr>
                            <tr class="light-blue row-btn">
                                <td>
                                    <b>OS</b>
                                </td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="manufactureos">
                                </td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="nameos"></td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="coloros">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="label" [ngClass]="{'border-danger':orderLensHardLensForm.controls['upcos'].hasError('required') }"
                                                class="form-control" [readonly]="true" formControlName="upcos">
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-primary" (click)="HardcontactDataClick('OS')">
                                                <i class="ti-more-alt"></i>
                                            </a>
                                            <a class="btn btn-primary"> Trial </a>
                                        </div>
                                    </div>
                                </td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="sourceos"></td>
                                <td> <input type="text" class="form-control" [readonly]="true" formControlName="qtyos">
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row form-row">
                    <div class="col-6">
                        <div class="bg-light-pink od-os-img">
                            <h4>OD Image</h4>
                            <picture>

                            </picture>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light-blue od-os-img">
                            <h4>OS Image</h4>
                            <picture>

                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row form-row">
                    <div class="col-md-6">
                        <label>CL Care</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Replacement Schedule</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-12">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="notes">External Notes</label>
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-blue2 p-3 ecl-diagnosis">
                    <h4>Diagnosis</h4>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label for="Collection">A</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">B</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">C</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">D</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">E</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">F</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">G</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">H</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">I</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">J</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="Collection">K</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="Collection">L</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
<div class="ecl-patientinfo-bar">
<div class="row no-gutters">
<div class="ecl-patientinfo-left">
    <div class="patient-avtar">
        <img alt="" src="assets/images/patient-avtar.jpg" />
        <div class="patient-notification">
            1
        </div>
    </div>
</div>
<div class="ecl-patientinfo-right">
    <div class="ecl-patientinfo-top">
        <ul>
            <li class="patient-name">
                Patient Name
            </li>
            <li>
                (Female | 35 | Dec 16,1993)
            </li>
            <li>
                <span>
                    Patient Id
                </span>
                123456789
            </li>
            <li>
                <span>
                    Last Exam
                </span>
                08/14/2017
            </li>
            <li>
                <span>
                    Phone
                </span>
                999-999-9999
            </li>
            <li>
                <span>
                    Email
                </span>
                patientname@gmail.com
            </li>
            <li>
                <a class="btn btn-primary btn-edit" (click)="addPatientInfoSidebar = true">
                    <i aria-hidden="true" class="ti-pencil"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="ecl-patientinfo-bottom">

        <div class="row form-row">
            <div class="form-group col">
                <label for="">Insurance </label>
                <select class="form-control ">
                    <option>

                    </option>

                </select>
            </div>
            <div class="form-group col">
                <label for="">Pan</label>
                <select class="form-control minimal">
                    <option>

                    </option>

                </select>
            </div>
            <div class="form-group col">
                <label for="">Auth</label>
                <select class="form-control minimal">
                    <option>

                    </option>

                </select>
            </div>
            <div class="form-group col">
                <label for="">Order</label>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primay">
                            <i class="ti-more-alt"></i>
                        </button>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primay">
                            <i class="ti-reload"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group col">
                <label for="">Marketing</label>
                <div>
                    <select class="form-control ">
                        <option>

                        </option>

                    </select>
                </div>
            </div>
            <div class="form-group col col-md-3 pt-account-balance">
                <label for="" class="label-empty"></label>
                <label for="">Pt. Account Balance</label>:
                <span class="pt-amount">$1234.00</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
-->
    <!-- Filter -->
    <!--<div class="ecl-order-filter">
<div class="row form-row">
<div class="form-group col">
    <label for="Location">History</label>
    <select class="form-control" id="Location">
        <option selected>Select</option>
        <option>Option 1</option>
        <option>Option 2</option>
    </select>
</div>
<div class="form-group col">
    <label for="Manufacturer">Type</label>
    <select class="form-control">
        <option selected>Frame</option>
        <option>Spectacle Lens</option>
        <option routerLink="/order/order" routerLinkActive="active">Hard Contact Lens</option>
        <option>Soft Contact Lens</option>
        <option>Other</option>
    </select>
</div>
<div class="form-group col">
    <label for="Collection">Order Date</label>
    <input type="text" class="form-control">
</div>
<div class="form-group col">
    <label for="Frame">Order</label>
    <input type="text" class="form-control">
</div>
<div class="form-group col">
    <label>Physician</label>
    <input type="text" class="form-control">
</div>
<div class="form-group col">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Duplicate
        </label>
    </div>
</div>
<div class="form-group col">
    <label>Location</label>
    <input type="text" class="form-control">
</div>
</div>
</div>-->
    <!-- Filter end -->
    <!--
<div class="col-md-12 ecl-order-content">
<p-tabView orientation="left" class="ecl-leftTabview">
<p-tabPanel header="Hard Contact Lens">
    <div class="col-12 ecl-soft-cont-lens">
        <div class="row">
            <div class="col-12 mb-2">
                <form class="form-inline">
                    <div class="form-check mb-2 mr-sm-2">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox"> Trial
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row mb-2">
                    <div class="col-11">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>BC</th>
                                    <th>BC 2</th>
                                    <th>Di</th>
                                    <th>Di 2</th>
                                    <th>Sph</th>
                                    <th>Sph 2</th>
                                    <th>Cyl</th>
                                    <th>Axis</th>
                                    <th>Add</th>
                                    <th>Multifocal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td class="bg-red">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td class="bg-red">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-1 mt-5">
                        <a class="btn btn-primary btn-exam">
                            <i class="ti-line-double"></i>
                        </a>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <table class="table ecl-table-exam">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Seg Ht</th>
                                    <th>Seg Di</th>
                                    <th>CT</th>
                                    <th>Aspheric</th>
                                    <th>OZ</th>
                                    <th>/R2</th>
                                    <th>W2</th>
                                    <th>/R3</th>
                                    <th>W3</th>
                                    <th>Dot</th>
                                    <th>Warrantly</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="light-pink">
                                    <td>
                                        <b>OD</b>
                                    </td>
                                    <td class="bg-red">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                </tr>
                                <tr class="light-blue">
                                    <td>
                                        <b>OS</b>
                                    </td>
                                    <td class="bg-red">
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control">
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-2">
                    <table class="table ecl-table-exam">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Manufacturer</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>UPC</th>
                                <th>Source</th>
                                <th>Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="light-pink row-btn">
                                <td>
                                    <b>OD</b>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-primary"  (click)="selectContactlensSidebar = true">
                                                <i class="ti-more-alt"></i>
                                            </a>
                                            <a class="btn btn-primary"> Trial </a>
                                            <a class="btn btn-primary">
                                                <i class="ti-line-double"></i>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>

                            </tr>
                            <tr class="light-blue row-btn">
                                <td>
                                    <b>OS</b>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="btn btn-primary">
                                                <i class="ti-more-alt"></i>
                                            </a>
                                            <a class="btn btn-primary"> Trial </a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row form-row">
                    <div class="col-6">
                        <div class="bg-light-pink od-os-img">
                            <h4>OD Image</h4>
                            <picture>

                            </picture>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light-blue od-os-img">
                            <h4>OS Image</h4>
                            <picture>

                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row form-row">
                    <div class="col-md-6">
                        <label>CL Care</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Replacement Schedule</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group col-12">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label for="notes">External Notes</label>
                        <textarea class="form-control" rows="2"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="bg-blue2 p-3 ecl-diagnosis">
                    <h4>Diagnosis</h4>
                    <div class="row form-row">
                        <div class="form-group col-sm-3">
                            <label for="Collection">A</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">B</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">C</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">D</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">E</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">F</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">G</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">H</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">I</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group col-sm-3">
                            <label for="Collection">J</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="Collection">K</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="Collection">L</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-tabPanel>


<p-tabPanel header="Other Details">

</p-tabPanel>
<p-tabPanel header="Shipping Details">

</p-tabPanel>

</p-tabView>
</div>
-->
    <!-- Select Contact lens Sidebar -->
    <p-sidebar [(visible)]="selectContactlensSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w80">
        <app-order-select-contactlens-od (selectoutput)="selectevent($event)"></app-order-select-contactlens-od>
    </p-sidebar>
</form>