<form>
    <div class="card">
        <div class="card-header">Closing Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-2">Charges</h4>
                    <div class="border m-auto">
                        <p-table #dt [value]="closeDetails" [scrollable]="true" [paginator]="true" [rows]="10"
                            [rowsPerPageOptions]="[10,20]" [resizableColumns]="true" [reorderableColumns]="true"
                            [responsive]="true" [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple"
                            scrollHeight="118px">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Order ID</th>
                                    <th>Patient Name</th>
                                    <th>Charges</th>
                                    <th>Payments</th>
                                    <th>Patient Balance</th>
                                    <th>Ins Balance</th>
                                    <th>Employee </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                    <td>{{type.orderid}} </td>
                                    <td>{{type.patientname}}</td>
                                    <td>{{type.charges}}</td>
                                    <td>{{type.payments}}</td>
                                    <td>{{type.patientbalance}} </td>
                                    <td>{{type.insbalance}}</td>
                                    <td>{{type.employee}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>

                <div class="col-md-12 mt-3">
                    <h4 class="mt-2">Adjustments</h4>
                    <div class="border m-auto">
                        <p-table #dt [value]="adjustments" [scrollable]="true" scrollHeight="118px" [paginator]="true" [rows]="10"
                            [rowsPerPageOptions]="[10,20]" [resizableColumns]="true" [reorderableColumns]="true"
                            [responsive]="true" [reorderableColumns]="true" dataKey="ItemId" selectionMode="multiple">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>ID</th>
                                    <th>Type</th>
                                    <th>Payment Method</th>
                                    <th>Amount</th>
                                    <th>Date</th>
                                    <th>Payment User</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-type>
                                <tr>
                                        <td>{{type.id}} </td>
                                        <td>{{type.type}}</td>
                                        <td>{{type.paymentmethod}}</td>
                                        <td>{{type.amount}} </td>
                                        <td>{{type.date}}</td>
                                        <td>{{type.payementuser}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-secondary float-right">Close</button>
        </div>
    </div>
</form>