<!-- Patient Header -->
<!-- <patient-bar></patient-bar> -->
<!-- Patient Header End-->

<!-- Filter -->
<app-order-filter></app-order-filter>
<!-- Filter end -->


<div class="col-md-12 ecl-order-content">
    <p-tabView orientation="left" class="ecl-leftTabview" (onChange)="PageClick($event)">
        <p-tabPanel header="Soft Contact Lens" [disabled]="HardScreenVisible"  [selected]="SoftScreenVisible">
            <app-order-soft-contact-lens></app-order-soft-contact-lens>
        </p-tabPanel>
        <!-- *ngIf="hardcontactlens" -->
        <p-tabPanel header="Hard Contact Lens"  [disabled]="!HardScreenVisible" [selected]="HardScreenVisible">
            <app-order-hard-contact-lens></app-order-hard-contact-lens>
        </p-tabPanel>
        <p-tabPanel header="Other Details" [selected]="OtherScreenVisible">
            <app-order-other-details></app-order-other-details >
        </p-tabPanel>
        <p-tabPanel header="Shipping Details" *ngIf="ShippingEnableStatus" [selected]="ShippingScreenVisible">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <app-order-shipping-details></app-order-shipping-details>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>



<!-- Add/Modify Patient Info Sidebar  -->
<p-sidebar [(visible)]="addPatientInfoSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-patientinfo-sidebar">
    <div class="card">
        <div class="card-header">Add/Modify Patient Demographics</div>
        <div class="card-body">
            <div class="row">
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary" (click)="addPatientInfoSidebar = false">Save</button>
            </form>
        </div>
    </div>
</p-sidebar>
<!-- End Add/Modify Patient Info Sidebar -->
<app-bottom-button-group></app-bottom-button-group>