<form id=contactLensconfiguration [formGroup]="contactLensconfigurationForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add Configuration</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row form-row">
                        <div class="form-group col-md-4">
                            <label> UPC </label>
                            <span class="text-danger" *ngIf="contactLensconfigurationForm.controls.upc.hasError('required')"> *
                            </span>
                            <input type="text" class="form-control" formControlName="upc">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Material </label>
                            <select class="form-control" formControlName="material_id">
                                <option *ngFor="let material of materialsValues" [value]="material.value">{{material.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Color </label>
                            <select class="form-control" formControlName="color_id">
                                <!-- <option [value]="null">Select Color</option> -->
                                <option *ngFor="let col of colors" [value]="col.Id">{{col.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-md-2">
                            <label> Base Curve </label>
                            <input type="text" class="form-control" formControlName="basecurve">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Diameter </label>
                            <input type="text" class="form-control" formControlName="diameter">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Sphere </label>
                            <select class="form-control" formControlName="sphere">
                                <option *ngFor="let item of RxSphereValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                    [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label> Cylinder </label>
                            <select class="form-control" formControlName="cylinder">
                                <option *ngFor="let item of RxCylinderValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                    [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Axis </label>
                            <select class="form-control" formControlName="axis">
                                <option *ngFor="let axis of AxisValues " [selected]="axis.id === 0" [ngValue]="axis.id">{{axis.id}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Add Power </label>
                            <select class="form-control" formControlName="addpower">
                                <option *ngFor="let item of RxAddValues" [ngClass]="{'value-positive-bg': item.id > 0, 'value-negative-bg': item.id < 0, 'bg-primary': item.id == 'PL'}"
                                    [ngValue]="item.id">{{item.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-md-2">
                            <label> Multifocal </label>
                            <select class="form-control" formControlName="multifocal">
                                <option value="">Select </option>
                                <option value="Distance">Distance</option>
                                <option value="Near">Near</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Cost </label>
                            <input type="text" class="form-control" formControlName="price">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Purchased </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-2">
                            <label> Sold </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-2">
                            <label>On-Hand </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-2">
                            <label>On Order Qnty </label>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="form-group col-md-2">
                            <label> Committed </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Reorder Point </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Max Inv </label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                <div class="border p-2 mt-3 bg-light">
                    <div class="row form-row">
                        <div class="form-group col-md-2">
                            <label>Location</label>
                            <select formControlName="locationvalue" (change)="checklocationduplicates()" class="form-control">   
                                   
                                    <option *ngFor="let loc of locations" [ngValue]="loc.Id">{{loc.Name}}</option>
                                </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label>Order Qty </label>
                            <input  type="text" class="form-control" formControlName="order_qty"  >
                        </div>
                        <div class="form-group col-md-2">
                            <label>Reorder </label>
                            <input    type="text" class="form-control" formControlName="reorder">
                        </div>                        
                        <div class="form-group col-md-2">
                            <label>Old Qty </label>
                            <input   type="text" class="form-control" formControlName="quantitysold">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Purchase Qty </label>
                            <input  type="text" class="form-control" formControlName="quantitypurchased">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Cost </label>
                            <input type="text" class="form-control" formControlName="cost">
                        </div>
                        <div class="form-group col-md-2">
                            <label>Inventory </label>
                            <input  type="text" class="form-control" formControlName="max_inventory">
                        </div>
                        <div class="form-group col-md-4">
                            <label class="label-empty-16"></label>
                            <div>
                                <button class="btn btn-primary" (click)="AddUpdateLocations()">Add/Update</button>
                                <button class="btn btn-default" (click)="deleteconfiglocation()"  >Delete</button> 
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">

                                    <p-table #dtlocationconfig [value]="contactlenslistconfigurationslist" class="ecl-table" [scrollable]="true" [rows]="11" [paginator]="true"
                                    (onRowSelect)="onRowConfigurationLocationSelect($event)" [resizableColumns]="true" [reorderableColumns]="true"selectionMode="single" [responsive]="true" scrollHeight="55vh">
                                        <ng-template pTemplate="colgroup" let-columns>
                                            <colgroup>

                                                <col *ngFor="let col of Contactlensconfiglocationcolumns" [ngClass]="{'hidden': !col.visible}" style="width:150px">
                                            </colgroup>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-type>
                                            <tr>
                                                <th *ngFor="let col of Contactlensconfiglocationcolumns" [ngClass]="{'hidden': !col.visible}" pReorderableColumn pResizableColumn>
                                                    {{col.header}}

                                                </th>
                                            </tr>

                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="Contactlensconfiglocationcolumns">
                                            <tr [pSelectableRow]="rowData">

                                                <td *ngFor="let col of Contactlensconfiglocationcolumns" [ngClass]="{'hidden': !col.visible}">
                                                    {{rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>

                                    </p-table>

                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-default float-right" (click)="cancel()">Cancel </button>
                <button type="button" class="btn btn-primary float-right" (click)="savecontactlensconfiguration()" [disabled]="!formDir.form.valid">OK</button>
            </div>
        </div>
    </div>
</form>