<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-4 float-left navbar-title">
            <h2>Supplier/Labs</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-8">
            <li class="nav-item">
                <a class="nav-link" (click)="addSupplierLabsclick()">
                    <i class="ti-plus"></i> Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="updateSuppliers()">
                    <i class="icon-edit"></i> Modify</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-close"></i> Delete</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">
                    <i class="ti-files"></i> Duplicate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="DataViewdialogBox()">
                        <i class="ti-layout-column3"></i> Data View</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="sortallinventory = true">
                    <i class="ti-exchange-vertical"></i> Sort</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="reset(dt)">
                    <i class="ti-reload"></i> Refresh</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="icon-more2"></i> More</a>
                <ul class="more dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" (click)="supplierAdvancedFilterClick()" >Advanced Filter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Import VSP Lab</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Import LOD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">LOD Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">E-Documents</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <div class="table-responsive">
            <p-table #dt [value]="suppliergridobj" class="ecl-table" [scrollable]="true" [resizableColumns]="true" [reorderableColumns]="true"
                [responsive]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" [rows]="20" [paginator]="true" selectionMode="single"
                [style]="{width:'100%'}" scrollHeight="65vh">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of supplierscolumns" style="width:120px" [ngClass]="{'hidden': !col.visible}">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <!-- <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th> -->
                        <th *ngFor="let col of supplierscolumns"  pReorderableColumn
                        pResizableColumn [pSortableColumn]="col.field" [ngClass]="{'hidden': !col.visible}">
                            {{col.header}}
                            <p-sortIcon [field]="col.field"></p-sortIcon>
                        </th>
                    </tr>
                    <!-- <tr>
                        <th *ngFor="let col of supplierscolumns" [ngSwitch]="col.field" [ngClass]="{'hidden': !col.visible}">

                            <input *ngSwitchCase="'id'" class="form-control" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                [(ngModel)]="searchValue">
                            <input *ngSwitchCase="'vendor_name'" class="form-control" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                [(ngModel)]="searchName">
                            <input *ngSwitchCase="'fax'" class="form-control" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                [(ngModel)]="searchfax">
                            <input *ngSwitchCase="'tel_num'" class="form-control" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"
                                [(ngModel)]="searchphone">
                            <input *ngSwitchCase="'email'" class="form-control" pInputText type="text" name="upc" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="searchemail">
                            <input *ngSwitchCase="'vendor_address'" class="form-control" pInputText type="text" name="upc" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="searchaddress">
                            <input *ngSwitchCase="'mobile'" class="form-control" pInputText type="text" name="upc" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="searchmobile">
                            <input *ngSwitchCase="'zip'" class="form-control" pInputText type="text" name="upc" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="searchzip">
                            <input *ngSwitchCase="'city'" class="form-control" pInputText type="text" name="upc" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="searchcity">
                            <input *ngSwitchCase="'state'" class="form-control" pInputText type="text" name="upc" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [(ngModel)]="searchstate">
                        </th>
                    </tr> -->
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-supplier>
                    <tr [pSelectableRow]="rowData" (dblclick)="DoubleClickSuppliers(rowData)">
                        <!-- <td><p-tableCheckbox [value]="supplier"></p-tableCheckbox> </td>  -->
                        <td *ngFor="let col of supplierscolumns" [ngSwitch]="col.checkbox" [ngClass]="{'hidden': !col.visible}">
                            <!-- <p-checkbox  *ngSwitchCase=true  [ngModel]="supplier[col.field]"  binary="true" ></p-checkbox>                                                 -->
                            <label *ngSwitchCase=false>{{supplier[col.field]}} </label>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<!-- Add supplier -->
<div *ngIf="addSupplierLabs">
    <p-sidebar [(visible)]="addSupplierLabs" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70">
        <app-add-supplier-lab (addSuplierEvent)="addSuplierEvent($event)"></app-add-supplier-lab>
    </p-sidebar>
</div>

<p-dialog class="dataview-popup" header="Data View" [(visible)]="display" [modal]="true" [responsive]="true" [width]="150"
    [minWidth]="200" [minY]="70">
    <div class="card">
        <div class="card-body">
            <ul class="list-unstyled">
                <mat-checkbox id="selectAll" [checked]="samplevisible" (change)="checkBoxClick('selectAll' ,$event)">
                    <span>Select All</span>
                </mat-checkbox>
                <li *ngFor="let col of supplierscolumns">
                    <mat-checkbox id="{{col.header}}" [checked]="col.visible" (change)="checkBoxClick(col.header, $event)">
                        <span [innerHTML]="col.header"></span>
                    </mat-checkbox>
                </li>
            </ul>
        </div>
    </div>
</p-dialog>

<!-- Sort All Inventory -->
<p-sidebar [(visible)]="sortallinventory" position="right" [baseZIndex]="10000" class="ecl-sidebar w-25">
    <!-- <sort-all-inventory></sort-all-inventory> -->
</p-sidebar>

<!-- Advanced Filter -->
<p-sidebar [(visible)]="supplierAdvancedFilterSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar eli-sidebar-w40">
    <app-advanced-filter (supplierAdvSearch)="supplierAdvSearchEvent($event)"></app-advanced-filter>
</p-sidebar>
