<div class="card">
    <div class="card-header"> Transfer Inventory</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <h4>Transfer form (Sending) </h4>
                <div class="table-responsive mb-4">
                    <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'100'}"
                        scrollHeight="55vh">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="float-left"> Location </th>
                                <th class="float-right"> Quantity </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-type>
                            <tr>
                                <td></td>
                                <td> <input type="text" class="form-control"></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-sm-12">
                <h4>Transfer To (Receiving) </h4>
                <div class="table-responsive">
                    <p-table [value]="" class="ecl-table" [scrollable]="true" [style]="{width:'100%'}" scrollHeight="200px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="float-left"> Location </th>
                                <th class="float-right"> Quantity </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-type>
                            <tr>
                                <td></td>
                                <td> <input type="text" class="form-control"></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-default float-right">Cancel </button>
        <button type="button" class="btn btn-primary float-right">Save</button>
    </div>
</div>