<form>
<div class="card" [formGroup]="AdvanceSearchForm" >       
    <div class="card-header">Advanced Filter</div>
    <div class="card-body">
        <div class="row advanced-Filter">
            <div class="form-group col-md-6">
                <label>Location</label>
                <select class="form-control"  [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>ID</label>
                <input type="text" class="form-control" formControlName="Id">
            </div>
            <div class="form-group col-md-6">
                <label>Manufacturer</label>
                <!-- <select *ngSwitchCase="'Manufacturer'" name="manufacturer" id="manufacturerId" class="form-control" (change)="objChanged($event)">
                    <option [ngValue]="null">Select Manufacturer</option>
                    <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                </select> -->
                <select class="form-control" formControlName="manufacturerId">
                    <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Lens Name</label>
                <input type="text" class="form-control" readonly='true'>
            </div>
            <div class="form-group col-md-6 ">
                <label>Rep Schedule</label>
                <select class="form-control" [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>

            <div class="form-group col-md-6 ">
                <label>Type</label>
                <select class="form-control"  [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>

            <div class="form-group col-md-6 ">
                <label>Style</label>
                <select class="form-control"  [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6 "  >
                <label>Colour</label>
                <select class="form-control" [disabled]="true">    
                    <option *ngFor="let col of colors" [ngValue]="col.Id">{{col.Name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Default Price</label >
                <select class="form-control"  [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6 ">
                <label>Location Price</label>
                <select class="form-control" [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>6 Months</label>
                <select class="form-control" [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6 ">
                <label>12 Months</label>
                <select class="form-control" [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Procedure Code</label>
                <select class="form-control" [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6 ">
                <label>Warranty</label>
                <select class="form-control" [disabled]="true">
                    <option selected>Select</option>
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="form-group col-md-6 ">
                <label>Last Updated</label>
                <div class="row">
                    <div class="col-sm-6">
                        <p-calendar [disabled]="true" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>
                    <div class="col-sm-6">
                        <p-calendar [disabled]="true" [showIcon]="true" dateFormat="mm/dd/yy" placeholder="MM/DD/YYYY" [monthNavigator]="true" [yearNavigator]="true" yearRange={{this.app.maxMinYears}}></p-calendar>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="clearfix">
            <button type="button" class="btn btn-primary float-right" (click)="advanceSearch()" >Ok</button>
            <button type="button" class="btn btn-default float-right" (click)="clearAll()">Clear All</button>
            <div class="form-group float-left mt-2">
                <p-checkbox name="contains" value="Contains" label="Contains"></p-checkbox>
            </div>
        </div>
    </div>
</div>
</form>

<!-- <select *ngSwitchCase="'Manufacturer'" name="manufacturer" id="manufacturerId" class="form-control" (change)="objChanged($event)">
    <option [ngValue]="null">Select Manufacturer</option>
    <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
</select>
<select *ngSwitchCase="'Brand'" name="framebrand" id="brandId" class="form-control" (change)="objChanged($event)">
    <option [ngValue]="null">Select Brand</option>
    <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
</select>
<select *ngSwitchCase="'Color'" name="framecolor" id="colorId" class="form-control" (change)="objChanged($event)">
    <option [ngValue]="null">Select Color</option>
    <option *ngFor="let color of Colors" [ngValue]="color.Id">{{color.Name}}</option>
</select> -->