<form [formGroup]="importForm">
  <div class="card">
    <div class="card-header">Physical Count Import Files</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <h5>Files Imported</h5>
          <div class="table-responsive">
            <p-table [value]="files" class="ecl-table" [scrollable]="true" [style]="{ width: '100%' }" scrollHeight="200px">
              <ng-template pTemplate="header">
                <tr>
                  <th class="check-box"></th>
                  <th>File Name</th>
                  <th>Result</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-files>
                <tr (click)=loadFileAgain(files.file_id)>
                  <td>
                    <p-checkbox 
                      [formControl]="importForm.controls['selectedFiles']" 
                      [value]=files.file_id>
                    </p-checkbox>
                  </td>
                  <td>{{files.file_name}}</td>
                  <td>{{files.total_results}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
        <div class="col-md-6">
          <h5>File Detail</h5>
          <div class="table-responsive">
            <p-table #dt
                [lazy]="true"
                [value]="items" 
                [paginator]="true" 
                class="ecl-table" 
                [scrollable]="true" 
                [style]="{ width: '100%' }"
                [rows]="15" 
                [totalRecords]="total" 
                [loading]="loading"
                (onLazyLoad)="lazyLoadFileItems($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th>Line</th>
                  <th>UPC</th>
                  <th>Quantity</th>
                  <th>Result</th>
                </tr>
              </ng-template>
              <ng-template let-i="rowIndex" pTemplate="rowexpansion" pTemplate="body" let-item>
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{item.upc}}</td>
                  <td>{{item.quantity}}</td>
                  <td [innerHTML]="(item.status == 0) ? '<span class=\'badge badge-success\'>Available</span>' : '<span class=\'badge badge-danger\'>Not Avaiable</span>'"></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer text-right" *ngIf="validBatch()">

      <div class="row">
        <div class="col-md-7 m-auto">
          <p-progressBar *ngIf="progressBar" mode="indeterminate"></p-progressBar> 
        </div>
        <div class="col-md-5">
          <button type="button" class="btn btn-fileupload btn-primary">
            <span> Import File</span>
            <input formControlName="fileToUpload" (change)='importUserFile($event)' type='file' accept=".xls,.csv">
          </button>
          <button type="button" (click)="deleteFile()" class="btn btn-primary">Delete</button>
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>

    </div> 
  </div>
</form>
