<!-- Frame Details Inventory Sidebar -->

<form [formGroup]="FramesGroupForms">
    <div class="card">
        <div class="card-header">Frame Details</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview">
                        <p-tabPanel header="Frame Details">
                            <div formGroupName="FramesDetailsForm">
                            <h4>Details</h4>
                            <div class="row form-row">
                                <div class="form-group col-md-4">
                                    <label>Manufacturer </label>
                                    <span class="text-danger">  </span>
                                    <select class="form-control" formControlName="manufacturer_id">
                                        <option *ngFor="let manuf of Manufacturers" [ngValue]="manuf.Id">{{manuf.Name}}</option>
                                    </select>
                               
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Collection </label>
                                    <!-- <span class="text-danger" *ngIf="FarmesForm.controls['brandId'].hasError('required')">
                                        * </span> -->
                                    <select class="form-control" formControlName="brand_id">
                                        <option *ngFor="let Brand of Brands" [ngValue]="Brand.Id">{{Brand.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Frame Type </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <select class="form-control" formControlName="type_id">
                                        <option [ngValue]="null">Select Frame Type</option>
                                        <option *ngFor="let Ftype of framesTypeDropDown" [ngValue]="Ftype.Id">{{Ftype.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Rim Type </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <select class="form-control" formControlName="rimtypeid">
                                        <option *ngFor="let Rtype of framesRimType" [ngValue]="Rtype.Id">{{Rtype.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Gender </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <select class="form-control" formControlName="gender">
                                        <option [ngValue]="null">Select Gender</option>
                                        <option *ngFor="let gender of genderDropDown" [ngValue]="gender.Id">{{gender.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Status </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <select class="form-control" formControlName="status">
                                        <option [ngValue]="null">Select Status</option>
                                        <option *ngFor="let stat of activestatus" [ngValue]="stat.Id">{{stat.Name}}</option>
                                    </select>


                                </div>
                                    <div class="form-group col">
                                        <label>UPC Type</label>
                                        <select class="form-control" formControlName="upctypeid">
                                            <option *ngFor="let UPCtype of framesUpcType" [ngValue]="UPCtype.Id">{{UPCtype.Name}}</option>
                                        </select>
                                        <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                    </div>
                                </div>
                    
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Eye </label>
                                    <input type="text" class="form-control" formControlName="eyesize">
                                </div>
                                <div class="form-group col">
                                    <label>A </label>
                                    <input type="text" class="form-control" formControlName="a">
                                </div>
                                <div class="form-group col">
                                    <label>B </label>
                                    <input type="text" class="form-control" formControlName="b">
                                </div>
                                <div class="form-group col">
                                    <label>Ed </label>
            <input type="text" class="form-control" formControlName="ed">
                                </div>
                                <div class="form-group col">
                                    <label>Bridge </label>
                                    <input type="text" class="form-control" formControlName="bridge">
                                </div>
                                <div class="form-group col">
                                    <label>Temple </label>
                                    <input type="text" class="form-control" formControlName="temple">
                                </div>
                                <div class="form-group col">
                                    <label>Lens Range</label>
                                    <div class="input-group mb-2">
                                        <input type="text" class="form-control" (click)="LensRangeDataDisaplay()"
                                            formControlName="frame_lens_range_id">
                                        <!-- <div class="input-group-append">
                                            <span class="input-group-text"> <i class="ti-angle-down"></i> </span>
                                        </div> -->
                                        <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                        <div class="input-group-append">
                                            <button class="btn btn-space" (click)="DisaplayLensRange()" type="button">
                                                <i class="ti-more-alt"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="lensrange-table" *ngIf="LensRangeDataDropdown">
                                        <div class="table-responsive">
                                            <p-table [value]="LensRangeData" class="ecl-table ecl-ptable" [scrollable]="true"
                                                [style]="{width:'400px'}" scrollHeight="18vh" selectionMode="single">
                                                <ng-template pTemplate="header">
                                                    <tr>
                                                        <th class="text-right">Sphere Min</th>
                                                        <th class="text-right">Sphere Max </th>
                                                        <th class="text-right">Cylinder Max</th>
                                                        <th class="text-right">Min PD</th>
                                                    </tr>
                                                </ng-template>
                                                <ng-template pTemplate="body" let-lensdatalist>
                                                    <tr [pSelectableRow]="lensdatalist" (dblclick)="DoubleClickLensRange(lensdatalist)">
                                                        <td class="text-right">{{lensdatalist.sphere_min}}</td>
                                                        <td class="text-right">{{lensdatalist.sphere_max}}</td>
                                                        <td class="text-right">{{lensdatalist.cylinder_max}}</td>
                                                        <td class="text-right">{{lensdatalist.min_pd}}</td>
                                                    </tr>
                                                </ng-template>
                                            </p-table>
                                        </div>
                                    </div>
                            </div>
                        </div>    
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Default Retail </label>
                                    <input type="text" class="form-control" formControlName="retail_price">
                                </div>
                                <div class="form-group col">
                                    <label>Cost </label>
                                    <input type="text" class="form-control" formControlName="wholesale_cost">
                                </div>
                                <div class="form-group col">
                                    <label>Group Cost </label>
                                    <input type="text" class="form-control" formControlName="groupcost">
                                </div>
                                <div class="form-group col">
                                    <label>Source </label>
                                    <input type="text" class="form-control" formControlName="sourceid">
                                </div>
                                <div class="form-group col">
                                    <label>MSPR </label>
                                    <input type="text" class="form-control" formControlName="msrp">
                                </div>
                                <div class="form-group col">
                                    <label>Procedure Code </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <p-autoComplete [suggestions]="filteredProcCodes" (completeMethod)="filterProceduresCodes($event)"
                                       [minLength]="1" [dropdown]="true" formControlName="procedure_code">
                                        <ng-template let-brand pTemplate="item">
                                            <div class="ui-helper-clearfix" > 
                                                <div>{{brand}}</div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Structure </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <select class="form-control" formControlName="structure_id">
                                        
                                        <option *ngFor="let Structure of StructureDropData" [ngValue]="Structure.Id">{{Structure.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Spiff </label>
                                    <input type="text" class="form-control" formControlName="spiff">
                                </div>
                                <div class="form-group col">
                                    <label>Commission Type </label>
                                    <!-- <input type="text" class="form-control"> -->
                                    <select class="form-control" formControlName="commission_type_id">
                                        <option *ngFor="let Type of TypeDropData" [ngValue]="Type.Id">{{Type.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <label>Amount </label>
                                    <input type="text" class="form-control" formControlName="amount">
                                </div>
                                <div class="form-group col">
                                    <label>Gross Percentage </label>
                                    <input type="text" class="form-control" formControlName="gross_percentage">
                                </div>
                            </div>

                            <h4>Location</h4>
                            <div class="row form-row d-flex justify-content-between">
                                <div class="form-group col">
                                    <label>Retail </label>
                                    <input type="text" class="form-control" formControlName="retail_price" >
                                </div>
                                <div class="form-group col">
                                    <label>Cost </label>
                                    <input type="text" class="form-control" >
                                </div>
                                <div class="form-group col">
                                    <label>Group Cost </label>
                                    <input type="text" class="form-control" formConrolName="groupcost">
                                </div>
                                <div class="form-group col">
                                    <label>Source </label>
                                    <input type="text" class="form-control" formControlName="sourceid">
                                </div>
                                <div class="form-group col">
                                    <label>Max Inventory </label>
                                    <input type="text" class="form-control" >
                                </div>
                                <div class="form-group col">
                                    <label>Reorder Point </label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div> 
                        </p-tabPanel>
                        <p-tabPanel header="Style and Materials">
                            <div formGroupName="FramesStylesForm">
                            <div class="row form-row">
                                <div class="col-4">
                                    <h5>Styles</h5>
                                    <p-listbox [options]="stylcopy" formControlName="styleIds" checkbox="checkbox"
                                        multiple="multiple" filter="filter" optionLabel="name" [style]="{'width':'100%'}">
                                        <p-header>
                                            <b> Valid Lens Styles</b>
                                        </p-header>
                                    </p-listbox>
                                </div>
                                <div class="col-4 ml-4">
                                    <h5>Materials</h5>
                                    <p-listbox [options]="materials" formControlName="materialIds" multiple="multiple" checkbox="checkbox" filter="filter"
                                        optionLabel="name" [style]="{'width':'100%'}" [listStyle]="{'max-height':'38vh'}" >
                                        <p-header>
                                            <b>Valid Lens Materials</b>
                                        </p-header>
                                    </p-listbox>
                                </div>
                            </div>
                           </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form class="form-inline float-right">
                <button type="button" class="btn btn-primary" (click)="save()" >Ok</button>
                <button type="button" class="btn btn-default" (click)="closeClick()">Cancel </button>
            
            </form>
        </div>
        <!-- Add Lens Range -->
<div *ngIf="selectLensRange">
    <p-sidebar [(visible)]="selectLensRange" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-1 eli-sidebar-w100">
        <app-frames-lens-range (lensrangeOutput)="lensRangeevent($event)"></app-frames-lens-range>
    </p-sidebar>
</div>
    </div>
</form>