<form>
    <div class="card">
        <div class="card-header"> Procedure Code</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <p-table [value]="procedureCodeGrid" class="ecl-table ecl-ptable" [paginator]="true"
                         [rows]="15" [scrollable]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)" selectionMode="single">
                            <ng-template pTemplate="header">
                                <tr>
                                   
                                    <th>Id</th>
                                    <th>Procedure Code</th>
                                    <th>Description</th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-procedureCodeGrid>
                                <tr [pSelectableRow]="procedureCodeGrid" (dblclick)="DoubleClickCpt(procedureCodeGrid)">
                                    <td>{{procedureCodeGrid.cpt_fee_id}}</td>
                                    <td>{{procedureCodeGrid.cpt_prac_code}}</td>
                                    <td>{{procedureCodeGrid.cpt_desc}}</td>
                                   
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-default float-right" (click)="onCancleClick()">Cancel </button>
            <button type="button" class="btn btn-primary float-right" (click)="onOkClick()">OK</button>
        </div>
    </div>
</form>
