<form id=addsupplier [formGroup]="SupplierForm" #formDir="ngForm" novalidate>
    <div class="card">
        <div class="card-header">Add/Modify Supplier/Labs</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p-tabView class="ecl-tabview">
                        <p-tabPanel header="General">
                            <h5>Supplier Details</h5>
                            <div class="row form-row">
                                <div class="form-group col-md-4  ">
                                    <label>Supplier
                                        <span class="text-danger" *ngIf="SupplierForm.controls['vendor_name'].hasError('required')">
                                            * </span>
                                    </label>
                                    <input type="text" formControlName="vendor_name" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Contact</label>
                                    <input type="text" formControlName="contact_name" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Title</label>
                                    <input type="text" formControlName="contacttitle" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Website</label>
                                    <input type="text" formControlName="website" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Address Line 1</label>
                                    <input type="text" formControlName="vendor_address" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Address Line 2</label>
                                    <input type="text" formControlName="address2" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>City</label>
                                    <input type="text" formControlName="city" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>State/Prov</label>
                                    <input type="text" formControlName="state" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Zip/Postal Code</label>
                                    <input type="text" formControlName="zip" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Phone</label>
                                    <input type="text" formControlName="tel_num" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>Fax</label>
                                    <input type="text" formControlName="fax" class="form-control">
                                </div>
                                <div class="form-group col-md-4  ">
                                    <label>E-mail</label>
                                    <input type="text" formControlName="email" class="form-control">
                                </div>
                            </div>
                            <hr>
                            <div class="row form-row ">
                                <div class="col-md-12 form-group">
                                    <div class="form-check-inline col-md-2 mr-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" formControlName="frames"
                                                name="Frame">Frames
                                        </label>
                                    </div>
                                    <div class="form-check-inline col-md-2 mr-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input" formControlName="lenses" name="lenses">Lenses
                                        </label>
                                    </div>
                                    <!-- <div class="form-check-inline col-md-2 mr-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" value="" class="form-check-input">WareHouse
                                        </label>
                                    </div> -->
                                    <div class="form-check-inline col-md-2 mr-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" formControlName="contacts" class="form-check-input">Contacts
                                        </label>
                                    </div>
                                    <div class="form-check-inline col-md-2 mr-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" formControlName="other" class="form-check-input">Other
                                        </label>
                                    </div>
                                    <div class="form-check-inline col-md-2 mr-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" formControlName="lab" class="form-check-input">Lab
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Location (Note: No location specifiy means it applies to all locations)</label>
                                    <select class="form-control" formControlName="locationid">
                                        <option *ngFor="let location of locations" [ngValue]="location.Id">{{location.Name}}</option>
                                    </select>
                                    <!-- <input type="text" formControlName="location" class="form-control"> -->
                                    <!-- <p-dropdown [options]="" [style]="{'width':'100%'}"></p-dropdown> -->
                                </div>
                            </div>
                            <hr>
                            <div class="row form-row">
                                <div class="form-group col-md-4">
                                    <label>VSP Lab Code</label>
                                    <input type="text" formControlName="vsp_code" class="form-control">
                                </div>
                                <div class="form-group col-md-4 text-nowrap"  >
                                    <label>Job Transmission Method</label>
                                    <select class="form-control" formControlName="jobtransmissionmethod" (change)="selectchange($event)">
                                        <option [ngValue]="null">Select Transmission</option>
                                        <option *ngFor="let batch of bathtransmissions" [ngValue]="batch.Id">{{batch.Name}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Lab ID</label>
                                    <input type="text" formControlName="labid" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Bill Account</label>
                                    <input type="text" formControlName="bill_account" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Ship Account</label>
                                    <input type="text" formControlName="ship_account" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Login</label>
                                    <input type="text" formControlName="vw_login" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Password</label>
                                    <input type="password" formControlName="vw_password" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Fac ID</label>
                                    <input type="text" formControlName="facid" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="display-block">Transfer Type</label>
                                  
                                    <p-radioButton name="transfertype" value="SFTP" formControlName="ftptype" label="SFTP"   (onClick)="onClick()"></p-radioButton>
                                    <p-radioButton class="ml-2" name="transfertype"  formControlName="ftptype" value="FTP" label="FTP"  (onClick)="onClick()" ></p-radioButton>

                                </div>
                                <div class="form-group col-md-3">
                                    <label>FTP User ID</label>
                                    <input type="text" formControlName="ftp_userid" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>FTP Password</label>
                                    <input type="password" formControlName="ftp_pwd" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Server</label>
                                    <input type="text" formControlName="ftp_server" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Port</label>
                                    <input type="text" formControlName="ftp_port" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label>Initial Dir</label>
                                    <input type="text" formControlName="initial_dir" class="form-control">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="" class="label-empty-16"></label>
                                    <button type="button"  class="btn btn-primary btn-block py-2" (click)="Testftpconnection()">{{ftpbuttonName}}
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <div class="row d-flex justify-content-between form-row">
                                        <div class="form-group col-md">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-md-12  ">
                                    <div class="form-group">
                                        <label for="notes">Notes</label>
                                        <textarea class="form-control" rows="3" formControlName="notes" id="notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Details">
                            <div class="row">
                                <div class="col-md-12">
                                    <p-table [value]="details" class="ecl-table">
                                        <ng-template pTemplate="header">
                                            <tr class="text-nowrap">
                                                <th>Location</th>
                                                <th>Lab ID</th>
                                                <th>Bill Account</th>
                                                <th>Ship Account</th>
                                                <th>Fac ID</th>
                                                <th>VWLogin</th>
                                                <th>VWPassword</th>
                                                <th>Plus Days</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-detail>
                                            <tr>
                                                <td>
                                                    <label for="">{{detail.location}}</label>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control">
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-md-6">
                                    <p-table [value]="orderTypes" class="ecl-table">
                                        <ng-template pTemplate="header">
                                            <tr class="text-nowrap">
                                                <th>Default</th>
                                                <th>Order Type</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-type>
                                            <tr>
                                                <td>
                                                    <input type="checkbox"> </td>
                                                <td>
                                                    {{type.type}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <div class="col-md-6">
                                    <p-table [value]="shippings" class="ecl-table">
                                        <ng-template pTemplate="header">
                                            <tr class="text-nowrap">
                                                <th>MVE Shipping Method</th>
                                                <th>CLOD Shipping Method</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-shipping>
                                            <tr>
                                                <td> {{shipping.mve}} </td>
                                                <td>
                                                    <select class="form-control">
                                                        <option selected>Select</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                            </div>
                        </p-tabPanel>
                        <p-tabPanel header="Inventory">
                            <h5>Frame Inventory</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-action">3M Frame</li>
                                        <li class="list-group-item list-group-item-action">MVE: My Vision</li>
                                        <li class="list-group-item list-group-item-action">MVE: My Vision</li>
                                        <li class="list-group-item list-group-item-action">MVE: My Vision</li>
                                        <li class="list-group-item list-group-item-action">MVE: My Vision</li>
                                    </ul>
                                </div>
                            </div>
                            <h5>Contact Inventory</h5>
                            <div class="row">
                                <div class="col-md-12">

                                    <!-- <p-accordion>
                                    <p-accordionTab header="1-800 contact inc">

                                    </p-accordionTab>
                                    <p-accordionTab header="Action" [selected]="true">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p-table [value]="contacts" class="ecl-table">
                                                    <ng-template pTemplate="body" let-contact>
                                                        <tr>
                                                            <td>
                                                                <input type="checkbox"> </td>
                                                            <td> {{contact.action}} </td>
                                                            <td> {{contact.name}} </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                            </div>
                                        </div>

                                    </p-accordionTab>
                                    <p-accordionTab header="Frame Parts">
                                        Frame Parts
                                    </p-accordionTab>
                                    <p-accordionTab header="Rx pads">
                                        Content 4
                                    </p-accordionTab>
                                </p-accordion> -->
                                </div>
                            </div>
                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="clearfix">
                <button type="button" class="btn btn-default float-right" (click)="cancleSuppliers()">Cancel </button>
                <button type="button" class="btn btn-primary float-right" (click)="SaveSupplier();">Save</button>
            </div>
        </div>
    </div>
</form>