<nav class="ecl-subnavbar">
    <div class="container-fluid">
        <div class="col-sm-12 col-md-2 float-left navbar-title">
            <h2>Delivery Module</h2>
        </div>
        <ul class="nav justify-content-end col-sm-12 col-md-10">
            <li class="nav-item">
                <a class="nav-link" (click)="searchorder()">
                    <i class="ti-search"></i> Search
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="deliveryPopup()">
                    <i class="ti-truck"></i> Delivered
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="col-md-12 mt-3 border-bottom">
    <div class="row form-row">
        <div class="form-group col-sm-2">
            <label>Order No</label>
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-space">
                        <i class="ti-bag"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-2">
            <label>Delivered By</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>


<div class="col-md-12 mt-3">
    <div class="border m-auto">
        <p-table #dt [value]="orderlists" [scrollable]="true" [paginator]="true" [rows]="12" [rowsPerPageOptions]="[10]"
            [resizableColumns]="true" [reorderableColumns]="true" [responsive]="true" [reorderableColumns]="true"
            dataKey="ItemId" selectionMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th>Order No</th>
                    <th>Status</th>
                    <th>Delivered Date</th>
                    <th>Location</th>
                    <th>Order Date</th>
                    <th>Patient ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Balance</th>
                    <th>Ins Balance</th>
                    <th>Pat Balance</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orderlist>
                <tr>
                    <td>{{orderlist.orderno}}</td>
                    <td>{{orderlist.status}}</td>
                    <td>{{orderlist.delivereddate}}</td>
                    <td>{{orderlist.location}}</td>
                    <td>{{orderlist.orderdate}}</td>
                    <td>{{orderlist.patientID}}</td>
                    <td>{{orderlist.lastname}}</td>
                    <td>{{orderlist.firstname}}</td>
                    <td>{{orderlist.balance}}</td>
                    <td>{{orderlist.insbalance}}</td>
                    <td>{{orderlist.patbalance}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<!-- Payment search Order -->
<div *ngIf="searchOrderSidebar">
    <p-sidebar [(visible)]="searchOrderSidebar" position="right" [baseZIndex]="10000" class="ecl-sidebar ecl-sidebar-w70 ">
        <app-order-search></app-order-search>
    </p-sidebar>
</div>


<!-- confirm popup -->
<p-confirmDialog width="425" class="dialog-popup" #cd>
    <p-footer>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-files"></i>
        </button>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-export"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="cd.reject()">Yes</button>
        <button type="button" class="btn btn-default" (click)="cd.accept()">No</button>
    </p-footer>
</p-confirmDialog>

<p-dialog class="dialog-popup" header="myCare|MVE" positionLeft="100%" [(visible)]="display" [modal]="true"
    [responsive]="true" [width]="480" [minWidth]="200" [minY]="70">
    
    <p class="m-0">Order 6123 :Delivered successfully.</p>
    <p class="mt-3 mb-0">Order 6121 :This order has an open balance of 10.00</p>
    <p class="m-0">Order 6221 :This order has an open balance of 05.00</p>

    <p class="mt-3">Do you wish to proceed to check out?</p>
    <!-- <p-footer>
        <button type="button" class="btn btn-primary" (click)="onOkClick()">OK</button>
    </p-footer> -->
    <p-footer>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-files"></i>
        </button>
        <button type="button" class="btn btn-default float-left">
            <i class="ti-export"></i>
        </button>
        <button type="button" class="btn btn-primary" (click)="onOkClick()">Yes</button>
        <button type="button" class="btn btn-default" (click)="onOkClick()">No</button>
    </p-footer>
</p-dialog>