.claimstatus{ background-color:#4b4b4b; padding: 4px 4px 8px 4px;}
.claimstatus label{ color:#fff}
.claimstatus .input-group-text{ padding:0px 6px; font-size:12px; border-radius: 0px; background-color:#f7941e!important; color:#fff!important}
.diag .input-group-text{ padding:0px 3px; font-size:12px; border-radius: 0px; background-color:#4a4a4a!important; color:#fff!important; min-width: 18px; text-align:center}

.diag .col-sm-2{ margin-bottom:3px;}
.order-account ul{padding:0px; margin: 0px; list-style: none}
.order-account ul li{padding:0px; margin: 0px; list-style: none; display: inline-block; width: 13.90%}
.chrgtable .table th{padding:3px 1px!important}
.chrgtable .table-responsive{ border:0px solid #000!important}